openapi: 3.0.3
info:
  contact:
    email: help@futureagi.com
  description: The endpoints defined below allow users to programmatically carry out
    various actions on the Future AGI platform.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://futureagi.com/legal
  title: Future AGI Public SDK API
  version: 0.1.0
servers:
- url: https://api.futureagi.com
security:
- X-Api-Key: []
- X-Secret-Key: []
tags:
- name: Alerts
- name: Annotation Queue Discussion
- name: Annotation Queue Items
- name: Annotation Queue Review
- name: Annotation Queues
- name: Datasets
- name: Experiments
- name: Run Tests - Eval Configs
- name: Run Tests - Eval Summary
- name: Scenarios
- name: Simulation Agent Definitions
- name: Simulation Personas
- name: Simulation Run Tests
- name: Simulation Scenarios
- name: Simulation Test Executions
- name: Simulations
- name: Tracing
- name: Users
- name: accounts
- name: model-hub
- name: sdk
- name: simulate
- name: tracer
paths:
  /accounts/organization/members/:
    get:
      description: |-
        Returns UNION of active members + pending/expired invites.
        Status is derived at query time (Active / Pending / Expired).
      operationId: listOrganizationMembers
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: false
        in: query
        name: filter_status
        required: false
        schema:
          items:
            enum:
            - Active
            - Pending
            - Expired
            - Deactivated
            type: string
          type: array
        style: form
      - explode: false
        in: query
        name: filter_role
        required: false
        schema:
          items:
            minLength: 1
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: -created_at
          enum:
          - name
          - -name
          - email
          - -email
          - status
          - -status
          - type
          - -type
          - date_joined
          - -date_joined
          - created_at
          - -created_at
          - org_level
          - -org_level
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberListResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      summary: GET /accounts/organization/members/
      tags:
      - Users
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-accepts:
      - application/json
  /accounts/organization/members/reactivate/:
    post:
      description: |-
        Re-activates a deactivated org membership and restores workspace
        memberships that were soft-deactivated during removal.  If no prior
        workspace memberships exist, the user is added to the default workspace.
      operationId: accounts_organization_members_reactivate_create
      requestBody:
        $ref: '#/components/requestBodies/MemberRemove'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberUserMutationResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      summary: POST /accounts/organization/members/reactivate/
      tags:
      - accounts
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /accounts/organization/members/remove/:
    delete:
      description: |-
        Soft-deactivates OrganizationMembership and cascades to workspace
        memberships.  Signals handle Redis clear + audit log.
      operationId: accounts_organization_members_remove_delete
      requestBody:
        $ref: '#/components/requestBodies/MemberRemove'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberUserMutationResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      summary: DELETE /accounts/organization/members/remove/
      tags:
      - accounts
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /accounts/organization/members/role/:
    post:
      description: Update a member's org level and/or workspace level.
      operationId: accounts_organization_members_role_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberRoleUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberRoleUpdateResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      summary: POST /accounts/organization/members/role/
      tags:
      - accounts
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /accounts/user-info/:
    get:
      description: ""
      operationId: getCurrentUser
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Users
      x-accepts:
      - application/json
  /accounts/workspace/list/:
    get:
      description: Get paginated list of workspaces
      operationId: listWorkspaces
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListPaginatedResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Users
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-accepts:
      - application/json
  /accounts/workspace/switch/:
    post:
      description: Switch to a different workspace with proper validation
      operationId: switchWorkspace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwitchWorkspace'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwitchWorkspaceResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Users
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /accounts/workspace/{workspace_id}/members/:
    get:
      description: |-
        Returns members of a specific workspace.
        Org Admin+ users who auto-access are included with derived WS Admin role.
      operationId: listWorkspaceMembers
      parameters:
      - explode: false
        in: path
        name: workspace_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: false
        in: query
        name: filter_status
        required: false
        schema:
          items:
            enum:
            - Active
            - Pending
            - Expired
            type: string
          type: array
        style: form
      - explode: false
        in: query
        name: filter_role
        required: false
        schema:
          items:
            minLength: 1
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: -created_at
          enum:
          - name
          - -name
          - email
          - -email
          - status
          - -status
          - type
          - -type
          - date_joined
          - -date_joined
          - created_at
          - -created_at
          - ws_level
          - -ws_level
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberListResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      summary: GET /accounts/workspace/<workspace_id>/members/
      tags:
      - Users
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-accepts:
      - application/json
  /accounts/workspace/{workspace_id}/members/remove/:
    delete:
      description: Remove a member from a workspace only (keeps org membership).
      operationId: accounts_workspace_members_remove_delete
      parameters:
      - explode: false
        in: path
        name: workspace_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceMemberRemove'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberUserMutationResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      summary: DELETE /accounts/workspace/<workspace_id>/members/remove/
      tags:
      - accounts
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /accounts/workspace/{workspace_id}/members/role/:
    post:
      description: Update a member's workspace role.
      operationId: accounts_workspace_members_role_create
      parameters:
      - explode: false
        in: path
        name: workspace_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceMemberRoleUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceMemberRoleUpdateResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      summary: POST /accounts/workspace/<workspace_id>/members/role/
      tags:
      - accounts
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/:
    get:
      description: ""
      operationId: listAnnotationQueues
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: include_counts
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAnnotationQueues_200_response'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queues
      x-runtime-request-validation: true
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: createAnnotationQueue
      requestBody:
        $ref: '#/components/requestBodies/AnnotationQueue'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationQueue'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queues
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/for-source/:
    get:
      description: |-
        Find annotation queues for a given source that the current user can annotate.
        Includes queues where:
        - The source is a queue item AND the user is an annotator in that queue
          (regardless of whether the item is explicitly assigned to them)

        Query params:
          - source_type, source_id  (single source)
          - OR sources (JSON array of {source_type, source_id} objects for multi-source lookup)
      operationId: model-hub_annotation-queues_for_source
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: source_type
        required: false
        schema:
          enum:
          - call_execution
          - dataset_row
          - observation_span
          - prototype_run
          - trace
          - trace_session
          type: string
        style: form
      - explode: true
        in: query
        name: source_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sources
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueForSourceResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - model-hub
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-accepts:
      - application/json
  /model-hub/annotation-queues/get-or-create-default/:
    post:
      description: |-
        Get or create the default annotation queue for a project, dataset, or agent definition.
        Default queues are open to all org members (no annotator restriction).

        Body params (one of):
          - project_id
          - dataset_id
          - agent_definition_id
      operationId: model-hub_annotation-queues_get_or_create_default
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueueDefaultRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueDefaultResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - model-hub
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{id}/:
    delete:
      description: |-
        ``BaseModel.delete()`` flips ``deleted=True`` instead of removing
        the row. Attached automation rules go dormant (the scheduler
        filters ``queue__deleted=False``), items stay invisible but
        recoverable, label bindings preserved.

        For truly destructive removal, use the ``hard-delete`` action
        below.
      operationId: archiveAnnotationQueue
      parameters:
      - description: A UUID string identifying this annotation queue.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      summary: Archive a queue (soft delete).
      tags:
      - Annotation Queues
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: getAnnotationQueue
      parameters:
      - description: A UUID string identifying this annotation queue.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationQueue'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queues
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: updateAnnotationQueue
      parameters:
      - description: A UUID string identifying this annotation queue.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AnnotationQueue'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationQueue'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queues
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Only managers of the queue may update queue settings.
      operationId: model-hub_annotation-queues_update
      parameters:
      - description: A UUID string identifying this annotation queue.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AnnotationQueue'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationQueue'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - model-hub
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{id}/add-label/:
    post:
      description: |-
        Add a label to an annotation queue.
        Labels apply to all sources in the queue's project (for default queues).
        Queue items are created lazily when someone actually annotates.
      operationId: addAnnotationQueueLabel
      parameters:
      - description: A UUID string identifying this annotation queue.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/QueueLabelRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueAddLabelResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queues
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{id}/agreement/:
    get:
      description: Calculate inter-annotator agreement metrics.
      operationId: getAnnotationQueueAgreement
      parameters:
      - description: A UUID string identifying this annotation queue.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueAgreementResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queues
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{id}/analytics/:
    get:
      description: "Queue analytics: throughput, annotator performance, label distribution."
      operationId: getAnnotationQueueAnalytics
      parameters:
      - description: A UUID string identifying this annotation queue.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueAnalyticsResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queues
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{id}/export-fields/:
    get:
      description: Return source/label/attribute fields available for dataset export.
      operationId: listAnnotationQueueExportFields
      parameters:
      - description: A UUID string identifying this annotation queue.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueExportFieldsResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queues
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{id}/export-to-dataset/:
    post:
      description: Export queue items to a dataset using a user-editable column mapping.
      operationId: exportAnnotationQueueToDataset
      parameters:
      - description: A UUID string identifying this annotation queue.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueueExportToDatasetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueExportToDatasetResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queues
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{id}/export/:
    get:
      description: Export all items with their annotations.
      operationId: exportAnnotationQueue
      parameters:
      - description: A UUID string identifying this annotation queue.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: export_format
        required: false
        schema:
          enum:
          - json
          - csv
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueExportAnnotationsResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queues
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{id}/hard-delete/:
    post:
      description: |-
        Hard delete cascades through the FK graph (rules, items,
        assignments, scores) via ``on_delete=CASCADE``. There is no
        recovery — callers must pass ``force=true`` AND the queue's
        exact name as ``confirm_name`` so the action can't fire from
        a typo'd request.
      operationId: model-hub_annotation-queues_hard_delete
      parameters:
      - description: A UUID string identifying this annotation queue.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueueHardDeleteRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueHardDeleteResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      summary: Permanently remove a queue + everything attached.
      tags:
      - model-hub
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{id}/progress/:
    get:
      description: ""
      operationId: getAnnotationQueueProgress
      parameters:
      - description: A UUID string identifying this annotation queue.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueProgressResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queues
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{id}/remove-label/:
    post:
      description: Remove a label from an annotation queue.
      operationId: removeAnnotationQueueLabel
      parameters:
      - description: A UUID string identifying this annotation queue.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/QueueLabelRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueRemoveLabelResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queues
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{id}/restore/:
    post:
      description: ""
      operationId: model-hub_annotation-queues_restore
      parameters:
      - description: A UUID string identifying this annotation queue.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/EmptyRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueStatusResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - model-hub
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{id}/update-status/:
    post:
      description: ""
      operationId: updateAnnotationQueueStatus
      parameters:
      - description: A UUID string identifying this annotation queue.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueueStatusRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueStatusResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queues
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{queue_id}/automation-rules/:
    get:
      description: ""
      operationId: model-hub_annotation-queues_automation-rules_list
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model_hub_annotation_queues_automation_rules_list_200_response'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - model-hub
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: model-hub_annotation-queues_automation-rules_create
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AutomationRule'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationRule'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - model-hub
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{queue_id}/automation-rules/{id}/:
    delete:
      description: ""
      operationId: model-hub_annotation-queues_automation-rules_delete
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      - description: A UUID string identifying this automation rule.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - model-hub
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: model-hub_annotation-queues_automation-rules_read
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      - description: A UUID string identifying this automation rule.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationRule'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - model-hub
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: model-hub_annotation-queues_automation-rules_partial_update
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      - description: A UUID string identifying this automation rule.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AutomationRule'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationRule'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - model-hub
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: ""
      operationId: model-hub_annotation-queues_automation-rules_update
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      - description: A UUID string identifying this automation rule.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AutomationRule'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationRule'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - model-hub
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{queue_id}/automation-rules/{id}/evaluate/:
    post:
      description: |-
        Small runs (filter resolves to ≤ ``RULE_RUN_SYNC_THRESHOLD``) finish
        in the HTTP request and return 200 with the result — fast feedback
        for the common case. Large runs (mostly first-ever runs on backlogs
        or rules with wide filters) hand the work to a Temporal activity and
        return 202 immediately. The activity emails creator + queue managers
        on completion.

        The peek is a cheap dry-run (``[:cap+1]`` LIMIT, no COUNT(*)) — sub-
        100ms even on 10M+ row trace tables — so this branch costs little
        even when it ends up taking the sync path.
      operationId: model-hub_annotation-queues_automation-rules_evaluate
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      - description: A UUID string identifying this automation rule.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/EmptyRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationRuleEvaluateResponse'
          description: Response
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationRuleEvaluateAcceptedResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      summary: Trigger a manual rule run with a sync-or-async branch.
      tags:
      - model-hub
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{queue_id}/automation-rules/{id}/preview/:
    get:
      description: Preview how many items match a rule (dry run).
      operationId: model-hub_annotation-queues_automation-rules_preview
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      - description: A UUID string identifying this automation rule.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationRuleEvaluateResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - model-hub
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{queue_id}/items/:
    get:
      description: ""
      operationId: listAnnotationQueueItems
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: false
        in: query
        name: status
        required: false
        schema:
          items:
            minLength: 1
            type: string
          type: array
        style: form
      - explode: false
        in: query
        name: source_type
        required: false
        schema:
          items:
            minLength: 1
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: assigned_to
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: review_status
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ordering
        required: false
        schema:
          enum:
          - created_at
          - -created_at
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAnnotationQueueItems_200_response'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queue Items
      x-runtime-request-validation: true
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: model-hub_annotation-queues_items_create
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/QueueItem'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueItem'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - model-hub
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{queue_id}/items/add-items/:
    post:
      description: ""
      operationId: addAnnotationQueueItems
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddItems'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueAddItemsResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSelectionTooLargeError'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queue Items
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{queue_id}/items/assign/:
    post:
      description: Assign items to one or more annotators.
      operationId: assignAnnotationQueueItems
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignItems'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueAssignItemsResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queue Items
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{queue_id}/items/bulk-remove/:
    post:
      description: ""
      operationId: removeAnnotationQueueItems
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkRemoveItems'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueBulkRemoveItemsResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queue Items
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{queue_id}/items/next-item/:
    get:
      description: |-
        Query params:
          exclude: comma-separated item IDs to skip
          before:  item ID — returns the item immediately before this one in order
          review_status: optional review status filter (for reviewer queues)
          exclude_review_status: optional review status to omit (for annotator queues)
          include_completed: when true, navigation can visit completed items too
      operationId: getNextAnnotationQueueItem
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: exclude
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: review_status
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: exclude_review_status
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: include_completed
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: view_mode
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: include_all_annotations
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueNextItemResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      summary: Get the next or previous item in the queue.
      tags:
      - Annotation Queue Items
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{queue_id}/items/{id}/:
    delete:
      description: ""
      operationId: model-hub_annotation-queues_items_delete
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      - description: A UUID string identifying this queue item.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - model-hub
      x-accepts:
      - application/json
    get:
      description: ""
      operationId: model-hub_annotation-queues_items_read
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      - description: A UUID string identifying this queue item.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueItem'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - model-hub
      x-accepts:
      - application/json
    patch:
      description: ""
      operationId: model-hub_annotation-queues_items_partial_update
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      - description: A UUID string identifying this queue item.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/QueueItem'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueItem'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - model-hub
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: ""
      operationId: model-hub_annotation-queues_items_update
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      - description: A UUID string identifying this queue item.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/QueueItem'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueItem'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - model-hub
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{queue_id}/items/{id}/annotate-detail/:
    get:
      description: Get full annotation workspace data for an item.
      operationId: getAnnotationQueueItemDetail
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      - description: A UUID string identifying this queue item.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: annotator_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: include_completed
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: view_mode
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: review_status
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: exclude_review_status
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: include_all_annotations
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: reserve
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueAnnotateDetailResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queue Items
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{queue_id}/items/{id}/annotations/:
    get:
      description: List all annotations for a queue item (across all annotators).
      operationId: listAnnotationQueueItemAnnotations
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      - description: A UUID string identifying this queue item.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueItemAnnotationsResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queue Items
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{queue_id}/items/{id}/annotations/import/:
    post:
      description: Import annotations from external sources.
      operationId: importAnnotationQueueItemAnnotations
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      - description: A UUID string identifying this queue item.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportAnnotations'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueImportAnnotationsResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queue Items
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{queue_id}/items/{id}/annotations/submit/:
    post:
      description: Submit or update annotations for a queue item.
      operationId: submitAnnotationQueueItemAnnotations
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      - description: A UUID string identifying this queue item.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitAnnotations'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueSubmitAnnotationsResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queue Items
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{queue_id}/items/{id}/complete/:
    post:
      description: Mark item as completed and return next pending item.
      operationId: completeAnnotationQueueItem
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      - description: A UUID string identifying this queue item.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/QueueItemNavigationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueNavigationResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queue Items
      x-runtime-request-validation: true
      x-runtime-response-validation: true
      x-content-type: application/json
      x-accepts:
      - application/json
  /model-hub/annotation-queues/{queue_id}/items/{id}/discussion/:
    get:
      description: List or create non-blocking discussion comments for a queue item.
      operationId: listAnnotationQueueItemDiscussion
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      - description: A UUID string identifying this queue item.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueDiscussionResponse'
          description: Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTextErrorResponse'
          description: Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAPIErrorResponse'
          description: Default error response
      tags:
      - Annotation Queue Discussion
      x-accepts:
      - application/json
    post:
      description: List or create non-blocking discussion comments for a queue item.
      operationId: createAnnotationQueueItemComment
      parameters:
      - explode: false
        in: path
        name: queue_id
        required: true
        schema:
          type: string
        style: simple
      - description: A UUID string identifying this queue item.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscussionCommentRequest'
        required: true
      responses:
        "200":
[...]
