/*
 * Future AGI Public SDK API
 * The endpoints defined below allow users to programmatically carry out various actions on the Future AGI platform.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: help@futureagi.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.futureagi.sdk.api;

import com.futureagi.sdk.ApiClient;
import com.futureagi.sdk.ApiException;
import com.futureagi.sdk.ApiResponse;
import com.futureagi.sdk.Configuration;
import com.futureagi.sdk.Pair;

import com.futureagi.sdk.model.ApiTextErrorResponse;
import com.futureagi.sdk.model.ManagementAPIErrorResponse;
import com.futureagi.sdk.model.QueueReviewItemResponse;
import com.futureagi.sdk.model.ReviewItemRequest;
import java.util.UUID;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.12.0")
public class AnnotationQueueReviewApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public AnnotationQueueReviewApi() {
    this(Configuration.getDefaultApiClient());
  }

  public AnnotationQueueReviewApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * Approve, request changes, or leave reviewer feedback on an item.
   * @param queueId  (required)
   * @param id A UUID string identifying this queue item. (required)
   * @param reviewItemRequest  (required)
   * @return QueueReviewItemResponse
   * @throws ApiException if fails to make API call
   */
  public QueueReviewItemResponse reviewAnnotationQueueItem(String queueId, UUID id, ReviewItemRequest reviewItemRequest) throws ApiException {
    ApiResponse<QueueReviewItemResponse> localVarResponse = reviewAnnotationQueueItemWithHttpInfo(queueId, id, reviewItemRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * Approve, request changes, or leave reviewer feedback on an item.
   * @param queueId  (required)
   * @param id A UUID string identifying this queue item. (required)
   * @param reviewItemRequest  (required)
   * @return ApiResponse&lt;QueueReviewItemResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueReviewItemResponse> reviewAnnotationQueueItemWithHttpInfo(String queueId, UUID id, ReviewItemRequest reviewItemRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = reviewAnnotationQueueItemRequestBuilder(queueId, id, reviewItemRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("reviewAnnotationQueueItem", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueReviewItemResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueReviewItemResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueReviewItemResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder reviewAnnotationQueueItemRequestBuilder(String queueId, UUID id, ReviewItemRequest reviewItemRequest) throws ApiException {
    // verify the required parameter 'queueId' is set
    if (queueId == null) {
      throw new ApiException(400, "Missing the required parameter 'queueId' when calling reviewAnnotationQueueItem");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling reviewAnnotationQueueItem");
    }
    // verify the required parameter 'reviewItemRequest' is set
    if (reviewItemRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'reviewItemRequest' when calling reviewAnnotationQueueItem");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{queue_id}/items/{id}/review/"
        .replace("{queue_id}", ApiClient.urlEncode(queueId.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(reviewItemRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
