/*
 * Future AGI Public SDK API
 * The endpoints defined below allow users to programmatically carry out various actions on the Future AGI platform.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: help@futureagi.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.futureagi.sdk.api;

import com.futureagi.sdk.ApiClient;
import com.futureagi.sdk.ApiException;
import com.futureagi.sdk.ApiResponse;
import com.futureagi.sdk.Configuration;
import com.futureagi.sdk.Pair;

import com.futureagi.sdk.model.AddItems;
import com.futureagi.sdk.model.ApiSelectionTooLargeError;
import com.futureagi.sdk.model.ApiTextErrorResponse;
import com.futureagi.sdk.model.AssignItems;
import com.futureagi.sdk.model.BulkRemoveItems;
import com.futureagi.sdk.model.ImportAnnotations;
import com.futureagi.sdk.model.ListAnnotationQueueItems200Response;
import com.futureagi.sdk.model.ManagementAPIErrorResponse;
import com.futureagi.sdk.model.QueueAddItemsResponse;
import com.futureagi.sdk.model.QueueAnnotateDetailResponse;
import com.futureagi.sdk.model.QueueAssignItemsResponse;
import com.futureagi.sdk.model.QueueBulkRemoveItemsResponse;
import com.futureagi.sdk.model.QueueImportAnnotationsResponse;
import com.futureagi.sdk.model.QueueItemAnnotationsResponse;
import com.futureagi.sdk.model.QueueItemNavigationRequest;
import com.futureagi.sdk.model.QueueNavigationResponse;
import com.futureagi.sdk.model.QueueNextItemResponse;
import com.futureagi.sdk.model.QueueReleaseReservationResponse;
import com.futureagi.sdk.model.QueueSubmitAnnotationsResponse;
import com.futureagi.sdk.model.SubmitAnnotations;
import java.util.UUID;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.12.0")
public class AnnotationQueueItemsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public AnnotationQueueItemsApi() {
    this(Configuration.getDefaultApiClient());
  }

  public AnnotationQueueItemsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * 
   * @param queueId  (required)
   * @param addItems  (required)
   * @return QueueAddItemsResponse
   * @throws ApiException if fails to make API call
   */
  public QueueAddItemsResponse addAnnotationQueueItems(String queueId, AddItems addItems) throws ApiException {
    ApiResponse<QueueAddItemsResponse> localVarResponse = addAnnotationQueueItemsWithHttpInfo(queueId, addItems);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param queueId  (required)
   * @param addItems  (required)
   * @return ApiResponse&lt;QueueAddItemsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueAddItemsResponse> addAnnotationQueueItemsWithHttpInfo(String queueId, AddItems addItems) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = addAnnotationQueueItemsRequestBuilder(queueId, addItems);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("addAnnotationQueueItems", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueAddItemsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueAddItemsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueAddItemsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder addAnnotationQueueItemsRequestBuilder(String queueId, AddItems addItems) throws ApiException {
    // verify the required parameter 'queueId' is set
    if (queueId == null) {
      throw new ApiException(400, "Missing the required parameter 'queueId' when calling addAnnotationQueueItems");
    }
    // verify the required parameter 'addItems' is set
    if (addItems == null) {
      throw new ApiException(400, "Missing the required parameter 'addItems' when calling addAnnotationQueueItems");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{queue_id}/items/add-items/"
        .replace("{queue_id}", ApiClient.urlEncode(queueId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(addItems);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Assign items to one or more annotators.
   * @param queueId  (required)
   * @param assignItems  (required)
   * @return QueueAssignItemsResponse
   * @throws ApiException if fails to make API call
   */
  public QueueAssignItemsResponse assignAnnotationQueueItems(String queueId, AssignItems assignItems) throws ApiException {
    ApiResponse<QueueAssignItemsResponse> localVarResponse = assignAnnotationQueueItemsWithHttpInfo(queueId, assignItems);
    return localVarResponse.getData();
  }

  /**
   * 
   * Assign items to one or more annotators.
   * @param queueId  (required)
   * @param assignItems  (required)
   * @return ApiResponse&lt;QueueAssignItemsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueAssignItemsResponse> assignAnnotationQueueItemsWithHttpInfo(String queueId, AssignItems assignItems) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = assignAnnotationQueueItemsRequestBuilder(queueId, assignItems);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("assignAnnotationQueueItems", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueAssignItemsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueAssignItemsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueAssignItemsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder assignAnnotationQueueItemsRequestBuilder(String queueId, AssignItems assignItems) throws ApiException {
    // verify the required parameter 'queueId' is set
    if (queueId == null) {
      throw new ApiException(400, "Missing the required parameter 'queueId' when calling assignAnnotationQueueItems");
    }
    // verify the required parameter 'assignItems' is set
    if (assignItems == null) {
      throw new ApiException(400, "Missing the required parameter 'assignItems' when calling assignAnnotationQueueItems");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{queue_id}/items/assign/"
        .replace("{queue_id}", ApiClient.urlEncode(queueId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(assignItems);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Mark item as completed and return next pending item.
   * @param queueId  (required)
   * @param id A UUID string identifying this queue item. (required)
   * @param queueItemNavigationRequest  (required)
   * @return QueueNavigationResponse
   * @throws ApiException if fails to make API call
   */
  public QueueNavigationResponse completeAnnotationQueueItem(String queueId, UUID id, QueueItemNavigationRequest queueItemNavigationRequest) throws ApiException {
    ApiResponse<QueueNavigationResponse> localVarResponse = completeAnnotationQueueItemWithHttpInfo(queueId, id, queueItemNavigationRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * Mark item as completed and return next pending item.
   * @param queueId  (required)
   * @param id A UUID string identifying this queue item. (required)
   * @param queueItemNavigationRequest  (required)
   * @return ApiResponse&lt;QueueNavigationResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueNavigationResponse> completeAnnotationQueueItemWithHttpInfo(String queueId, UUID id, QueueItemNavigationRequest queueItemNavigationRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = completeAnnotationQueueItemRequestBuilder(queueId, id, queueItemNavigationRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("completeAnnotationQueueItem", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueNavigationResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueNavigationResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueNavigationResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder completeAnnotationQueueItemRequestBuilder(String queueId, UUID id, QueueItemNavigationRequest queueItemNavigationRequest) throws ApiException {
    // verify the required parameter 'queueId' is set
    if (queueId == null) {
      throw new ApiException(400, "Missing the required parameter 'queueId' when calling completeAnnotationQueueItem");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling completeAnnotationQueueItem");
    }
    // verify the required parameter 'queueItemNavigationRequest' is set
    if (queueItemNavigationRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'queueItemNavigationRequest' when calling completeAnnotationQueueItem");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{queue_id}/items/{id}/complete/"
        .replace("{queue_id}", ApiClient.urlEncode(queueId.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(queueItemNavigationRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Get full annotation workspace data for an item.
   * @param queueId  (required)
   * @param id A UUID string identifying this queue item. (required)
   * @param annotatorId  (optional)
   * @param includeCompleted  (optional)
   * @param viewMode  (optional)
   * @param reviewStatus  (optional)
   * @param excludeReviewStatus  (optional)
   * @param includeAllAnnotations  (optional)
   * @param reserve  (optional)
   * @return QueueAnnotateDetailResponse
   * @throws ApiException if fails to make API call
   */
  public QueueAnnotateDetailResponse getAnnotationQueueItemDetail(String queueId, UUID id, UUID annotatorId, Boolean includeCompleted, String viewMode, String reviewStatus, String excludeReviewStatus, Boolean includeAllAnnotations, Boolean reserve) throws ApiException {
    ApiResponse<QueueAnnotateDetailResponse> localVarResponse = getAnnotationQueueItemDetailWithHttpInfo(queueId, id, annotatorId, includeCompleted, viewMode, reviewStatus, excludeReviewStatus, includeAllAnnotations, reserve);
    return localVarResponse.getData();
  }

  /**
   * 
   * Get full annotation workspace data for an item.
   * @param queueId  (required)
   * @param id A UUID string identifying this queue item. (required)
   * @param annotatorId  (optional)
   * @param includeCompleted  (optional)
   * @param viewMode  (optional)
   * @param reviewStatus  (optional)
   * @param excludeReviewStatus  (optional)
   * @param includeAllAnnotations  (optional)
   * @param reserve  (optional)
   * @return ApiResponse&lt;QueueAnnotateDetailResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueAnnotateDetailResponse> getAnnotationQueueItemDetailWithHttpInfo(String queueId, UUID id, UUID annotatorId, Boolean includeCompleted, String viewMode, String reviewStatus, String excludeReviewStatus, Boolean includeAllAnnotations, Boolean reserve) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getAnnotationQueueItemDetailRequestBuilder(queueId, id, annotatorId, includeCompleted, viewMode, reviewStatus, excludeReviewStatus, includeAllAnnotations, reserve);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getAnnotationQueueItemDetail", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueAnnotateDetailResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueAnnotateDetailResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueAnnotateDetailResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getAnnotationQueueItemDetailRequestBuilder(String queueId, UUID id, UUID annotatorId, Boolean includeCompleted, String viewMode, String reviewStatus, String excludeReviewStatus, Boolean includeAllAnnotations, Boolean reserve) throws ApiException {
    // verify the required parameter 'queueId' is set
    if (queueId == null) {
      throw new ApiException(400, "Missing the required parameter 'queueId' when calling getAnnotationQueueItemDetail");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getAnnotationQueueItemDetail");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{queue_id}/items/{id}/annotate-detail/"
        .replace("{queue_id}", ApiClient.urlEncode(queueId.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "annotator_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("annotator_id", annotatorId));
    localVarQueryParameterBaseName = "include_completed";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("include_completed", includeCompleted));
    localVarQueryParameterBaseName = "view_mode";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("view_mode", viewMode));
    localVarQueryParameterBaseName = "review_status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("review_status", reviewStatus));
    localVarQueryParameterBaseName = "exclude_review_status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("exclude_review_status", excludeReviewStatus));
    localVarQueryParameterBaseName = "include_all_annotations";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("include_all_annotations", includeAllAnnotations));
    localVarQueryParameterBaseName = "reserve";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("reserve", reserve));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get the next or previous item in the queue.
   * Query params:   exclude: comma-separated item IDs to skip   before:  item ID — returns the item immediately before this one in order   review_status: optional review status filter (for reviewer queues)   exclude_review_status: optional review status to omit (for annotator queues)   include_completed: when true, navigation can visit completed items too
   * @param queueId  (required)
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @param exclude  (optional)
   * @param before  (optional)
   * @param reviewStatus  (optional)
   * @param excludeReviewStatus  (optional)
   * @param includeCompleted  (optional)
   * @param viewMode  (optional)
   * @param includeAllAnnotations  (optional)
   * @return QueueNextItemResponse
   * @throws ApiException if fails to make API call
   */
  public QueueNextItemResponse getNextAnnotationQueueItem(String queueId, Integer page, Integer limit, String exclude, UUID before, String reviewStatus, String excludeReviewStatus, Boolean includeCompleted, String viewMode, Boolean includeAllAnnotations) throws ApiException {
    ApiResponse<QueueNextItemResponse> localVarResponse = getNextAnnotationQueueItemWithHttpInfo(queueId, page, limit, exclude, before, reviewStatus, excludeReviewStatus, includeCompleted, viewMode, includeAllAnnotations);
    return localVarResponse.getData();
  }

  /**
   * Get the next or previous item in the queue.
   * Query params:   exclude: comma-separated item IDs to skip   before:  item ID — returns the item immediately before this one in order   review_status: optional review status filter (for reviewer queues)   exclude_review_status: optional review status to omit (for annotator queues)   include_completed: when true, navigation can visit completed items too
   * @param queueId  (required)
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @param exclude  (optional)
   * @param before  (optional)
   * @param reviewStatus  (optional)
   * @param excludeReviewStatus  (optional)
   * @param includeCompleted  (optional)
   * @param viewMode  (optional)
   * @param includeAllAnnotations  (optional)
   * @return ApiResponse&lt;QueueNextItemResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueNextItemResponse> getNextAnnotationQueueItemWithHttpInfo(String queueId, Integer page, Integer limit, String exclude, UUID before, String reviewStatus, String excludeReviewStatus, Boolean includeCompleted, String viewMode, Boolean includeAllAnnotations) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getNextAnnotationQueueItemRequestBuilder(queueId, page, limit, exclude, before, reviewStatus, excludeReviewStatus, includeCompleted, viewMode, includeAllAnnotations);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getNextAnnotationQueueItem", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueNextItemResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueNextItemResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueNextItemResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getNextAnnotationQueueItemRequestBuilder(String queueId, Integer page, Integer limit, String exclude, UUID before, String reviewStatus, String excludeReviewStatus, Boolean includeCompleted, String viewMode, Boolean includeAllAnnotations) throws ApiException {
    // verify the required parameter 'queueId' is set
    if (queueId == null) {
      throw new ApiException(400, "Missing the required parameter 'queueId' when calling getNextAnnotationQueueItem");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{queue_id}/items/next-item/"
        .replace("{queue_id}", ApiClient.urlEncode(queueId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "exclude";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("exclude", exclude));
    localVarQueryParameterBaseName = "before";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("before", before));
    localVarQueryParameterBaseName = "review_status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("review_status", reviewStatus));
    localVarQueryParameterBaseName = "exclude_review_status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("exclude_review_status", excludeReviewStatus));
    localVarQueryParameterBaseName = "include_completed";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("include_completed", includeCompleted));
    localVarQueryParameterBaseName = "view_mode";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("view_mode", viewMode));
    localVarQueryParameterBaseName = "include_all_annotations";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("include_all_annotations", includeAllAnnotations));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Import annotations from external sources.
   * @param queueId  (required)
   * @param id A UUID string identifying this queue item. (required)
   * @param importAnnotations  (required)
   * @return QueueImportAnnotationsResponse
   * @throws ApiException if fails to make API call
   */
  public QueueImportAnnotationsResponse importAnnotationQueueItemAnnotations(String queueId, UUID id, ImportAnnotations importAnnotations) throws ApiException {
    ApiResponse<QueueImportAnnotationsResponse> localVarResponse = importAnnotationQueueItemAnnotationsWithHttpInfo(queueId, id, importAnnotations);
    return localVarResponse.getData();
  }

  /**
   * 
   * Import annotations from external sources.
   * @param queueId  (required)
   * @param id A UUID string identifying this queue item. (required)
   * @param importAnnotations  (required)
   * @return ApiResponse&lt;QueueImportAnnotationsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueImportAnnotationsResponse> importAnnotationQueueItemAnnotationsWithHttpInfo(String queueId, UUID id, ImportAnnotations importAnnotations) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = importAnnotationQueueItemAnnotationsRequestBuilder(queueId, id, importAnnotations);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("importAnnotationQueueItemAnnotations", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueImportAnnotationsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueImportAnnotationsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueImportAnnotationsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder importAnnotationQueueItemAnnotationsRequestBuilder(String queueId, UUID id, ImportAnnotations importAnnotations) throws ApiException {
    // verify the required parameter 'queueId' is set
    if (queueId == null) {
      throw new ApiException(400, "Missing the required parameter 'queueId' when calling importAnnotationQueueItemAnnotations");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling importAnnotationQueueItemAnnotations");
    }
    // verify the required parameter 'importAnnotations' is set
    if (importAnnotations == null) {
      throw new ApiException(400, "Missing the required parameter 'importAnnotations' when calling importAnnotationQueueItemAnnotations");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{queue_id}/items/{id}/annotations/import/"
        .replace("{queue_id}", ApiClient.urlEncode(queueId.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(importAnnotations);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * List all annotations for a queue item (across all annotators).
   * @param queueId  (required)
   * @param id A UUID string identifying this queue item. (required)
   * @return QueueItemAnnotationsResponse
   * @throws ApiException if fails to make API call
   */
  public QueueItemAnnotationsResponse listAnnotationQueueItemAnnotations(String queueId, UUID id) throws ApiException {
    ApiResponse<QueueItemAnnotationsResponse> localVarResponse = listAnnotationQueueItemAnnotationsWithHttpInfo(queueId, id);
    return localVarResponse.getData();
  }

  /**
   * 
   * List all annotations for a queue item (across all annotators).
   * @param queueId  (required)
   * @param id A UUID string identifying this queue item. (required)
   * @return ApiResponse&lt;QueueItemAnnotationsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueItemAnnotationsResponse> listAnnotationQueueItemAnnotationsWithHttpInfo(String queueId, UUID id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listAnnotationQueueItemAnnotationsRequestBuilder(queueId, id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listAnnotationQueueItemAnnotations", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueItemAnnotationsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueItemAnnotationsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueItemAnnotationsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listAnnotationQueueItemAnnotationsRequestBuilder(String queueId, UUID id) throws ApiException {
    // verify the required parameter 'queueId' is set
    if (queueId == null) {
      throw new ApiException(400, "Missing the required parameter 'queueId' when calling listAnnotationQueueItemAnnotations");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling listAnnotationQueueItemAnnotations");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{queue_id}/items/{id}/annotations/"
        .replace("{queue_id}", ApiClient.urlEncode(queueId.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param queueId  (required)
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @param status  (optional)
   * @param sourceType  (optional)
   * @param assignedTo  (optional)
   * @param reviewStatus  (optional)
   * @param ordering  (optional)
   * @return ListAnnotationQueueItems200Response
   * @throws ApiException if fails to make API call
   */
  public ListAnnotationQueueItems200Response listAnnotationQueueItems(String queueId, Integer page, Integer limit, List<String> status, List<String> sourceType, String assignedTo, String reviewStatus, String ordering) throws ApiException {
    ApiResponse<ListAnnotationQueueItems200Response> localVarResponse = listAnnotationQueueItemsWithHttpInfo(queueId, page, limit, status, sourceType, assignedTo, reviewStatus, ordering);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param queueId  (required)
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @param status  (optional)
   * @param sourceType  (optional)
   * @param assignedTo  (optional)
   * @param reviewStatus  (optional)
   * @param ordering  (optional)
   * @return ApiResponse&lt;ListAnnotationQueueItems200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ListAnnotationQueueItems200Response> listAnnotationQueueItemsWithHttpInfo(String queueId, Integer page, Integer limit, List<String> status, List<String> sourceType, String assignedTo, String reviewStatus, String ordering) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listAnnotationQueueItemsRequestBuilder(queueId, page, limit, status, sourceType, assignedTo, reviewStatus, ordering);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listAnnotationQueueItems", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ListAnnotationQueueItems200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ListAnnotationQueueItems200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ListAnnotationQueueItems200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listAnnotationQueueItemsRequestBuilder(String queueId, Integer page, Integer limit, List<String> status, List<String> sourceType, String assignedTo, String reviewStatus, String ordering) throws ApiException {
    // verify the required parameter 'queueId' is set
    if (queueId == null) {
      throw new ApiException(400, "Missing the required parameter 'queueId' when calling listAnnotationQueueItems");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{queue_id}/items/"
        .replace("{queue_id}", ApiClient.urlEncode(queueId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("csv", "status", status));
    localVarQueryParameterBaseName = "source_type";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("csv", "source_type", sourceType));
    localVarQueryParameterBaseName = "assigned_to";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("assigned_to", assignedTo));
    localVarQueryParameterBaseName = "review_status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("review_status", reviewStatus));
    localVarQueryParameterBaseName = "ordering";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("ordering", ordering));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Release reservation on an item.
   * @param queueId  (required)
   * @param id A UUID string identifying this queue item. (required)
   * @param body  (required)
   * @return QueueReleaseReservationResponse
   * @throws ApiException if fails to make API call
   */
  public QueueReleaseReservationResponse releaseAnnotationQueueItem(String queueId, UUID id, Object body) throws ApiException {
    ApiResponse<QueueReleaseReservationResponse> localVarResponse = releaseAnnotationQueueItemWithHttpInfo(queueId, id, body);
    return localVarResponse.getData();
  }

  /**
   * 
   * Release reservation on an item.
   * @param queueId  (required)
   * @param id A UUID string identifying this queue item. (required)
   * @param body  (required)
   * @return ApiResponse&lt;QueueReleaseReservationResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueReleaseReservationResponse> releaseAnnotationQueueItemWithHttpInfo(String queueId, UUID id, Object body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = releaseAnnotationQueueItemRequestBuilder(queueId, id, body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("releaseAnnotationQueueItem", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueReleaseReservationResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueReleaseReservationResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueReleaseReservationResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder releaseAnnotationQueueItemRequestBuilder(String queueId, UUID id, Object body) throws ApiException {
    // verify the required parameter 'queueId' is set
    if (queueId == null) {
      throw new ApiException(400, "Missing the required parameter 'queueId' when calling releaseAnnotationQueueItem");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling releaseAnnotationQueueItem");
    }
    // verify the required parameter 'body' is set
    if (body == null) {
      throw new ApiException(400, "Missing the required parameter 'body' when calling releaseAnnotationQueueItem");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{queue_id}/items/{id}/release/"
        .replace("{queue_id}", ApiClient.urlEncode(queueId.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param queueId  (required)
   * @param bulkRemoveItems  (required)
   * @return QueueBulkRemoveItemsResponse
   * @throws ApiException if fails to make API call
   */
  public QueueBulkRemoveItemsResponse removeAnnotationQueueItems(String queueId, BulkRemoveItems bulkRemoveItems) throws ApiException {
    ApiResponse<QueueBulkRemoveItemsResponse> localVarResponse = removeAnnotationQueueItemsWithHttpInfo(queueId, bulkRemoveItems);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param queueId  (required)
   * @param bulkRemoveItems  (required)
   * @return ApiResponse&lt;QueueBulkRemoveItemsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueBulkRemoveItemsResponse> removeAnnotationQueueItemsWithHttpInfo(String queueId, BulkRemoveItems bulkRemoveItems) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = removeAnnotationQueueItemsRequestBuilder(queueId, bulkRemoveItems);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("removeAnnotationQueueItems", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueBulkRemoveItemsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueBulkRemoveItemsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueBulkRemoveItemsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder removeAnnotationQueueItemsRequestBuilder(String queueId, BulkRemoveItems bulkRemoveItems) throws ApiException {
    // verify the required parameter 'queueId' is set
    if (queueId == null) {
      throw new ApiException(400, "Missing the required parameter 'queueId' when calling removeAnnotationQueueItems");
    }
    // verify the required parameter 'bulkRemoveItems' is set
    if (bulkRemoveItems == null) {
      throw new ApiException(400, "Missing the required parameter 'bulkRemoveItems' when calling removeAnnotationQueueItems");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{queue_id}/items/bulk-remove/"
        .replace("{queue_id}", ApiClient.urlEncode(queueId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(bulkRemoveItems);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Mark item as skipped and return next pending item.
   * @param queueId  (required)
   * @param id A UUID string identifying this queue item. (required)
   * @param queueItemNavigationRequest  (required)
   * @return QueueNavigationResponse
   * @throws ApiException if fails to make API call
   */
  public QueueNavigationResponse skipAnnotationQueueItem(String queueId, UUID id, QueueItemNavigationRequest queueItemNavigationRequest) throws ApiException {
    ApiResponse<QueueNavigationResponse> localVarResponse = skipAnnotationQueueItemWithHttpInfo(queueId, id, queueItemNavigationRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * Mark item as skipped and return next pending item.
   * @param queueId  (required)
   * @param id A UUID string identifying this queue item. (required)
   * @param queueItemNavigationRequest  (required)
   * @return ApiResponse&lt;QueueNavigationResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueNavigationResponse> skipAnnotationQueueItemWithHttpInfo(String queueId, UUID id, QueueItemNavigationRequest queueItemNavigationRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = skipAnnotationQueueItemRequestBuilder(queueId, id, queueItemNavigationRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("skipAnnotationQueueItem", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueNavigationResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueNavigationResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueNavigationResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder skipAnnotationQueueItemRequestBuilder(String queueId, UUID id, QueueItemNavigationRequest queueItemNavigationRequest) throws ApiException {
    // verify the required parameter 'queueId' is set
    if (queueId == null) {
      throw new ApiException(400, "Missing the required parameter 'queueId' when calling skipAnnotationQueueItem");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling skipAnnotationQueueItem");
    }
    // verify the required parameter 'queueItemNavigationRequest' is set
    if (queueItemNavigationRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'queueItemNavigationRequest' when calling skipAnnotationQueueItem");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{queue_id}/items/{id}/skip/"
        .replace("{queue_id}", ApiClient.urlEncode(queueId.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(queueItemNavigationRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Submit or update annotations for a queue item.
   * @param queueId  (required)
   * @param id A UUID string identifying this queue item. (required)
   * @param submitAnnotations  (required)
   * @return QueueSubmitAnnotationsResponse
   * @throws ApiException if fails to make API call
   */
  public QueueSubmitAnnotationsResponse submitAnnotationQueueItemAnnotations(String queueId, UUID id, SubmitAnnotations submitAnnotations) throws ApiException {
    ApiResponse<QueueSubmitAnnotationsResponse> localVarResponse = submitAnnotationQueueItemAnnotationsWithHttpInfo(queueId, id, submitAnnotations);
    return localVarResponse.getData();
  }

  /**
   * 
   * Submit or update annotations for a queue item.
   * @param queueId  (required)
   * @param id A UUID string identifying this queue item. (required)
   * @param submitAnnotations  (required)
   * @return ApiResponse&lt;QueueSubmitAnnotationsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueSubmitAnnotationsResponse> submitAnnotationQueueItemAnnotationsWithHttpInfo(String queueId, UUID id, SubmitAnnotations submitAnnotations) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = submitAnnotationQueueItemAnnotationsRequestBuilder(queueId, id, submitAnnotations);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("submitAnnotationQueueItemAnnotations", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueSubmitAnnotationsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueSubmitAnnotationsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueSubmitAnnotationsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder submitAnnotationQueueItemAnnotationsRequestBuilder(String queueId, UUID id, SubmitAnnotations submitAnnotations) throws ApiException {
    // verify the required parameter 'queueId' is set
    if (queueId == null) {
      throw new ApiException(400, "Missing the required parameter 'queueId' when calling submitAnnotationQueueItemAnnotations");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling submitAnnotationQueueItemAnnotations");
    }
    // verify the required parameter 'submitAnnotations' is set
    if (submitAnnotations == null) {
      throw new ApiException(400, "Missing the required parameter 'submitAnnotations' when calling submitAnnotationQueueItemAnnotations");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{queue_id}/items/{id}/annotations/submit/"
        .replace("{queue_id}", ApiClient.urlEncode(queueId.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(submitAnnotations);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
