/*
 * Future AGI Public SDK API
 * The endpoints defined below allow users to programmatically carry out various actions on the Future AGI platform.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: help@futureagi.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.futureagi.sdk.api;

import com.futureagi.sdk.ApiClient;
import com.futureagi.sdk.ApiException;
import com.futureagi.sdk.ApiResponse;
import com.futureagi.sdk.Configuration;
import com.futureagi.sdk.Pair;

import com.futureagi.sdk.model.AnnotationQueue;
import com.futureagi.sdk.model.ApiTextErrorResponse;
import com.futureagi.sdk.model.ListAnnotationQueues200Response;
import com.futureagi.sdk.model.ManagementAPIErrorResponse;
import com.futureagi.sdk.model.QueueAddLabelResponse;
import com.futureagi.sdk.model.QueueAgreementResponse;
import com.futureagi.sdk.model.QueueAnalyticsResponse;
import com.futureagi.sdk.model.QueueExportAnnotationsResponse;
import com.futureagi.sdk.model.QueueExportFieldsResponse;
import com.futureagi.sdk.model.QueueExportToDatasetRequest;
import com.futureagi.sdk.model.QueueExportToDatasetResponse;
import com.futureagi.sdk.model.QueueLabelRequest;
import com.futureagi.sdk.model.QueueProgressResponse;
import com.futureagi.sdk.model.QueueRemoveLabelResponse;
import com.futureagi.sdk.model.QueueStatusRequest;
import com.futureagi.sdk.model.QueueStatusResponse;
import java.util.UUID;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.12.0")
public class AnnotationQueuesApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public AnnotationQueuesApi() {
    this(Configuration.getDefaultApiClient());
  }

  public AnnotationQueuesApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * Add a label to an annotation queue. Labels apply to all sources in the queue&#39;s project (for default queues). Queue items are created lazily when someone actually annotates.
   * @param id A UUID string identifying this annotation queue. (required)
   * @param queueLabelRequest  (required)
   * @return QueueAddLabelResponse
   * @throws ApiException if fails to make API call
   */
  public QueueAddLabelResponse addAnnotationQueueLabel(UUID id, QueueLabelRequest queueLabelRequest) throws ApiException {
    ApiResponse<QueueAddLabelResponse> localVarResponse = addAnnotationQueueLabelWithHttpInfo(id, queueLabelRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * Add a label to an annotation queue. Labels apply to all sources in the queue&#39;s project (for default queues). Queue items are created lazily when someone actually annotates.
   * @param id A UUID string identifying this annotation queue. (required)
   * @param queueLabelRequest  (required)
   * @return ApiResponse&lt;QueueAddLabelResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueAddLabelResponse> addAnnotationQueueLabelWithHttpInfo(UUID id, QueueLabelRequest queueLabelRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = addAnnotationQueueLabelRequestBuilder(id, queueLabelRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("addAnnotationQueueLabel", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueAddLabelResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueAddLabelResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueAddLabelResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder addAnnotationQueueLabelRequestBuilder(UUID id, QueueLabelRequest queueLabelRequest) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling addAnnotationQueueLabel");
    }
    // verify the required parameter 'queueLabelRequest' is set
    if (queueLabelRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'queueLabelRequest' when calling addAnnotationQueueLabel");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{id}/add-label/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(queueLabelRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Archive a queue (soft delete).
   * &#x60;&#x60;BaseModel.delete()&#x60;&#x60; flips &#x60;&#x60;deleted&#x3D;True&#x60;&#x60; instead of removing the row. Attached automation rules go dormant (the scheduler filters &#x60;&#x60;queue__deleted&#x3D;False&#x60;&#x60;), items stay invisible but recoverable, label bindings preserved.  For truly destructive removal, use the &#x60;&#x60;hard-delete&#x60;&#x60; action below.
   * @param id A UUID string identifying this annotation queue. (required)
   * @throws ApiException if fails to make API call
   */
  public void archiveAnnotationQueue(UUID id) throws ApiException {
    archiveAnnotationQueueWithHttpInfo(id);
  }

  /**
   * Archive a queue (soft delete).
   * &#x60;&#x60;BaseModel.delete()&#x60;&#x60; flips &#x60;&#x60;deleted&#x3D;True&#x60;&#x60; instead of removing the row. Attached automation rules go dormant (the scheduler filters &#x60;&#x60;queue__deleted&#x3D;False&#x60;&#x60;), items stay invisible but recoverable, label bindings preserved.  For truly destructive removal, use the &#x60;&#x60;hard-delete&#x60;&#x60; action below.
   * @param id A UUID string identifying this annotation queue. (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> archiveAnnotationQueueWithHttpInfo(UUID id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = archiveAnnotationQueueRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("archiveAnnotationQueue", localVarResponse);
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
          // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder archiveAnnotationQueueRequestBuilder(UUID id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling archiveAnnotationQueue");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{id}/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param annotationQueue  (required)
   * @return AnnotationQueue
   * @throws ApiException if fails to make API call
   */
  public AnnotationQueue createAnnotationQueue(AnnotationQueue annotationQueue) throws ApiException {
    ApiResponse<AnnotationQueue> localVarResponse = createAnnotationQueueWithHttpInfo(annotationQueue);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param annotationQueue  (required)
   * @return ApiResponse&lt;AnnotationQueue&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AnnotationQueue> createAnnotationQueueWithHttpInfo(AnnotationQueue annotationQueue) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createAnnotationQueueRequestBuilder(annotationQueue);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createAnnotationQueue", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<AnnotationQueue>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<AnnotationQueue>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<AnnotationQueue>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createAnnotationQueueRequestBuilder(AnnotationQueue annotationQueue) throws ApiException {
    // verify the required parameter 'annotationQueue' is set
    if (annotationQueue == null) {
      throw new ApiException(400, "Missing the required parameter 'annotationQueue' when calling createAnnotationQueue");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(annotationQueue);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Export all items with their annotations.
   * @param id A UUID string identifying this annotation queue. (required)
   * @param exportFormat  (optional)
   * @param status  (optional)
   * @return QueueExportAnnotationsResponse
   * @throws ApiException if fails to make API call
   */
  public QueueExportAnnotationsResponse exportAnnotationQueue(UUID id, String exportFormat, String status) throws ApiException {
    ApiResponse<QueueExportAnnotationsResponse> localVarResponse = exportAnnotationQueueWithHttpInfo(id, exportFormat, status);
    return localVarResponse.getData();
  }

  /**
   * 
   * Export all items with their annotations.
   * @param id A UUID string identifying this annotation queue. (required)
   * @param exportFormat  (optional)
   * @param status  (optional)
   * @return ApiResponse&lt;QueueExportAnnotationsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueExportAnnotationsResponse> exportAnnotationQueueWithHttpInfo(UUID id, String exportFormat, String status) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = exportAnnotationQueueRequestBuilder(id, exportFormat, status);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("exportAnnotationQueue", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueExportAnnotationsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueExportAnnotationsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueExportAnnotationsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder exportAnnotationQueueRequestBuilder(UUID id, String exportFormat, String status) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling exportAnnotationQueue");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{id}/export/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "export_format";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("export_format", exportFormat));
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Export queue items to a dataset using a user-editable column mapping.
   * @param id A UUID string identifying this annotation queue. (required)
   * @param queueExportToDatasetRequest  (required)
   * @return QueueExportToDatasetResponse
   * @throws ApiException if fails to make API call
   */
  public QueueExportToDatasetResponse exportAnnotationQueueToDataset(UUID id, QueueExportToDatasetRequest queueExportToDatasetRequest) throws ApiException {
    ApiResponse<QueueExportToDatasetResponse> localVarResponse = exportAnnotationQueueToDatasetWithHttpInfo(id, queueExportToDatasetRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * Export queue items to a dataset using a user-editable column mapping.
   * @param id A UUID string identifying this annotation queue. (required)
   * @param queueExportToDatasetRequest  (required)
   * @return ApiResponse&lt;QueueExportToDatasetResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueExportToDatasetResponse> exportAnnotationQueueToDatasetWithHttpInfo(UUID id, QueueExportToDatasetRequest queueExportToDatasetRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = exportAnnotationQueueToDatasetRequestBuilder(id, queueExportToDatasetRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("exportAnnotationQueueToDataset", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueExportToDatasetResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueExportToDatasetResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueExportToDatasetResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder exportAnnotationQueueToDatasetRequestBuilder(UUID id, QueueExportToDatasetRequest queueExportToDatasetRequest) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling exportAnnotationQueueToDataset");
    }
    // verify the required parameter 'queueExportToDatasetRequest' is set
    if (queueExportToDatasetRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'queueExportToDatasetRequest' when calling exportAnnotationQueueToDataset");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{id}/export-to-dataset/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(queueExportToDatasetRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param id A UUID string identifying this annotation queue. (required)
   * @return AnnotationQueue
   * @throws ApiException if fails to make API call
   */
  public AnnotationQueue getAnnotationQueue(UUID id) throws ApiException {
    ApiResponse<AnnotationQueue> localVarResponse = getAnnotationQueueWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param id A UUID string identifying this annotation queue. (required)
   * @return ApiResponse&lt;AnnotationQueue&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AnnotationQueue> getAnnotationQueueWithHttpInfo(UUID id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getAnnotationQueueRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getAnnotationQueue", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<AnnotationQueue>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<AnnotationQueue>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<AnnotationQueue>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getAnnotationQueueRequestBuilder(UUID id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getAnnotationQueue");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{id}/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Calculate inter-annotator agreement metrics.
   * @param id A UUID string identifying this annotation queue. (required)
   * @return QueueAgreementResponse
   * @throws ApiException if fails to make API call
   */
  public QueueAgreementResponse getAnnotationQueueAgreement(UUID id) throws ApiException {
    ApiResponse<QueueAgreementResponse> localVarResponse = getAnnotationQueueAgreementWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * 
   * Calculate inter-annotator agreement metrics.
   * @param id A UUID string identifying this annotation queue. (required)
   * @return ApiResponse&lt;QueueAgreementResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueAgreementResponse> getAnnotationQueueAgreementWithHttpInfo(UUID id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getAnnotationQueueAgreementRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getAnnotationQueueAgreement", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueAgreementResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueAgreementResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueAgreementResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getAnnotationQueueAgreementRequestBuilder(UUID id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getAnnotationQueueAgreement");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{id}/agreement/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Queue analytics: throughput, annotator performance, label distribution.
   * @param id A UUID string identifying this annotation queue. (required)
   * @return QueueAnalyticsResponse
   * @throws ApiException if fails to make API call
   */
  public QueueAnalyticsResponse getAnnotationQueueAnalytics(UUID id) throws ApiException {
    ApiResponse<QueueAnalyticsResponse> localVarResponse = getAnnotationQueueAnalyticsWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * 
   * Queue analytics: throughput, annotator performance, label distribution.
   * @param id A UUID string identifying this annotation queue. (required)
   * @return ApiResponse&lt;QueueAnalyticsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueAnalyticsResponse> getAnnotationQueueAnalyticsWithHttpInfo(UUID id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getAnnotationQueueAnalyticsRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getAnnotationQueueAnalytics", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueAnalyticsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueAnalyticsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueAnalyticsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getAnnotationQueueAnalyticsRequestBuilder(UUID id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getAnnotationQueueAnalytics");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{id}/analytics/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param id A UUID string identifying this annotation queue. (required)
   * @return QueueProgressResponse
   * @throws ApiException if fails to make API call
   */
  public QueueProgressResponse getAnnotationQueueProgress(UUID id) throws ApiException {
    ApiResponse<QueueProgressResponse> localVarResponse = getAnnotationQueueProgressWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param id A UUID string identifying this annotation queue. (required)
   * @return ApiResponse&lt;QueueProgressResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueProgressResponse> getAnnotationQueueProgressWithHttpInfo(UUID id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getAnnotationQueueProgressRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getAnnotationQueueProgress", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueProgressResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueProgressResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueProgressResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getAnnotationQueueProgressRequestBuilder(UUID id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getAnnotationQueueProgress");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{id}/progress/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Return source/label/attribute fields available for dataset export.
   * @param id A UUID string identifying this annotation queue. (required)
   * @return QueueExportFieldsResponse
   * @throws ApiException if fails to make API call
   */
  public QueueExportFieldsResponse listAnnotationQueueExportFields(UUID id) throws ApiException {
    ApiResponse<QueueExportFieldsResponse> localVarResponse = listAnnotationQueueExportFieldsWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * 
   * Return source/label/attribute fields available for dataset export.
   * @param id A UUID string identifying this annotation queue. (required)
   * @return ApiResponse&lt;QueueExportFieldsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueExportFieldsResponse> listAnnotationQueueExportFieldsWithHttpInfo(UUID id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listAnnotationQueueExportFieldsRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listAnnotationQueueExportFields", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueExportFieldsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueExportFieldsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueExportFieldsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listAnnotationQueueExportFieldsRequestBuilder(UUID id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling listAnnotationQueueExportFields");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{id}/export-fields/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @param status  (optional)
   * @param search  (optional)
   * @param includeCounts  (optional)
   * @return ListAnnotationQueues200Response
   * @throws ApiException if fails to make API call
   */
  public ListAnnotationQueues200Response listAnnotationQueues(Integer page, Integer limit, String status, String search, Boolean includeCounts) throws ApiException {
    ApiResponse<ListAnnotationQueues200Response> localVarResponse = listAnnotationQueuesWithHttpInfo(page, limit, status, search, includeCounts);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @param status  (optional)
   * @param search  (optional)
   * @param includeCounts  (optional)
   * @return ApiResponse&lt;ListAnnotationQueues200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ListAnnotationQueues200Response> listAnnotationQueuesWithHttpInfo(Integer page, Integer limit, String status, String search, Boolean includeCounts) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listAnnotationQueuesRequestBuilder(page, limit, status, search, includeCounts);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listAnnotationQueues", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ListAnnotationQueues200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ListAnnotationQueues200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ListAnnotationQueues200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listAnnotationQueuesRequestBuilder(Integer page, Integer limit, String status, String search, Boolean includeCounts) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParameterBaseName = "search";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("search", search));
    localVarQueryParameterBaseName = "include_counts";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("include_counts", includeCounts));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Remove a label from an annotation queue.
   * @param id A UUID string identifying this annotation queue. (required)
   * @param queueLabelRequest  (required)
   * @return QueueRemoveLabelResponse
   * @throws ApiException if fails to make API call
   */
  public QueueRemoveLabelResponse removeAnnotationQueueLabel(UUID id, QueueLabelRequest queueLabelRequest) throws ApiException {
    ApiResponse<QueueRemoveLabelResponse> localVarResponse = removeAnnotationQueueLabelWithHttpInfo(id, queueLabelRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * Remove a label from an annotation queue.
   * @param id A UUID string identifying this annotation queue. (required)
   * @param queueLabelRequest  (required)
   * @return ApiResponse&lt;QueueRemoveLabelResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueRemoveLabelResponse> removeAnnotationQueueLabelWithHttpInfo(UUID id, QueueLabelRequest queueLabelRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = removeAnnotationQueueLabelRequestBuilder(id, queueLabelRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("removeAnnotationQueueLabel", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueRemoveLabelResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueRemoveLabelResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueRemoveLabelResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder removeAnnotationQueueLabelRequestBuilder(UUID id, QueueLabelRequest queueLabelRequest) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling removeAnnotationQueueLabel");
    }
    // verify the required parameter 'queueLabelRequest' is set
    if (queueLabelRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'queueLabelRequest' when calling removeAnnotationQueueLabel");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{id}/remove-label/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(queueLabelRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param id A UUID string identifying this annotation queue. (required)
   * @param annotationQueue  (required)
   * @return AnnotationQueue
   * @throws ApiException if fails to make API call
   */
  public AnnotationQueue updateAnnotationQueue(UUID id, AnnotationQueue annotationQueue) throws ApiException {
    ApiResponse<AnnotationQueue> localVarResponse = updateAnnotationQueueWithHttpInfo(id, annotationQueue);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param id A UUID string identifying this annotation queue. (required)
   * @param annotationQueue  (required)
   * @return ApiResponse&lt;AnnotationQueue&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AnnotationQueue> updateAnnotationQueueWithHttpInfo(UUID id, AnnotationQueue annotationQueue) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateAnnotationQueueRequestBuilder(id, annotationQueue);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateAnnotationQueue", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<AnnotationQueue>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<AnnotationQueue>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<AnnotationQueue>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateAnnotationQueueRequestBuilder(UUID id, AnnotationQueue annotationQueue) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling updateAnnotationQueue");
    }
    // verify the required parameter 'annotationQueue' is set
    if (annotationQueue == null) {
      throw new ApiException(400, "Missing the required parameter 'annotationQueue' when calling updateAnnotationQueue");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{id}/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(annotationQueue);
      localVarRequestBuilder.method("PATCH", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param id A UUID string identifying this annotation queue. (required)
   * @param queueStatusRequest  (required)
   * @return QueueStatusResponse
   * @throws ApiException if fails to make API call
   */
  public QueueStatusResponse updateAnnotationQueueStatus(UUID id, QueueStatusRequest queueStatusRequest) throws ApiException {
    ApiResponse<QueueStatusResponse> localVarResponse = updateAnnotationQueueStatusWithHttpInfo(id, queueStatusRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param id A UUID string identifying this annotation queue. (required)
   * @param queueStatusRequest  (required)
   * @return ApiResponse&lt;QueueStatusResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QueueStatusResponse> updateAnnotationQueueStatusWithHttpInfo(UUID id, QueueStatusRequest queueStatusRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateAnnotationQueueStatusRequestBuilder(id, queueStatusRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateAnnotationQueueStatus", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<QueueStatusResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<QueueStatusResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QueueStatusResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateAnnotationQueueStatusRequestBuilder(UUID id, QueueStatusRequest queueStatusRequest) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling updateAnnotationQueueStatus");
    }
    // verify the required parameter 'queueStatusRequest' is set
    if (queueStatusRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'queueStatusRequest' when calling updateAnnotationQueueStatus");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/annotation-queues/{id}/update-status/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(queueStatusRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
