/*
 * Future AGI Public SDK API
 * The endpoints defined below allow users to programmatically carry out various actions on the Future AGI platform.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: help@futureagi.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.futureagi.sdk.api;

import com.futureagi.sdk.ApiClient;
import com.futureagi.sdk.ApiException;
import com.futureagi.sdk.ApiResponse;
import com.futureagi.sdk.Configuration;
import com.futureagi.sdk.Pair;

import com.futureagi.sdk.model.AnnotationSummaryResponse;
import com.futureagi.sdk.model.ApiTextErrorResponse;
import com.futureagi.sdk.model.BaseColumnsResponse;
import com.futureagi.sdk.model.CreateDatasetFromLocalFileRequest;
import com.futureagi.sdk.model.CreateEmptyDatasetRequest;
import com.futureagi.sdk.model.DatasetAddColumnsRequest;
import com.futureagi.sdk.model.DatasetAddRowsRequest;
import com.futureagi.sdk.model.DatasetColumnDetailResponse;
import com.futureagi.sdk.model.DatasetColumnsMutationResponse;
import com.futureagi.sdk.model.DatasetCreateStartedResponse;
import com.futureagi.sdk.model.DatasetDerivedVariablesResponse;
import com.futureagi.sdk.model.DatasetEvalStatsResponse;
import com.futureagi.sdk.model.DatasetJsonSchemaResponse;
import com.futureagi.sdk.model.DatasetListResponse;
import com.futureagi.sdk.model.DatasetNamesResponse;
import com.futureagi.sdk.model.DatasetRowDataRequest;
import com.futureagi.sdk.model.DatasetRowDataResponse;
import com.futureagi.sdk.model.DatasetTableResponse;
import com.futureagi.sdk.model.DatasetUpdateCellValueRequest;
import com.futureagi.sdk.model.DevelopDatasetMessageResponse;
import com.futureagi.sdk.model.DuplicateDatasetRequest;
import com.futureagi.sdk.model.DuplicateDatasetResponse;
import java.io.File;
import com.futureagi.sdk.model.LocalFileDatasetCreateStartedResponse;
import com.futureagi.sdk.model.ManagementAPIErrorResponse;
import com.futureagi.sdk.model.ManualDatasetCreateRequest;
import com.futureagi.sdk.model.ManualDatasetCreateResponse;
import com.futureagi.sdk.model.ModelHubErrorResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.12.0")
public class DatasetsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public DatasetsApi() {
    this(Configuration.getDefaultApiClient());
  }

  public DatasetsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @param datasetAddColumnsRequest  (required)
   * @return DatasetColumnsMutationResponse
   * @throws ApiException if fails to make API call
   */
  public DatasetColumnsMutationResponse addDatasetColumns(String datasetId, DatasetAddColumnsRequest datasetAddColumnsRequest) throws ApiException {
    ApiResponse<DatasetColumnsMutationResponse> localVarResponse = addDatasetColumnsWithHttpInfo(datasetId, datasetAddColumnsRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @param datasetAddColumnsRequest  (required)
   * @return ApiResponse&lt;DatasetColumnsMutationResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DatasetColumnsMutationResponse> addDatasetColumnsWithHttpInfo(String datasetId, DatasetAddColumnsRequest datasetAddColumnsRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = addDatasetColumnsRequestBuilder(datasetId, datasetAddColumnsRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("addDatasetColumns", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DatasetColumnsMutationResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DatasetColumnsMutationResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DatasetColumnsMutationResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder addDatasetColumnsRequestBuilder(String datasetId, DatasetAddColumnsRequest datasetAddColumnsRequest) throws ApiException {
    // verify the required parameter 'datasetId' is set
    if (datasetId == null) {
      throw new ApiException(400, "Missing the required parameter 'datasetId' when calling addDatasetColumns");
    }
    // verify the required parameter 'datasetAddColumnsRequest' is set
    if (datasetAddColumnsRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'datasetAddColumnsRequest' when calling addDatasetColumns");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/develops/{dataset_id}/add_columns/"
        .replace("{dataset_id}", ApiClient.urlEncode(datasetId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(datasetAddColumnsRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @param datasetAddRowsRequest  (required)
   * @return DevelopDatasetMessageResponse
   * @throws ApiException if fails to make API call
   */
  public DevelopDatasetMessageResponse addDatasetRows(String datasetId, DatasetAddRowsRequest datasetAddRowsRequest) throws ApiException {
    ApiResponse<DevelopDatasetMessageResponse> localVarResponse = addDatasetRowsWithHttpInfo(datasetId, datasetAddRowsRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @param datasetAddRowsRequest  (required)
   * @return ApiResponse&lt;DevelopDatasetMessageResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DevelopDatasetMessageResponse> addDatasetRowsWithHttpInfo(String datasetId, DatasetAddRowsRequest datasetAddRowsRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = addDatasetRowsRequestBuilder(datasetId, datasetAddRowsRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("addDatasetRows", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DevelopDatasetMessageResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DevelopDatasetMessageResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DevelopDatasetMessageResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder addDatasetRowsRequestBuilder(String datasetId, DatasetAddRowsRequest datasetAddRowsRequest) throws ApiException {
    // verify the required parameter 'datasetId' is set
    if (datasetId == null) {
      throw new ApiException(400, "Missing the required parameter 'datasetId' when calling addDatasetRows");
    }
    // verify the required parameter 'datasetAddRowsRequest' is set
    if (datasetAddRowsRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'datasetAddRowsRequest' when calling addDatasetRows");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/develops/{dataset_id}/add_rows/"
        .replace("{dataset_id}", ApiClient.urlEncode(datasetId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(datasetAddRowsRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param createDatasetFromLocalFileRequest  (required)
   * @return LocalFileDatasetCreateStartedResponse
   * @throws ApiException if fails to make API call
   */
  public LocalFileDatasetCreateStartedResponse createDatasetFromLocalFile(CreateDatasetFromLocalFileRequest createDatasetFromLocalFileRequest) throws ApiException {
    ApiResponse<LocalFileDatasetCreateStartedResponse> localVarResponse = createDatasetFromLocalFileWithHttpInfo(createDatasetFromLocalFileRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param createDatasetFromLocalFileRequest  (required)
   * @return ApiResponse&lt;LocalFileDatasetCreateStartedResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<LocalFileDatasetCreateStartedResponse> createDatasetFromLocalFileWithHttpInfo(CreateDatasetFromLocalFileRequest createDatasetFromLocalFileRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createDatasetFromLocalFileRequestBuilder(createDatasetFromLocalFileRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createDatasetFromLocalFile", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<LocalFileDatasetCreateStartedResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<LocalFileDatasetCreateStartedResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<LocalFileDatasetCreateStartedResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createDatasetFromLocalFileRequestBuilder(CreateDatasetFromLocalFileRequest createDatasetFromLocalFileRequest) throws ApiException {
    // verify the required parameter 'createDatasetFromLocalFileRequest' is set
    if (createDatasetFromLocalFileRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'createDatasetFromLocalFileRequest' when calling createDatasetFromLocalFile");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/develops/create-dataset-from-local-file/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createDatasetFromLocalFileRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param manualDatasetCreateRequest  (required)
   * @return ManualDatasetCreateResponse
   * @throws ApiException if fails to make API call
   */
  public ManualDatasetCreateResponse createDatasetManually(ManualDatasetCreateRequest manualDatasetCreateRequest) throws ApiException {
    ApiResponse<ManualDatasetCreateResponse> localVarResponse = createDatasetManuallyWithHttpInfo(manualDatasetCreateRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param manualDatasetCreateRequest  (required)
   * @return ApiResponse&lt;ManualDatasetCreateResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ManualDatasetCreateResponse> createDatasetManuallyWithHttpInfo(ManualDatasetCreateRequest manualDatasetCreateRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createDatasetManuallyRequestBuilder(manualDatasetCreateRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createDatasetManually", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ManualDatasetCreateResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ManualDatasetCreateResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ManualDatasetCreateResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createDatasetManuallyRequestBuilder(ManualDatasetCreateRequest manualDatasetCreateRequest) throws ApiException {
    // verify the required parameter 'manualDatasetCreateRequest' is set
    if (manualDatasetCreateRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'manualDatasetCreateRequest' when calling createDatasetManually");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/develops/create-dataset-manually/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(manualDatasetCreateRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param createEmptyDatasetRequest  (required)
   * @return DatasetCreateStartedResponse
   * @throws ApiException if fails to make API call
   */
  public DatasetCreateStartedResponse createEmptyDataset(CreateEmptyDatasetRequest createEmptyDatasetRequest) throws ApiException {
    ApiResponse<DatasetCreateStartedResponse> localVarResponse = createEmptyDatasetWithHttpInfo(createEmptyDatasetRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param createEmptyDatasetRequest  (required)
   * @return ApiResponse&lt;DatasetCreateStartedResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DatasetCreateStartedResponse> createEmptyDatasetWithHttpInfo(CreateEmptyDatasetRequest createEmptyDatasetRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createEmptyDatasetRequestBuilder(createEmptyDatasetRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createEmptyDataset", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DatasetCreateStartedResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DatasetCreateStartedResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DatasetCreateStartedResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createEmptyDatasetRequestBuilder(CreateEmptyDatasetRequest createEmptyDatasetRequest) throws ApiException {
    // verify the required parameter 'createEmptyDatasetRequest' is set
    if (createEmptyDatasetRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'createEmptyDatasetRequest' when calling createEmptyDataset");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/develops/create-empty-dataset/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createEmptyDatasetRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @param columnId  (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteDatasetColumn(String datasetId, String columnId) throws ApiException {
    deleteDatasetColumnWithHttpInfo(datasetId, columnId);
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @param columnId  (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteDatasetColumnWithHttpInfo(String datasetId, String columnId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deleteDatasetColumnRequestBuilder(datasetId, columnId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deleteDatasetColumn", localVarResponse);
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
          // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deleteDatasetColumnRequestBuilder(String datasetId, String columnId) throws ApiException {
    // verify the required parameter 'datasetId' is set
    if (datasetId == null) {
      throw new ApiException(400, "Missing the required parameter 'datasetId' when calling deleteDatasetColumn");
    }
    // verify the required parameter 'columnId' is set
    if (columnId == null) {
      throw new ApiException(400, "Missing the required parameter 'columnId' when calling deleteDatasetColumn");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/develops/{dataset_id}/delete_column/{column_id}/"
        .replace("{dataset_id}", ApiClient.urlEncode(datasetId.toString()))
        .replace("{column_id}", ApiClient.urlEncode(columnId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteDatasetRow(String datasetId) throws ApiException {
    deleteDatasetRowWithHttpInfo(datasetId);
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteDatasetRowWithHttpInfo(String datasetId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deleteDatasetRowRequestBuilder(datasetId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deleteDatasetRow", localVarResponse);
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
          // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deleteDatasetRowRequestBuilder(String datasetId) throws ApiException {
    // verify the required parameter 'datasetId' is set
    if (datasetId == null) {
      throw new ApiException(400, "Missing the required parameter 'datasetId' when calling deleteDatasetRow");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/develops/{dataset_id}/delete_row/"
        .replace("{dataset_id}", ApiClient.urlEncode(datasetId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @return File
   * @throws ApiException if fails to make API call
   */
  public File downloadDataset(String datasetId) throws ApiException {
    ApiResponse<File> localVarResponse = downloadDatasetWithHttpInfo(datasetId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @return ApiResponse&lt;File&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<File> downloadDatasetWithHttpInfo(String datasetId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = downloadDatasetRequestBuilder(datasetId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("downloadDataset", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<File>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<File>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<File>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder downloadDatasetRequestBuilder(String datasetId) throws ApiException {
    // verify the required parameter 'datasetId' is set
    if (datasetId == null) {
      throw new ApiException(400, "Missing the required parameter 'datasetId' when calling downloadDataset");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/develops/{dataset_id}/download_dataset/"
        .replace("{dataset_id}", ApiClient.urlEncode(datasetId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @param duplicateDatasetRequest  (required)
   * @return DuplicateDatasetResponse
   * @throws ApiException if fails to make API call
   */
  public DuplicateDatasetResponse duplicateDataset(String datasetId, DuplicateDatasetRequest duplicateDatasetRequest) throws ApiException {
    ApiResponse<DuplicateDatasetResponse> localVarResponse = duplicateDatasetWithHttpInfo(datasetId, duplicateDatasetRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @param duplicateDatasetRequest  (required)
   * @return ApiResponse&lt;DuplicateDatasetResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DuplicateDatasetResponse> duplicateDatasetWithHttpInfo(String datasetId, DuplicateDatasetRequest duplicateDatasetRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = duplicateDatasetRequestBuilder(datasetId, duplicateDatasetRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("duplicateDataset", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DuplicateDatasetResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DuplicateDatasetResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DuplicateDatasetResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder duplicateDatasetRequestBuilder(String datasetId, DuplicateDatasetRequest duplicateDatasetRequest) throws ApiException {
    // verify the required parameter 'datasetId' is set
    if (datasetId == null) {
      throw new ApiException(400, "Missing the required parameter 'datasetId' when calling duplicateDataset");
    }
    // verify the required parameter 'duplicateDatasetRequest' is set
    if (duplicateDatasetRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'duplicateDatasetRequest' when calling duplicateDataset");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/datasets/{dataset_id}/duplicate/"
        .replace("{dataset_id}", ApiClient.urlEncode(datasetId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(duplicateDatasetRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @return AnnotationSummaryResponse
   * @throws ApiException if fails to make API call
   */
  public AnnotationSummaryResponse getDatasetAnnotationSummary(String datasetId) throws ApiException {
    ApiResponse<AnnotationSummaryResponse> localVarResponse = getDatasetAnnotationSummaryWithHttpInfo(datasetId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @return ApiResponse&lt;AnnotationSummaryResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AnnotationSummaryResponse> getDatasetAnnotationSummaryWithHttpInfo(String datasetId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getDatasetAnnotationSummaryRequestBuilder(datasetId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getDatasetAnnotationSummary", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<AnnotationSummaryResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<AnnotationSummaryResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<AnnotationSummaryResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getDatasetAnnotationSummaryRequestBuilder(String datasetId) throws ApiException {
    // verify the required parameter 'datasetId' is set
    if (datasetId == null) {
      throw new ApiException(400, "Missing the required parameter 'datasetId' when calling getDatasetAnnotationSummary");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/dataset/{dataset_id}/annotation-summary/"
        .replace("{dataset_id}", ApiClient.urlEncode(datasetId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @return DatasetColumnDetailResponse
   * @throws ApiException if fails to make API call
   */
  public DatasetColumnDetailResponse getDatasetColumns(String datasetId) throws ApiException {
    ApiResponse<DatasetColumnDetailResponse> localVarResponse = getDatasetColumnsWithHttpInfo(datasetId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @return ApiResponse&lt;DatasetColumnDetailResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DatasetColumnDetailResponse> getDatasetColumnsWithHttpInfo(String datasetId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getDatasetColumnsRequestBuilder(datasetId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getDatasetColumns", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DatasetColumnDetailResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DatasetColumnDetailResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DatasetColumnDetailResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getDatasetColumnsRequestBuilder(String datasetId) throws ApiException {
    // verify the required parameter 'datasetId' is set
    if (datasetId == null) {
      throw new ApiException(400, "Missing the required parameter 'datasetId' when calling getDatasetColumns");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/dataset/columns/{dataset_id}/"
        .replace("{dataset_id}", ApiClient.urlEncode(datasetId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @return DatasetEvalStatsResponse
   * @throws ApiException if fails to make API call
   */
  public DatasetEvalStatsResponse getDatasetEvalStats(String datasetId) throws ApiException {
    ApiResponse<DatasetEvalStatsResponse> localVarResponse = getDatasetEvalStatsWithHttpInfo(datasetId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @return ApiResponse&lt;DatasetEvalStatsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DatasetEvalStatsResponse> getDatasetEvalStatsWithHttpInfo(String datasetId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getDatasetEvalStatsRequestBuilder(datasetId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getDatasetEvalStats", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DatasetEvalStatsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DatasetEvalStatsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DatasetEvalStatsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getDatasetEvalStatsRequestBuilder(String datasetId) throws ApiException {
    // verify the required parameter 'datasetId' is set
    if (datasetId == null) {
      throw new ApiException(400, "Missing the required parameter 'datasetId' when calling getDatasetEvalStats");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/dataset/{dataset_id}/eval-stats/"
        .replace("{dataset_id}", ApiClient.urlEncode(datasetId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * API endpoint to get JSON schemas and images metadata for columns in a dataset. Used by frontend for autocomplete suggestions when accessing JSON properties and for indexed access to images columns.
   * @param datasetId  (required)
   * @return DatasetJsonSchemaResponse
   * @throws ApiException if fails to make API call
   */
  public DatasetJsonSchemaResponse getDatasetJsonSchema(String datasetId) throws ApiException {
    ApiResponse<DatasetJsonSchemaResponse> localVarResponse = getDatasetJsonSchemaWithHttpInfo(datasetId);
    return localVarResponse.getData();
  }

  /**
   * 
   * API endpoint to get JSON schemas and images metadata for columns in a dataset. Used by frontend for autocomplete suggestions when accessing JSON properties and for indexed access to images columns.
   * @param datasetId  (required)
   * @return ApiResponse&lt;DatasetJsonSchemaResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DatasetJsonSchemaResponse> getDatasetJsonSchemaWithHttpInfo(String datasetId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getDatasetJsonSchemaRequestBuilder(datasetId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getDatasetJsonSchema", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DatasetJsonSchemaResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DatasetJsonSchemaResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DatasetJsonSchemaResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getDatasetJsonSchemaRequestBuilder(String datasetId) throws ApiException {
    // verify the required parameter 'datasetId' is set
    if (datasetId == null) {
      throw new ApiException(400, "Missing the required parameter 'datasetId' when calling getDatasetJsonSchema");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/dataset/{dataset_id}/json-schema/"
        .replace("{dataset_id}", ApiClient.urlEncode(datasetId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @param datasetRowDataRequest  (required)
   * @return DatasetRowDataResponse
   * @throws ApiException if fails to make API call
   */
  public DatasetRowDataResponse getDatasetRow(String datasetId, DatasetRowDataRequest datasetRowDataRequest) throws ApiException {
    ApiResponse<DatasetRowDataResponse> localVarResponse = getDatasetRowWithHttpInfo(datasetId, datasetRowDataRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @param datasetRowDataRequest  (required)
   * @return ApiResponse&lt;DatasetRowDataResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DatasetRowDataResponse> getDatasetRowWithHttpInfo(String datasetId, DatasetRowDataRequest datasetRowDataRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getDatasetRowRequestBuilder(datasetId, datasetRowDataRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getDatasetRow", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DatasetRowDataResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DatasetRowDataResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DatasetRowDataResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getDatasetRowRequestBuilder(String datasetId, DatasetRowDataRequest datasetRowDataRequest) throws ApiException {
    // verify the required parameter 'datasetId' is set
    if (datasetId == null) {
      throw new ApiException(400, "Missing the required parameter 'datasetId' when calling getDatasetRow");
    }
    // verify the required parameter 'datasetRowDataRequest' is set
    if (datasetRowDataRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'datasetRowDataRequest' when calling getDatasetRow");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/develops/{dataset_id}/get-row-data/"
        .replace("{dataset_id}", ApiClient.urlEncode(datasetId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(datasetRowDataRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @param filters  (optional, default to [])
   * @param sort  (optional, default to [])
   * @param search  (optional)
   * @param pageSize  (optional, default to 10)
   * @param currentPageIndex  (optional, default to 0)
   * @param columnConfigOnly  (optional, default to false)
   * @return DatasetTableResponse
   * @throws ApiException if fails to make API call
   */
  public DatasetTableResponse getDatasetTable(String datasetId, String filters, String sort, String search, Integer pageSize, Integer currentPageIndex, Boolean columnConfigOnly) throws ApiException {
    ApiResponse<DatasetTableResponse> localVarResponse = getDatasetTableWithHttpInfo(datasetId, filters, sort, search, pageSize, currentPageIndex, columnConfigOnly);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @param filters  (optional, default to [])
   * @param sort  (optional, default to [])
   * @param search  (optional)
   * @param pageSize  (optional, default to 10)
   * @param currentPageIndex  (optional, default to 0)
   * @param columnConfigOnly  (optional, default to false)
   * @return ApiResponse&lt;DatasetTableResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DatasetTableResponse> getDatasetTableWithHttpInfo(String datasetId, String filters, String sort, String search, Integer pageSize, Integer currentPageIndex, Boolean columnConfigOnly) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getDatasetTableRequestBuilder(datasetId, filters, sort, search, pageSize, currentPageIndex, columnConfigOnly);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getDatasetTable", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DatasetTableResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DatasetTableResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DatasetTableResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getDatasetTableRequestBuilder(String datasetId, String filters, String sort, String search, Integer pageSize, Integer currentPageIndex, Boolean columnConfigOnly) throws ApiException {
    // verify the required parameter 'datasetId' is set
    if (datasetId == null) {
      throw new ApiException(400, "Missing the required parameter 'datasetId' when calling getDatasetTable");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/develops/{dataset_id}/get-dataset-table/"
        .replace("{dataset_id}", ApiClient.urlEncode(datasetId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "filters";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filters", filters));
    localVarQueryParameterBaseName = "sort";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort", sort));
    localVarQueryParameterBaseName = "search";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("search", search));
    localVarQueryParameterBaseName = "page_size";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_size", pageSize));
    localVarQueryParameterBaseName = "current_page_index";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("current_page_index", currentPageIndex));
    localVarQueryParameterBaseName = "column_config_only";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("column_config_only", columnConfigOnly));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @return BaseColumnsResponse
   * @throws ApiException if fails to make API call
   */
  public BaseColumnsResponse listDatasetBaseColumns() throws ApiException {
    ApiResponse<BaseColumnsResponse> localVarResponse = listDatasetBaseColumnsWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @return ApiResponse&lt;BaseColumnsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BaseColumnsResponse> listDatasetBaseColumnsWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listDatasetBaseColumnsRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listDatasetBaseColumns", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<BaseColumnsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<BaseColumnsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BaseColumnsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listDatasetBaseColumnsRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/datasets/get-base-columns/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get all derived variables from all run prompt columns in a dataset.
   * This aggregates derived variables from run prompt columns that produce JSON outputs, making them available for use in other prompts, evals, and experiments.  Path params:     - dataset_id: UUID of the dataset
   * @param datasetId  (required)
   * @return DatasetDerivedVariablesResponse
   * @throws ApiException if fails to make API call
   */
  public DatasetDerivedVariablesResponse listDatasetDerivedVariables(String datasetId) throws ApiException {
    ApiResponse<DatasetDerivedVariablesResponse> localVarResponse = listDatasetDerivedVariablesWithHttpInfo(datasetId);
    return localVarResponse.getData();
  }

  /**
   * Get all derived variables from all run prompt columns in a dataset.
   * This aggregates derived variables from run prompt columns that produce JSON outputs, making them available for use in other prompts, evals, and experiments.  Path params:     - dataset_id: UUID of the dataset
   * @param datasetId  (required)
   * @return ApiResponse&lt;DatasetDerivedVariablesResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DatasetDerivedVariablesResponse> listDatasetDerivedVariablesWithHttpInfo(String datasetId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listDatasetDerivedVariablesRequestBuilder(datasetId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listDatasetDerivedVariables", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DatasetDerivedVariablesResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DatasetDerivedVariablesResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DatasetDerivedVariablesResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listDatasetDerivedVariablesRequestBuilder(String datasetId) throws ApiException {
    // verify the required parameter 'datasetId' is set
    if (datasetId == null) {
      throw new ApiException(400, "Missing the required parameter 'datasetId' when calling listDatasetDerivedVariables");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/datasets/{dataset_id}/derived-variables/"
        .replace("{dataset_id}", ApiClient.urlEncode(datasetId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @return DatasetNamesResponse
   * @throws ApiException if fails to make API call
   */
  public DatasetNamesResponse listDatasetNames() throws ApiException {
    ApiResponse<DatasetNamesResponse> localVarResponse = listDatasetNamesWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @return ApiResponse&lt;DatasetNamesResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DatasetNamesResponse> listDatasetNamesWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listDatasetNamesRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listDatasetNames", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DatasetNamesResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DatasetNamesResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DatasetNamesResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listDatasetNamesRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/develops/get-datasets-names/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param searchText  (optional, default to )
   * @param page  (optional, default to 0)
   * @param pageSize  (optional, default to 10)
   * @param sort  (optional)
   * @return DatasetListResponse
   * @throws ApiException if fails to make API call
   */
  public DatasetListResponse listDatasets(String searchText, Integer page, Integer pageSize, String sort) throws ApiException {
    ApiResponse<DatasetListResponse> localVarResponse = listDatasetsWithHttpInfo(searchText, page, pageSize, sort);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param searchText  (optional, default to )
   * @param page  (optional, default to 0)
   * @param pageSize  (optional, default to 10)
   * @param sort  (optional)
   * @return ApiResponse&lt;DatasetListResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DatasetListResponse> listDatasetsWithHttpInfo(String searchText, Integer page, Integer pageSize, String sort) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listDatasetsRequestBuilder(searchText, page, pageSize, sort);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listDatasets", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DatasetListResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DatasetListResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DatasetListResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listDatasetsRequestBuilder(String searchText, Integer page, Integer pageSize, String sort) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/develops/get-datasets/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "search_text";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("search_text", searchText));
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "page_size";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_size", pageSize));
    localVarQueryParameterBaseName = "sort";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort", sort));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @param datasetUpdateCellValueRequest  (required)
   * @return DevelopDatasetMessageResponse
   * @throws ApiException if fails to make API call
   */
  public DevelopDatasetMessageResponse updateDatasetCell(String datasetId, DatasetUpdateCellValueRequest datasetUpdateCellValueRequest) throws ApiException {
    ApiResponse<DevelopDatasetMessageResponse> localVarResponse = updateDatasetCellWithHttpInfo(datasetId, datasetUpdateCellValueRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param datasetId  (required)
   * @param datasetUpdateCellValueRequest  (required)
   * @return ApiResponse&lt;DevelopDatasetMessageResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DevelopDatasetMessageResponse> updateDatasetCellWithHttpInfo(String datasetId, DatasetUpdateCellValueRequest datasetUpdateCellValueRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateDatasetCellRequestBuilder(datasetId, datasetUpdateCellValueRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateDatasetCell", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DevelopDatasetMessageResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DevelopDatasetMessageResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DevelopDatasetMessageResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateDatasetCellRequestBuilder(String datasetId, DatasetUpdateCellValueRequest datasetUpdateCellValueRequest) throws ApiException {
    // verify the required parameter 'datasetId' is set
    if (datasetId == null) {
      throw new ApiException(400, "Missing the required parameter 'datasetId' when calling updateDatasetCell");
    }
    // verify the required parameter 'datasetUpdateCellValueRequest' is set
    if (datasetUpdateCellValueRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'datasetUpdateCellValueRequest' when calling updateDatasetCell");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/develops/{dataset_id}/update_cell_value/"
        .replace("{dataset_id}", ApiClient.urlEncode(datasetId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(datasetUpdateCellValueRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
