/*
 * Future AGI Public SDK API
 * The endpoints defined below allow users to programmatically carry out various actions on the Future AGI platform.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: help@futureagi.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.futureagi.sdk.api;

import com.futureagi.sdk.ApiClient;
import com.futureagi.sdk.ApiException;
import com.futureagi.sdk.ApiResponse;
import com.futureagi.sdk.Configuration;
import com.futureagi.sdk.Pair;

import com.futureagi.sdk.model.ExperimentComparisonDetailsResponse;
import com.futureagi.sdk.model.ExperimentComparisonWeightsRequest;
import com.futureagi.sdk.model.ExperimentCreateV2;
import com.futureagi.sdk.model.ExperimentDatasetComparisonResponse;
import com.futureagi.sdk.model.ExperimentJsonSchemaResponse;
import com.futureagi.sdk.model.ExperimentRerunRequest;
import com.futureagi.sdk.model.ExperimentStatsResponse;
import com.futureagi.sdk.model.ExperimentStopResponse;
import com.futureagi.sdk.model.ExperimentStringResultResponse;
import com.futureagi.sdk.model.ExperimentTableRowsResponse;
import com.futureagi.sdk.model.ExperimentUpdateV2;
import com.futureagi.sdk.model.ExperimentV2DetailResponse;
import java.io.File;
import com.futureagi.sdk.model.ListExperiments200Response;
import com.futureagi.sdk.model.ManagementAPIErrorResponse;
import com.futureagi.sdk.model.ModelHubErrorResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.12.0")
public class ExperimentsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public ExperimentsApi() {
    this(Configuration.getDefaultApiClient());
  }

  public ExperimentsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * V2 compare view: reads from experiment_datasets FK + snapshot_dataset.
   * @param experimentId  (required)
   * @param experimentComparisonWeightsRequest  (required)
   * @return ExperimentDatasetComparisonResponse
   * @throws ApiException if fails to make API call
   */
  public ExperimentDatasetComparisonResponse compareExperiments(String experimentId, ExperimentComparisonWeightsRequest experimentComparisonWeightsRequest) throws ApiException {
    ApiResponse<ExperimentDatasetComparisonResponse> localVarResponse = compareExperimentsWithHttpInfo(experimentId, experimentComparisonWeightsRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * V2 compare view: reads from experiment_datasets FK + snapshot_dataset.
   * @param experimentId  (required)
   * @param experimentComparisonWeightsRequest  (required)
   * @return ApiResponse&lt;ExperimentDatasetComparisonResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ExperimentDatasetComparisonResponse> compareExperimentsWithHttpInfo(String experimentId, ExperimentComparisonWeightsRequest experimentComparisonWeightsRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = compareExperimentsRequestBuilder(experimentId, experimentComparisonWeightsRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("compareExperiments", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ExperimentDatasetComparisonResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ExperimentDatasetComparisonResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ExperimentDatasetComparisonResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder compareExperimentsRequestBuilder(String experimentId, ExperimentComparisonWeightsRequest experimentComparisonWeightsRequest) throws ApiException {
    // verify the required parameter 'experimentId' is set
    if (experimentId == null) {
      throw new ApiException(400, "Missing the required parameter 'experimentId' when calling compareExperiments");
    }
    // verify the required parameter 'experimentComparisonWeightsRequest' is set
    if (experimentComparisonWeightsRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'experimentComparisonWeightsRequest' when calling compareExperiments");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/experiments/v2/{experiment_id}/compare-experiments/"
        .replace("{experiment_id}", ApiClient.urlEncode(experimentId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(experimentComparisonWeightsRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param experimentCreateV2  (required)
   * @return ExperimentStringResultResponse
   * @throws ApiException if fails to make API call
   */
  public ExperimentStringResultResponse createExperiment(ExperimentCreateV2 experimentCreateV2) throws ApiException {
    ApiResponse<ExperimentStringResultResponse> localVarResponse = createExperimentWithHttpInfo(experimentCreateV2);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param experimentCreateV2  (required)
   * @return ApiResponse&lt;ExperimentStringResultResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ExperimentStringResultResponse> createExperimentWithHttpInfo(ExperimentCreateV2 experimentCreateV2) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createExperimentRequestBuilder(experimentCreateV2);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createExperiment", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ExperimentStringResultResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ExperimentStringResultResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ExperimentStringResultResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createExperimentRequestBuilder(ExperimentCreateV2 experimentCreateV2) throws ApiException {
    // verify the required parameter 'experimentCreateV2' is set
    if (experimentCreateV2 == null) {
      throw new ApiException(400, "Missing the required parameter 'experimentCreateV2' when calling createExperiment");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/experiments/v2/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(experimentCreateV2);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * V2 delete: org-scoped, cancels workflows, cleans up columns &amp; EDTs.
   * @throws ApiException if fails to make API call
   */
  public void deleteExperiments() throws ApiException {
    deleteExperimentsWithHttpInfo();
  }

  /**
   * 
   * V2 delete: org-scoped, cancels workflows, cleans up columns &amp; EDTs.
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteExperimentsWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deleteExperimentsRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deleteExperiments", localVarResponse);
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
          // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deleteExperimentsRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/experiments/v2/delete/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param experimentId  (required)
   * @return File
   * @throws ApiException if fails to make API call
   */
  public File downloadExperiment(String experimentId) throws ApiException {
    ApiResponse<File> localVarResponse = downloadExperimentWithHttpInfo(experimentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param experimentId  (required)
   * @return ApiResponse&lt;File&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<File> downloadExperimentWithHttpInfo(String experimentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = downloadExperimentRequestBuilder(experimentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("downloadExperiment", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<File>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<File>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<File>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder downloadExperimentRequestBuilder(String experimentId) throws ApiException {
    // verify the required parameter 'experimentId' is set
    if (experimentId == null) {
      throw new ApiException(400, "Missing the required parameter 'experimentId' when calling downloadExperiment");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/experiments/v2/{experiment_id}/download/"
        .replace("{experiment_id}", ApiClient.urlEncode(experimentId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param experimentId  (required)
   * @return ExperimentV2DetailResponse
   * @throws ApiException if fails to make API call
   */
  public ExperimentV2DetailResponse getExperiment(String experimentId) throws ApiException {
    ApiResponse<ExperimentV2DetailResponse> localVarResponse = getExperimentWithHttpInfo(experimentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param experimentId  (required)
   * @return ApiResponse&lt;ExperimentV2DetailResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ExperimentV2DetailResponse> getExperimentWithHttpInfo(String experimentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getExperimentRequestBuilder(experimentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getExperiment", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ExperimentV2DetailResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ExperimentV2DetailResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ExperimentV2DetailResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getExperimentRequestBuilder(String experimentId) throws ApiException {
    // verify the required parameter 'experimentId' is set
    if (experimentId == null) {
      throw new ApiException(400, "Missing the required parameter 'experimentId' when calling getExperiment");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/experiments/v2/{experiment_id}/"
        .replace("{experiment_id}", ApiClient.urlEncode(experimentId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Get JSON schemas and images metadata for columns in an experiment&#39;s snapshot dataset. Delegates to the shared get_json_column_schemas() function.
   * @param experimentId  (required)
   * @return ExperimentJsonSchemaResponse
   * @throws ApiException if fails to make API call
   */
  public ExperimentJsonSchemaResponse getExperimentJsonSchema(String experimentId) throws ApiException {
    ApiResponse<ExperimentJsonSchemaResponse> localVarResponse = getExperimentJsonSchemaWithHttpInfo(experimentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * Get JSON schemas and images metadata for columns in an experiment&#39;s snapshot dataset. Delegates to the shared get_json_column_schemas() function.
   * @param experimentId  (required)
   * @return ApiResponse&lt;ExperimentJsonSchemaResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ExperimentJsonSchemaResponse> getExperimentJsonSchemaWithHttpInfo(String experimentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getExperimentJsonSchemaRequestBuilder(experimentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getExperimentJsonSchema", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ExperimentJsonSchemaResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ExperimentJsonSchemaResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ExperimentJsonSchemaResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getExperimentJsonSchemaRequestBuilder(String experimentId) throws ApiException {
    // verify the required parameter 'experimentId' is set
    if (experimentId == null) {
      throw new ApiException(400, "Missing the required parameter 'experimentId' when calling getExperimentJsonSchema");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/experiments/v2/{experiment_id}/json-schema/"
        .replace("{experiment_id}", ApiClient.urlEncode(experimentId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param experimentId  (required)
   * @param rowId  (required)
   * @return ExperimentTableRowsResponse
   * @throws ApiException if fails to make API call
   */
  public ExperimentTableRowsResponse getExperimentRow(String experimentId, String rowId) throws ApiException {
    ApiResponse<ExperimentTableRowsResponse> localVarResponse = getExperimentRowWithHttpInfo(experimentId, rowId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param experimentId  (required)
   * @param rowId  (required)
   * @return ApiResponse&lt;ExperimentTableRowsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ExperimentTableRowsResponse> getExperimentRowWithHttpInfo(String experimentId, String rowId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getExperimentRowRequestBuilder(experimentId, rowId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getExperimentRow", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ExperimentTableRowsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ExperimentTableRowsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ExperimentTableRowsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getExperimentRowRequestBuilder(String experimentId, String rowId) throws ApiException {
    // verify the required parameter 'experimentId' is set
    if (experimentId == null) {
      throw new ApiException(400, "Missing the required parameter 'experimentId' when calling getExperimentRow");
    }
    // verify the required parameter 'rowId' is set
    if (rowId == null) {
      throw new ApiException(400, "Missing the required parameter 'rowId' when calling getExperimentRow");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/experiments/v2/{experiment_id}/rows/{row_id}/"
        .replace("{experiment_id}", ApiClient.urlEncode(experimentId.toString()))
        .replace("{row_id}", ApiClient.urlEncode(rowId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Stats view for V2 experiments that read from snapshot_dataset.
   * @param experimentId  (required)
   * @return ExperimentStatsResponse
   * @throws ApiException if fails to make API call
   */
  public ExperimentStatsResponse getExperimentStats(String experimentId) throws ApiException {
    ApiResponse<ExperimentStatsResponse> localVarResponse = getExperimentStatsWithHttpInfo(experimentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * Stats view for V2 experiments that read from snapshot_dataset.
   * @param experimentId  (required)
   * @return ApiResponse&lt;ExperimentStatsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ExperimentStatsResponse> getExperimentStatsWithHttpInfo(String experimentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getExperimentStatsRequestBuilder(experimentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getExperimentStats", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ExperimentStatsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ExperimentStatsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ExperimentStatsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getExperimentStatsRequestBuilder(String experimentId) throws ApiException {
    // verify the required parameter 'experimentId' is set
    if (experimentId == null) {
      throw new ApiException(400, "Missing the required parameter 'experimentId' when calling getExperimentStats");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/experiments/v2/{experiment_id}/stats/"
        .replace("{experiment_id}", ApiClient.urlEncode(experimentId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param experimentId  (required)
   * @return ExperimentComparisonDetailsResponse
   * @throws ApiException if fails to make API call
   */
  public ExperimentComparisonDetailsResponse listExperimentComparisons(String experimentId) throws ApiException {
    ApiResponse<ExperimentComparisonDetailsResponse> localVarResponse = listExperimentComparisonsWithHttpInfo(experimentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param experimentId  (required)
   * @return ApiResponse&lt;ExperimentComparisonDetailsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ExperimentComparisonDetailsResponse> listExperimentComparisonsWithHttpInfo(String experimentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listExperimentComparisonsRequestBuilder(experimentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listExperimentComparisons", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ExperimentComparisonDetailsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ExperimentComparisonDetailsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ExperimentComparisonDetailsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listExperimentComparisonsRequestBuilder(String experimentId) throws ApiException {
    // verify the required parameter 'experimentId' is set
    if (experimentId == null) {
      throw new ApiException(400, "Missing the required parameter 'experimentId' when calling listExperimentComparisons");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/experiments/v2/{experiment_id}/comparisons/"
        .replace("{experiment_id}", ApiClient.urlEncode(experimentId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param experimentId  (required)
   * @return ExperimentTableRowsResponse
   * @throws ApiException if fails to make API call
   */
  public ExperimentTableRowsResponse listExperimentRows(String experimentId) throws ApiException {
    ApiResponse<ExperimentTableRowsResponse> localVarResponse = listExperimentRowsWithHttpInfo(experimentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param experimentId  (required)
   * @return ApiResponse&lt;ExperimentTableRowsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ExperimentTableRowsResponse> listExperimentRowsWithHttpInfo(String experimentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listExperimentRowsRequestBuilder(experimentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listExperimentRows", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ExperimentTableRowsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ExperimentTableRowsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ExperimentTableRowsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listExperimentRowsRequestBuilder(String experimentId) throws ApiException {
    // verify the required parameter 'experimentId' is set
    if (experimentId == null) {
      throw new ApiException(400, "Missing the required parameter 'experimentId' when calling listExperimentRows");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/experiments/v2/{experiment_id}/rows/"
        .replace("{experiment_id}", ApiClient.urlEncode(experimentId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * V2 experiment list with filtering, search, and pagination.
   * @param createdAt  (optional)
   * @param status  (optional)
   * @param datasetId  (optional)
   * @param search A search term. (optional)
   * @param ordering Which field to use when ordering the results. (optional)
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @return ListExperiments200Response
   * @throws ApiException if fails to make API call
   */
  public ListExperiments200Response listExperiments(String createdAt, String status, String datasetId, String search, String ordering, Integer page, Integer limit) throws ApiException {
    ApiResponse<ListExperiments200Response> localVarResponse = listExperimentsWithHttpInfo(createdAt, status, datasetId, search, ordering, page, limit);
    return localVarResponse.getData();
  }

  /**
   * 
   * V2 experiment list with filtering, search, and pagination.
   * @param createdAt  (optional)
   * @param status  (optional)
   * @param datasetId  (optional)
   * @param search A search term. (optional)
   * @param ordering Which field to use when ordering the results. (optional)
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @return ApiResponse&lt;ListExperiments200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ListExperiments200Response> listExperimentsWithHttpInfo(String createdAt, String status, String datasetId, String search, String ordering, Integer page, Integer limit) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listExperimentsRequestBuilder(createdAt, status, datasetId, search, ordering, page, limit);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listExperiments", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ListExperiments200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ListExperiments200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ListExperiments200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listExperimentsRequestBuilder(String createdAt, String status, String datasetId, String search, String ordering, Integer page, Integer limit) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/experiments/v2/list/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "created_at";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("created_at", createdAt));
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParameterBaseName = "dataset_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("dataset_id", datasetId));
    localVarQueryParameterBaseName = "search";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("search", search));
    localVarQueryParameterBaseName = "ordering";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("ordering", ordering));
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * V2 re-run: org-scoped, uses V2 Temporal workflow.
   * No manual workflow cancel needed — Temporal&#39;s TERMINATE_IF_RUNNING ID reuse policy automatically cancels any running workflow with the same ID. Cell reset is handled by the workflow itself (cleanup + setup activities).
   * @param experimentRerunRequest  (required)
   * @return ExperimentStringResultResponse
   * @throws ApiException if fails to make API call
   */
  public ExperimentStringResultResponse rerunExperiment(ExperimentRerunRequest experimentRerunRequest) throws ApiException {
    ApiResponse<ExperimentStringResultResponse> localVarResponse = rerunExperimentWithHttpInfo(experimentRerunRequest);
    return localVarResponse.getData();
  }

  /**
   * V2 re-run: org-scoped, uses V2 Temporal workflow.
   * No manual workflow cancel needed — Temporal&#39;s TERMINATE_IF_RUNNING ID reuse policy automatically cancels any running workflow with the same ID. Cell reset is handled by the workflow itself (cleanup + setup activities).
   * @param experimentRerunRequest  (required)
   * @return ApiResponse&lt;ExperimentStringResultResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ExperimentStringResultResponse> rerunExperimentWithHttpInfo(ExperimentRerunRequest experimentRerunRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = rerunExperimentRequestBuilder(experimentRerunRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("rerunExperiment", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ExperimentStringResultResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ExperimentStringResultResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ExperimentStringResultResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder rerunExperimentRequestBuilder(ExperimentRerunRequest experimentRerunRequest) throws ApiException {
    // verify the required parameter 'experimentRerunRequest' is set
    if (experimentRerunRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'experimentRerunRequest' when calling rerunExperiment");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/experiments/v2/re-run/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(experimentRerunRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Stop a running V2 experiment.
   * Cancels all Temporal workflows (main + reruns). DB cleanup (marking RUNNING cells as ERROR, columns/EDTs as FAILED, experiment as CANCELLED) is handled by each workflow&#39;s CancelledError handler via the stop_experiment_cleanup_activity.
   * @param experimentId  (required)
   * @param body  (required)
   * @return ExperimentStopResponse
   * @throws ApiException if fails to make API call
   */
  public ExperimentStopResponse stopExperiment(String experimentId, Object body) throws ApiException {
    ApiResponse<ExperimentStopResponse> localVarResponse = stopExperimentWithHttpInfo(experimentId, body);
    return localVarResponse.getData();
  }

  /**
   * Stop a running V2 experiment.
   * Cancels all Temporal workflows (main + reruns). DB cleanup (marking RUNNING cells as ERROR, columns/EDTs as FAILED, experiment as CANCELLED) is handled by each workflow&#39;s CancelledError handler via the stop_experiment_cleanup_activity.
   * @param experimentId  (required)
   * @param body  (required)
   * @return ApiResponse&lt;ExperimentStopResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ExperimentStopResponse> stopExperimentWithHttpInfo(String experimentId, Object body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = stopExperimentRequestBuilder(experimentId, body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("stopExperiment", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ExperimentStopResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ExperimentStopResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ExperimentStopResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder stopExperimentRequestBuilder(String experimentId, Object body) throws ApiException {
    // verify the required parameter 'experimentId' is set
    if (experimentId == null) {
      throw new ApiException(400, "Missing the required parameter 'experimentId' when calling stopExperiment");
    }
    // verify the required parameter 'body' is set
    if (body == null) {
      throw new ApiException(400, "Missing the required parameter 'body' when calling stopExperiment");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/experiments/v2/{experiment_id}/stop/"
        .replace("{experiment_id}", ApiClient.urlEncode(experimentId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Update a V2 experiment with diff-based selective re-run.
   * Editable fields: column_id, prompt_config, user_eval_metrics. Re-run triggers (determined by fingerprint diffs, not field presence): - prompt_config has new/modified entries → re-run those configs + ALL dependent evals - user_eval_metrics has new/modified entries → re-run only those evals - column_id changed → delete old base eval columns, re-run base evals - If FE sends unchanged data, diffs return empty → no re-run
   * @param experimentId  (required)
   * @param experimentUpdateV2  (required)
   * @return ExperimentV2DetailResponse
   * @throws ApiException if fails to make API call
   */
  public ExperimentV2DetailResponse updateExperiment(String experimentId, ExperimentUpdateV2 experimentUpdateV2) throws ApiException {
    ApiResponse<ExperimentV2DetailResponse> localVarResponse = updateExperimentWithHttpInfo(experimentId, experimentUpdateV2);
    return localVarResponse.getData();
  }

  /**
   * Update a V2 experiment with diff-based selective re-run.
   * Editable fields: column_id, prompt_config, user_eval_metrics. Re-run triggers (determined by fingerprint diffs, not field presence): - prompt_config has new/modified entries → re-run those configs + ALL dependent evals - user_eval_metrics has new/modified entries → re-run only those evals - column_id changed → delete old base eval columns, re-run base evals - If FE sends unchanged data, diffs return empty → no re-run
   * @param experimentId  (required)
   * @param experimentUpdateV2  (required)
   * @return ApiResponse&lt;ExperimentV2DetailResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ExperimentV2DetailResponse> updateExperimentWithHttpInfo(String experimentId, ExperimentUpdateV2 experimentUpdateV2) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateExperimentRequestBuilder(experimentId, experimentUpdateV2);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateExperiment", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ExperimentV2DetailResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ExperimentV2DetailResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ExperimentV2DetailResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateExperimentRequestBuilder(String experimentId, ExperimentUpdateV2 experimentUpdateV2) throws ApiException {
    // verify the required parameter 'experimentId' is set
    if (experimentId == null) {
      throw new ApiException(400, "Missing the required parameter 'experimentId' when calling updateExperiment");
    }
    // verify the required parameter 'experimentUpdateV2' is set
    if (experimentUpdateV2 == null) {
      throw new ApiException(400, "Missing the required parameter 'experimentUpdateV2' when calling updateExperiment");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/model-hub/experiments/v2/{experiment_id}/"
        .replace("{experiment_id}", ApiClient.urlEncode(experimentId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(experimentUpdateV2);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
