/*
 * Future AGI Public SDK API
 * The endpoints defined below allow users to programmatically carry out various actions on the Future AGI platform.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: help@futureagi.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.futureagi.sdk.api;

import com.futureagi.sdk.ApiClient;
import com.futureagi.sdk.ApiException;
import com.futureagi.sdk.ApiResponse;
import com.futureagi.sdk.Configuration;
import com.futureagi.sdk.Pair;

import com.futureagi.sdk.model.EvalErrorResponse;
import com.futureagi.sdk.model.EvalSummaryComparisonResponse;
import com.futureagi.sdk.model.EvalSummaryResponse;
import com.futureagi.sdk.model.ManagementAPIErrorResponse;
import java.util.UUID;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.12.0")
public class RunTestsEvalSummaryApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public RunTestsEvalSummaryApi() {
    this(Configuration.getDefaultApiClient());
  }

  public RunTestsEvalSummaryApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Compare evaluation summaries
   * Compares evaluation summary statistics across multiple test executions.
   * @param runTestId  (required)
   * @param executionIds JSON-encoded array of test execution UUIDs to compare. Example: [\&quot;uuid1\&quot;,\&quot;uuid2\&quot;]. Must be URL-encoded. (required)
   * @return EvalSummaryComparisonResponse
   * @throws ApiException if fails to make API call
   */
  public EvalSummaryComparisonResponse simulateRunTestsEvalSummaryComparisonList(String runTestId, String executionIds) throws ApiException {
    ApiResponse<EvalSummaryComparisonResponse> localVarResponse = simulateRunTestsEvalSummaryComparisonListWithHttpInfo(runTestId, executionIds);
    return localVarResponse.getData();
  }

  /**
   * Compare evaluation summaries
   * Compares evaluation summary statistics across multiple test executions.
   * @param runTestId  (required)
   * @param executionIds JSON-encoded array of test execution UUIDs to compare. Example: [\&quot;uuid1\&quot;,\&quot;uuid2\&quot;]. Must be URL-encoded. (required)
   * @return ApiResponse&lt;EvalSummaryComparisonResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EvalSummaryComparisonResponse> simulateRunTestsEvalSummaryComparisonListWithHttpInfo(String runTestId, String executionIds) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = simulateRunTestsEvalSummaryComparisonListRequestBuilder(runTestId, executionIds);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("simulateRunTestsEvalSummaryComparisonList", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<EvalSummaryComparisonResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<EvalSummaryComparisonResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<EvalSummaryComparisonResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder simulateRunTestsEvalSummaryComparisonListRequestBuilder(String runTestId, String executionIds) throws ApiException {
    // verify the required parameter 'runTestId' is set
    if (runTestId == null) {
      throw new ApiException(400, "Missing the required parameter 'runTestId' when calling simulateRunTestsEvalSummaryComparisonList");
    }
    // verify the required parameter 'executionIds' is set
    if (executionIds == null) {
      throw new ApiException(400, "Missing the required parameter 'executionIds' when calling simulateRunTestsEvalSummaryComparisonList");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/run-tests/{run_test_id}/eval-summary-comparison/"
        .replace("{run_test_id}", ApiClient.urlEncode(runTestId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "execution_ids";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("execution_ids", executionIds));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get evaluation summary
   * Returns evaluation summary statistics for a test run, optionally scoped to a single execution.
   * @param runTestId  (required)
   * @param executionId UUID of a specific test execution to scope the summary to. If omitted, aggregates across all executions. (optional)
   * @return EvalSummaryResponse
   * @throws ApiException if fails to make API call
   */
  public EvalSummaryResponse simulateRunTestsEvalSummaryList(String runTestId, UUID executionId) throws ApiException {
    ApiResponse<EvalSummaryResponse> localVarResponse = simulateRunTestsEvalSummaryListWithHttpInfo(runTestId, executionId);
    return localVarResponse.getData();
  }

  /**
   * Get evaluation summary
   * Returns evaluation summary statistics for a test run, optionally scoped to a single execution.
   * @param runTestId  (required)
   * @param executionId UUID of a specific test execution to scope the summary to. If omitted, aggregates across all executions. (optional)
   * @return ApiResponse&lt;EvalSummaryResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EvalSummaryResponse> simulateRunTestsEvalSummaryListWithHttpInfo(String runTestId, UUID executionId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = simulateRunTestsEvalSummaryListRequestBuilder(runTestId, executionId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("simulateRunTestsEvalSummaryList", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<EvalSummaryResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<EvalSummaryResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<EvalSummaryResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder simulateRunTestsEvalSummaryListRequestBuilder(String runTestId, UUID executionId) throws ApiException {
    // verify the required parameter 'runTestId' is set
    if (runTestId == null) {
      throw new ApiException(400, "Missing the required parameter 'runTestId' when calling simulateRunTestsEvalSummaryList");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/run-tests/{run_test_id}/eval-summary/"
        .replace("{run_test_id}", ApiClient.urlEncode(runTestId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "execution_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("execution_id", executionId));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
