/*
 * Future AGI Public SDK API
 * The endpoints defined below allow users to programmatically carry out various actions on the Future AGI platform.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: help@futureagi.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.futureagi.sdk.api;

import com.futureagi.sdk.ApiClient;
import com.futureagi.sdk.ApiException;
import com.futureagi.sdk.ApiResponse;
import com.futureagi.sdk.Configuration;
import com.futureagi.sdk.Pair;

import com.futureagi.sdk.model.ManagementAPIErrorResponse;
import com.futureagi.sdk.model.ScenarioAddColumnsRequest;
import com.futureagi.sdk.model.ScenarioAddColumnsResponse;
import com.futureagi.sdk.model.ScenarioAddRowsRequest;
import com.futureagi.sdk.model.ScenarioAddRowsResponse;
import com.futureagi.sdk.model.ScenarioEditPromptsRequest;
import com.futureagi.sdk.model.ScenarioErrorResponse;
import com.futureagi.sdk.model.ScenarioListResponse;
import com.futureagi.sdk.model.ScenarioPromptsUpdateResponse;
import java.util.UUID;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.12.0")
public class ScenariosApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public ScenariosApi() {
    this(Configuration.getDefaultApiClient());
  }

  public ScenariosApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Add columns to scenario
   * Adds new columns to a scenario&#39;s dataset via Temporal workflow. Returns 202 Accepted.
   * @param scenarioId  (required)
   * @param scenarioAddColumnsRequest  (required)
   * @return ScenarioAddColumnsResponse
   * @throws ApiException if fails to make API call
   */
  public ScenarioAddColumnsResponse simulateScenariosAddColumnsCreate(String scenarioId, ScenarioAddColumnsRequest scenarioAddColumnsRequest) throws ApiException {
    ApiResponse<ScenarioAddColumnsResponse> localVarResponse = simulateScenariosAddColumnsCreateWithHttpInfo(scenarioId, scenarioAddColumnsRequest);
    return localVarResponse.getData();
  }

  /**
   * Add columns to scenario
   * Adds new columns to a scenario&#39;s dataset via Temporal workflow. Returns 202 Accepted.
   * @param scenarioId  (required)
   * @param scenarioAddColumnsRequest  (required)
   * @return ApiResponse&lt;ScenarioAddColumnsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ScenarioAddColumnsResponse> simulateScenariosAddColumnsCreateWithHttpInfo(String scenarioId, ScenarioAddColumnsRequest scenarioAddColumnsRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = simulateScenariosAddColumnsCreateRequestBuilder(scenarioId, scenarioAddColumnsRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("simulateScenariosAddColumnsCreate", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ScenarioAddColumnsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ScenarioAddColumnsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ScenarioAddColumnsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder simulateScenariosAddColumnsCreateRequestBuilder(String scenarioId, ScenarioAddColumnsRequest scenarioAddColumnsRequest) throws ApiException {
    // verify the required parameter 'scenarioId' is set
    if (scenarioId == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioId' when calling simulateScenariosAddColumnsCreate");
    }
    // verify the required parameter 'scenarioAddColumnsRequest' is set
    if (scenarioAddColumnsRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioAddColumnsRequest' when calling simulateScenariosAddColumnsCreate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/scenarios/{scenario_id}/add-columns/"
        .replace("{scenario_id}", ApiClient.urlEncode(scenarioId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(scenarioAddColumnsRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Add rows to scenario
   * Adds new rows to a scenario&#39;s dataset via Temporal workflow. Returns 202 Accepted.
   * @param scenarioId  (required)
   * @param scenarioAddRowsRequest  (required)
   * @return ScenarioAddRowsResponse
   * @throws ApiException if fails to make API call
   */
  public ScenarioAddRowsResponse simulateScenariosAddRowsCreate(String scenarioId, ScenarioAddRowsRequest scenarioAddRowsRequest) throws ApiException {
    ApiResponse<ScenarioAddRowsResponse> localVarResponse = simulateScenariosAddRowsCreateWithHttpInfo(scenarioId, scenarioAddRowsRequest);
    return localVarResponse.getData();
  }

  /**
   * Add rows to scenario
   * Adds new rows to a scenario&#39;s dataset via Temporal workflow. Returns 202 Accepted.
   * @param scenarioId  (required)
   * @param scenarioAddRowsRequest  (required)
   * @return ApiResponse&lt;ScenarioAddRowsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ScenarioAddRowsResponse> simulateScenariosAddRowsCreateWithHttpInfo(String scenarioId, ScenarioAddRowsRequest scenarioAddRowsRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = simulateScenariosAddRowsCreateRequestBuilder(scenarioId, scenarioAddRowsRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("simulateScenariosAddRowsCreate", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ScenarioAddRowsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ScenarioAddRowsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ScenarioAddRowsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder simulateScenariosAddRowsCreateRequestBuilder(String scenarioId, ScenarioAddRowsRequest scenarioAddRowsRequest) throws ApiException {
    // verify the required parameter 'scenarioId' is set
    if (scenarioId == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioId' when calling simulateScenariosAddRowsCreate");
    }
    // verify the required parameter 'scenarioAddRowsRequest' is set
    if (scenarioAddRowsRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioAddRowsRequest' when calling simulateScenariosAddRowsCreate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/scenarios/{scenario_id}/add-rows/"
        .replace("{scenario_id}", ApiClient.urlEncode(scenarioId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(scenarioAddRowsRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List scenarios
   * Returns a paginated list of scenarios for the user&#39;s organization.
   * @param search  (optional, default to )
   * @param agentDefinitionId  (optional)
   * @param agentType  (optional)
   * @param page  (optional, default to 1)
   * @param limit  (optional)
   * @return ScenarioListResponse
   * @throws ApiException if fails to make API call
   */
  public ScenarioListResponse simulateScenariosGetColumnsList(String search, UUID agentDefinitionId, String agentType, Integer page, Integer limit) throws ApiException {
    ApiResponse<ScenarioListResponse> localVarResponse = simulateScenariosGetColumnsListWithHttpInfo(search, agentDefinitionId, agentType, page, limit);
    return localVarResponse.getData();
  }

  /**
   * List scenarios
   * Returns a paginated list of scenarios for the user&#39;s organization.
   * @param search  (optional, default to )
   * @param agentDefinitionId  (optional)
   * @param agentType  (optional)
   * @param page  (optional, default to 1)
   * @param limit  (optional)
   * @return ApiResponse&lt;ScenarioListResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ScenarioListResponse> simulateScenariosGetColumnsListWithHttpInfo(String search, UUID agentDefinitionId, String agentType, Integer page, Integer limit) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = simulateScenariosGetColumnsListRequestBuilder(search, agentDefinitionId, agentType, page, limit);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("simulateScenariosGetColumnsList", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ScenarioListResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ScenarioListResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ScenarioListResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder simulateScenariosGetColumnsListRequestBuilder(String search, UUID agentDefinitionId, String agentType, Integer page, Integer limit) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/scenarios/get-columns/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "search";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("search", search));
    localVarQueryParameterBaseName = "agent_definition_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("agent_definition_id", agentDefinitionId));
    localVarQueryParameterBaseName = "agent_type";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("agent_type", agentType));
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Edit scenario prompts
   * Updates the simulator agent prompt for a scenario.
   * @param scenarioId  (required)
   * @param scenarioEditPromptsRequest  (required)
   * @return ScenarioPromptsUpdateResponse
   * @throws ApiException if fails to make API call
   */
  public ScenarioPromptsUpdateResponse simulateScenariosPromptsUpdate(String scenarioId, ScenarioEditPromptsRequest scenarioEditPromptsRequest) throws ApiException {
    ApiResponse<ScenarioPromptsUpdateResponse> localVarResponse = simulateScenariosPromptsUpdateWithHttpInfo(scenarioId, scenarioEditPromptsRequest);
    return localVarResponse.getData();
  }

  /**
   * Edit scenario prompts
   * Updates the simulator agent prompt for a scenario.
   * @param scenarioId  (required)
   * @param scenarioEditPromptsRequest  (required)
   * @return ApiResponse&lt;ScenarioPromptsUpdateResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ScenarioPromptsUpdateResponse> simulateScenariosPromptsUpdateWithHttpInfo(String scenarioId, ScenarioEditPromptsRequest scenarioEditPromptsRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = simulateScenariosPromptsUpdateRequestBuilder(scenarioId, scenarioEditPromptsRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("simulateScenariosPromptsUpdate", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ScenarioPromptsUpdateResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ScenarioPromptsUpdateResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ScenarioPromptsUpdateResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder simulateScenariosPromptsUpdateRequestBuilder(String scenarioId, ScenarioEditPromptsRequest scenarioEditPromptsRequest) throws ApiException {
    // verify the required parameter 'scenarioId' is set
    if (scenarioId == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioId' when calling simulateScenariosPromptsUpdate");
    }
    // verify the required parameter 'scenarioEditPromptsRequest' is set
    if (scenarioEditPromptsRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioEditPromptsRequest' when calling simulateScenariosPromptsUpdate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/scenarios/{scenario_id}/prompts/"
        .replace("{scenario_id}", ApiClient.urlEncode(scenarioId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(scenarioEditPromptsRequest);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
