/*
 * Future AGI Public SDK API
 * The endpoints defined below allow users to programmatically carry out various actions on the Future AGI platform.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: help@futureagi.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.futureagi.sdk.api;

import com.futureagi.sdk.ApiClient;
import com.futureagi.sdk.ApiException;
import com.futureagi.sdk.ApiResponse;
import com.futureagi.sdk.Configuration;
import com.futureagi.sdk.Pair;

import com.futureagi.sdk.model.AgentDefinitionCreateRequest;
import com.futureagi.sdk.model.AgentDefinitionCreateResponse;
import com.futureagi.sdk.model.AgentDefinitionDeleteResponse;
import com.futureagi.sdk.model.AgentDefinitionEditRequest;
import com.futureagi.sdk.model.AgentDefinitionEditResponse;
import com.futureagi.sdk.model.AgentDefinitionListResponse;
import com.futureagi.sdk.model.AgentDefinitionResponse;
import com.futureagi.sdk.model.ApiErrorWithDetailsResponse;
import com.futureagi.sdk.model.ManagementAPIErrorResponse;
import java.util.UUID;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.12.0")
public class SimulationAgentDefinitionsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public SimulationAgentDefinitionsApi() {
    this(Configuration.getDefaultApiClient());
  }

  public SimulationAgentDefinitionsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * Create a new agent definition with its first version.
   * @param agentDefinitionCreateRequest  (required)
   * @return AgentDefinitionCreateResponse
   * @throws ApiException if fails to make API call
   */
  public AgentDefinitionCreateResponse createAgentDefinition(AgentDefinitionCreateRequest agentDefinitionCreateRequest) throws ApiException {
    ApiResponse<AgentDefinitionCreateResponse> localVarResponse = createAgentDefinitionWithHttpInfo(agentDefinitionCreateRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * Create a new agent definition with its first version.
   * @param agentDefinitionCreateRequest  (required)
   * @return ApiResponse&lt;AgentDefinitionCreateResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AgentDefinitionCreateResponse> createAgentDefinitionWithHttpInfo(AgentDefinitionCreateRequest agentDefinitionCreateRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createAgentDefinitionRequestBuilder(agentDefinitionCreateRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createAgentDefinition", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<AgentDefinitionCreateResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<AgentDefinitionCreateResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<AgentDefinitionCreateResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createAgentDefinitionRequestBuilder(AgentDefinitionCreateRequest agentDefinitionCreateRequest) throws ApiException {
    // verify the required parameter 'agentDefinitionCreateRequest' is set
    if (agentDefinitionCreateRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'agentDefinitionCreateRequest' when calling createAgentDefinition");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/agent-definitions/create/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(agentDefinitionCreateRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Soft delete an agent definition.
   * @param agentId  (required)
   * @return AgentDefinitionDeleteResponse
   * @throws ApiException if fails to make API call
   */
  public AgentDefinitionDeleteResponse deleteAgentDefinition(String agentId) throws ApiException {
    ApiResponse<AgentDefinitionDeleteResponse> localVarResponse = deleteAgentDefinitionWithHttpInfo(agentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * Soft delete an agent definition.
   * @param agentId  (required)
   * @return ApiResponse&lt;AgentDefinitionDeleteResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AgentDefinitionDeleteResponse> deleteAgentDefinitionWithHttpInfo(String agentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deleteAgentDefinitionRequestBuilder(agentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deleteAgentDefinition", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<AgentDefinitionDeleteResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<AgentDefinitionDeleteResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<AgentDefinitionDeleteResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deleteAgentDefinitionRequestBuilder(String agentId) throws ApiException {
    // verify the required parameter 'agentId' is set
    if (agentId == null) {
      throw new ApiException(400, "Missing the required parameter 'agentId' when calling deleteAgentDefinition");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/agent-definitions/{agent_id}/delete/"
        .replace("{agent_id}", ApiClient.urlEncode(agentId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Get details of a specific agent definition with version information.
   * @param agentId  (required)
   * @return AgentDefinitionResponse
   * @throws ApiException if fails to make API call
   */
  public AgentDefinitionResponse getAgentDefinition(String agentId) throws ApiException {
    ApiResponse<AgentDefinitionResponse> localVarResponse = getAgentDefinitionWithHttpInfo(agentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * Get details of a specific agent definition with version information.
   * @param agentId  (required)
   * @return ApiResponse&lt;AgentDefinitionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AgentDefinitionResponse> getAgentDefinitionWithHttpInfo(String agentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getAgentDefinitionRequestBuilder(agentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getAgentDefinition", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<AgentDefinitionResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<AgentDefinitionResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<AgentDefinitionResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getAgentDefinitionRequestBuilder(String agentId) throws ApiException {
    // verify the required parameter 'agentId' is set
    if (agentId == null) {
      throw new ApiException(400, "Missing the required parameter 'agentId' when calling getAgentDefinition");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/agent-definitions/{agent_id}/"
        .replace("{agent_id}", ApiClient.urlEncode(agentId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Get paginated list of agent definitions for the user&#39;s organization.
   * @param search  (optional, default to )
   * @param agentType  (optional)
   * @param agentDefinitionId  (optional)
   * @param page  (optional, default to 1)
   * @param limit  (optional)
   * @return List&lt;AgentDefinitionListResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public List<AgentDefinitionListResponse> listAgentDefinitions(String search, String agentType, UUID agentDefinitionId, Integer page, Integer limit) throws ApiException {
    ApiResponse<List<AgentDefinitionListResponse>> localVarResponse = listAgentDefinitionsWithHttpInfo(search, agentType, agentDefinitionId, page, limit);
    return localVarResponse.getData();
  }

  /**
   * 
   * Get paginated list of agent definitions for the user&#39;s organization.
   * @param search  (optional, default to )
   * @param agentType  (optional)
   * @param agentDefinitionId  (optional)
   * @param page  (optional, default to 1)
   * @param limit  (optional)
   * @return ApiResponse&lt;List&lt;AgentDefinitionListResponse&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<AgentDefinitionListResponse>> listAgentDefinitionsWithHttpInfo(String search, String agentType, UUID agentDefinitionId, Integer page, Integer limit) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listAgentDefinitionsRequestBuilder(search, agentType, agentDefinitionId, page, limit);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listAgentDefinitions", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<List<AgentDefinitionListResponse>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<List<AgentDefinitionListResponse>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<AgentDefinitionListResponse>>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listAgentDefinitionsRequestBuilder(String search, String agentType, UUID agentDefinitionId, Integer page, Integer limit) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/agent-definitions/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "search";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("search", search));
    localVarQueryParameterBaseName = "agent_type";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("agent_type", agentType));
    localVarQueryParameterBaseName = "agent_definition_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("agent_definition_id", agentDefinitionId));
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Update an existing agent definition.
   * @param agentId  (required)
   * @param agentDefinitionEditRequest  (required)
   * @return AgentDefinitionEditResponse
   * @throws ApiException if fails to make API call
   */
  public AgentDefinitionEditResponse updateAgentDefinition(String agentId, AgentDefinitionEditRequest agentDefinitionEditRequest) throws ApiException {
    ApiResponse<AgentDefinitionEditResponse> localVarResponse = updateAgentDefinitionWithHttpInfo(agentId, agentDefinitionEditRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * Update an existing agent definition.
   * @param agentId  (required)
   * @param agentDefinitionEditRequest  (required)
   * @return ApiResponse&lt;AgentDefinitionEditResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AgentDefinitionEditResponse> updateAgentDefinitionWithHttpInfo(String agentId, AgentDefinitionEditRequest agentDefinitionEditRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateAgentDefinitionRequestBuilder(agentId, agentDefinitionEditRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateAgentDefinition", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<AgentDefinitionEditResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<AgentDefinitionEditResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<AgentDefinitionEditResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateAgentDefinitionRequestBuilder(String agentId, AgentDefinitionEditRequest agentDefinitionEditRequest) throws ApiException {
    // verify the required parameter 'agentId' is set
    if (agentId == null) {
      throw new ApiException(400, "Missing the required parameter 'agentId' when calling updateAgentDefinition");
    }
    // verify the required parameter 'agentDefinitionEditRequest' is set
    if (agentDefinitionEditRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'agentDefinitionEditRequest' when calling updateAgentDefinition");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/agent-definitions/{agent_id}/edit/"
        .replace("{agent_id}", ApiClient.urlEncode(agentId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(agentDefinitionEditRequest);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
