/*
 * Future AGI Public SDK API
 * The endpoints defined below allow users to programmatically carry out various actions on the Future AGI platform.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: help@futureagi.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.futureagi.sdk.api;

import com.futureagi.sdk.ApiClient;
import com.futureagi.sdk.ApiException;
import com.futureagi.sdk.ApiResponse;
import com.futureagi.sdk.Configuration;
import com.futureagi.sdk.Pair;

import com.futureagi.sdk.model.CallExecutionErrorResponse;
import com.futureagi.sdk.model.CreateRunTest;
import com.futureagi.sdk.model.ErrorResponse;
import com.futureagi.sdk.model.ExecuteRunTest;
import com.futureagi.sdk.model.ManagementAPIErrorResponse;
import com.futureagi.sdk.model.RunTestAnalytics;
import com.futureagi.sdk.model.RunTestCallExecutionsResponse;
import com.futureagi.sdk.model.RunTestErrorResponse;
import com.futureagi.sdk.model.RunTestExecutionResponse;
import com.futureagi.sdk.model.RunTestMessageResponse;
import com.futureagi.sdk.model.RunTestResponse;
import com.futureagi.sdk.model.TestExecutionItemResponse;
import com.futureagi.sdk.model.TestExecutionStatusSummary;
import java.util.UUID;
import com.futureagi.sdk.model.UpdateRunTest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.12.0")
public class SimulationRunTestsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public SimulationRunTestsApi() {
    this(Configuration.getDefaultApiClient());
  }

  public SimulationRunTestsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * Create a new RunTest
   * @param createRunTest  (required)
   * @return RunTestResponse
   * @throws ApiException if fails to make API call
   */
  public RunTestResponse createRunTest(CreateRunTest createRunTest) throws ApiException {
    ApiResponse<RunTestResponse> localVarResponse = createRunTestWithHttpInfo(createRunTest);
    return localVarResponse.getData();
  }

  /**
   * 
   * Create a new RunTest
   * @param createRunTest  (required)
   * @return ApiResponse&lt;RunTestResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<RunTestResponse> createRunTestWithHttpInfo(CreateRunTest createRunTest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createRunTestRequestBuilder(createRunTest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createRunTest", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<RunTestResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<RunTestResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<RunTestResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createRunTestRequestBuilder(CreateRunTest createRunTest) throws ApiException {
    // verify the required parameter 'createRunTest' is set
    if (createRunTest == null) {
      throw new ApiException(400, "Missing the required parameter 'createRunTest' when calling createRunTest");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/run-tests/create/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createRunTest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Delete a specific RunTest (soft delete)
   * @param runTestId  (required)
   * @return RunTestMessageResponse
   * @throws ApiException if fails to make API call
   */
  public RunTestMessageResponse deleteRunTest(String runTestId) throws ApiException {
    ApiResponse<RunTestMessageResponse> localVarResponse = deleteRunTestWithHttpInfo(runTestId);
    return localVarResponse.getData();
  }

  /**
   * 
   * Delete a specific RunTest (soft delete)
   * @param runTestId  (required)
   * @return ApiResponse&lt;RunTestMessageResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<RunTestMessageResponse> deleteRunTestWithHttpInfo(String runTestId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deleteRunTestRequestBuilder(runTestId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deleteRunTest", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<RunTestMessageResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<RunTestMessageResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<RunTestMessageResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deleteRunTestRequestBuilder(String runTestId) throws ApiException {
    // verify the required parameter 'runTestId' is set
    if (runTestId == null) {
      throw new ApiException(400, "Missing the required parameter 'runTestId' when calling deleteRunTest");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/run-tests/{run_test_id}/"
        .replace("{run_test_id}", ApiClient.urlEncode(runTestId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Execute a test run
   * @param runTestId  (required)
   * @param executeRunTest  (required)
   * @return RunTestExecutionResponse
   * @throws ApiException if fails to make API call
   */
  public RunTestExecutionResponse executeRunTest(String runTestId, ExecuteRunTest executeRunTest) throws ApiException {
    ApiResponse<RunTestExecutionResponse> localVarResponse = executeRunTestWithHttpInfo(runTestId, executeRunTest);
    return localVarResponse.getData();
  }

  /**
   * 
   * Execute a test run
   * @param runTestId  (required)
   * @param executeRunTest  (required)
   * @return ApiResponse&lt;RunTestExecutionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<RunTestExecutionResponse> executeRunTestWithHttpInfo(String runTestId, ExecuteRunTest executeRunTest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = executeRunTestRequestBuilder(runTestId, executeRunTest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("executeRunTest", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<RunTestExecutionResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<RunTestExecutionResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<RunTestExecutionResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder executeRunTestRequestBuilder(String runTestId, ExecuteRunTest executeRunTest) throws ApiException {
    // verify the required parameter 'runTestId' is set
    if (runTestId == null) {
      throw new ApiException(400, "Missing the required parameter 'runTestId' when calling executeRunTest");
    }
    // verify the required parameter 'executeRunTest' is set
    if (executeRunTest == null) {
      throw new ApiException(400, "Missing the required parameter 'executeRunTest' when calling executeRunTest");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/run-tests/{run_test_id}/execute/"
        .replace("{run_test_id}", ApiClient.urlEncode(runTestId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(executeRunTest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Retrieve a specific RunTest
   * @param runTestId  (required)
   * @return RunTestResponse
   * @throws ApiException if fails to make API call
   */
  public RunTestResponse getRunTest(String runTestId) throws ApiException {
    ApiResponse<RunTestResponse> localVarResponse = getRunTestWithHttpInfo(runTestId);
    return localVarResponse.getData();
  }

  /**
   * 
   * Retrieve a specific RunTest
   * @param runTestId  (required)
   * @return ApiResponse&lt;RunTestResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<RunTestResponse> getRunTestWithHttpInfo(String runTestId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getRunTestRequestBuilder(runTestId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getRunTest", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<RunTestResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<RunTestResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<RunTestResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getRunTestRequestBuilder(String runTestId) throws ApiException {
    // verify the required parameter 'runTestId' is set
    if (runTestId == null) {
      throw new ApiException(400, "Missing the required parameter 'runTestId' when calling getRunTest");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/run-tests/{run_test_id}/"
        .replace("{run_test_id}", ApiClient.urlEncode(runTestId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Get analytics data for a specific run test across multiple test executions
   * @param runTestId  (required)
   * @return RunTestAnalytics
   * @throws ApiException if fails to make API call
   */
  public RunTestAnalytics getRunTestAnalytics(String runTestId) throws ApiException {
    ApiResponse<RunTestAnalytics> localVarResponse = getRunTestAnalyticsWithHttpInfo(runTestId);
    return localVarResponse.getData();
  }

  /**
   * 
   * Get analytics data for a specific run test across multiple test executions
   * @param runTestId  (required)
   * @return ApiResponse&lt;RunTestAnalytics&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<RunTestAnalytics> getRunTestAnalyticsWithHttpInfo(String runTestId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getRunTestAnalyticsRequestBuilder(runTestId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getRunTestAnalytics", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<RunTestAnalytics>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<RunTestAnalytics>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<RunTestAnalytics>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getRunTestAnalyticsRequestBuilder(String runTestId) throws ApiException {
    // verify the required parameter 'runTestId' is set
    if (runTestId == null) {
      throw new ApiException(400, "Missing the required parameter 'runTestId' when calling getRunTestAnalytics");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/run-tests/{run_test_id}/analytics/"
        .replace("{run_test_id}", ApiClient.urlEncode(runTestId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Get test execution status
   * @param runTestId  (required)
   * @return TestExecutionStatusSummary
   * @throws ApiException if fails to make API call
   */
  public TestExecutionStatusSummary getRunTestStatus(String runTestId) throws ApiException {
    ApiResponse<TestExecutionStatusSummary> localVarResponse = getRunTestStatusWithHttpInfo(runTestId);
    return localVarResponse.getData();
  }

  /**
   * 
   * Get test execution status
   * @param runTestId  (required)
   * @return ApiResponse&lt;TestExecutionStatusSummary&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TestExecutionStatusSummary> getRunTestStatusWithHttpInfo(String runTestId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getRunTestStatusRequestBuilder(runTestId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getRunTestStatus", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TestExecutionStatusSummary>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TestExecutionStatusSummary>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TestExecutionStatusSummary>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getRunTestStatusRequestBuilder(String runTestId) throws ApiException {
    // verify the required parameter 'runTestId' is set
    if (runTestId == null) {
      throw new ApiException(400, "Missing the required parameter 'runTestId' when calling getRunTestStatus");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/run-tests/{run_test_id}/status/"
        .replace("{run_test_id}", ApiClient.urlEncode(runTestId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Get all call executions for a specific run test with pagination and search Query Parameters: - search: search string to filter call executions by phone number or scenario name - status: filter by call execution status - limit: number of call executions per page (default: 10) - page: page number for call executions (default: 1)
   * @param runTestId  (required)
   * @return RunTestCallExecutionsResponse
   * @throws ApiException if fails to make API call
   */
  public RunTestCallExecutionsResponse listRunTestCallExecutions(String runTestId) throws ApiException {
    ApiResponse<RunTestCallExecutionsResponse> localVarResponse = listRunTestCallExecutionsWithHttpInfo(runTestId);
    return localVarResponse.getData();
  }

  /**
   * 
   * Get all call executions for a specific run test with pagination and search Query Parameters: - search: search string to filter call executions by phone number or scenario name - status: filter by call execution status - limit: number of call executions per page (default: 10) - page: page number for call executions (default: 1)
   * @param runTestId  (required)
   * @return ApiResponse&lt;RunTestCallExecutionsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<RunTestCallExecutionsResponse> listRunTestCallExecutionsWithHttpInfo(String runTestId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listRunTestCallExecutionsRequestBuilder(runTestId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listRunTestCallExecutions", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<RunTestCallExecutionsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<RunTestCallExecutionsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<RunTestCallExecutionsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listRunTestCallExecutionsRequestBuilder(String runTestId) throws ApiException {
    // verify the required parameter 'runTestId' is set
    if (runTestId == null) {
      throw new ApiException(400, "Missing the required parameter 'runTestId' when calling listRunTestCallExecutions");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/run-tests/{run_test_id}/call-executions/"
        .replace("{run_test_id}", ApiClient.urlEncode(runTestId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Get test execution data for a specific run test Query Parameters: - search: search string to filter test executions by status or scenario name - status: filter by execution status - limit: number of items per page (default: 10) - page: page number (default: 1)
   * @param runTestId  (required)
   * @return List&lt;TestExecutionItemResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public List<TestExecutionItemResponse> listRunTestExecutions(String runTestId) throws ApiException {
    ApiResponse<List<TestExecutionItemResponse>> localVarResponse = listRunTestExecutionsWithHttpInfo(runTestId);
    return localVarResponse.getData();
  }

  /**
   * 
   * Get test execution data for a specific run test Query Parameters: - search: search string to filter test executions by status or scenario name - status: filter by execution status - limit: number of items per page (default: 10) - page: page number (default: 1)
   * @param runTestId  (required)
   * @return ApiResponse&lt;List&lt;TestExecutionItemResponse&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<TestExecutionItemResponse>> listRunTestExecutionsWithHttpInfo(String runTestId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listRunTestExecutionsRequestBuilder(runTestId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listRunTestExecutions", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<List<TestExecutionItemResponse>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<List<TestExecutionItemResponse>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<TestExecutionItemResponse>>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listRunTestExecutionsRequestBuilder(String runTestId) throws ApiException {
    // verify the required parameter 'runTestId' is set
    if (runTestId == null) {
      throw new ApiException(400, "Missing the required parameter 'runTestId' when calling listRunTestExecutions");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/run-tests/{run_test_id}/executions/"
        .replace("{run_test_id}", ApiClient.urlEncode(runTestId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Get paginated list of run tests for the user&#39;s organization Query Parameters: - search: search string to filter run tests by name - limit: number of items per page (default: 10) - page: page number (default: 1) - simulation_type: filter by source type (RunTest.SourceTypes values:     &#39;agent_definition&#39; or &#39;prompt&#39;) - prompt_template_id: filter by prompt template ID (used when     simulation_type is &#39;prompt&#39;)
   * @param search  (optional, default to )
   * @param simulationType  (optional)
   * @param promptTemplateId  (optional)
   * @param page  (optional, default to 1)
   * @param limit  (optional)
   * @return List&lt;RunTestResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public List<RunTestResponse> listRunTests(String search, String simulationType, UUID promptTemplateId, Integer page, Integer limit) throws ApiException {
    ApiResponse<List<RunTestResponse>> localVarResponse = listRunTestsWithHttpInfo(search, simulationType, promptTemplateId, page, limit);
    return localVarResponse.getData();
  }

  /**
   * 
   * Get paginated list of run tests for the user&#39;s organization Query Parameters: - search: search string to filter run tests by name - limit: number of items per page (default: 10) - page: page number (default: 1) - simulation_type: filter by source type (RunTest.SourceTypes values:     &#39;agent_definition&#39; or &#39;prompt&#39;) - prompt_template_id: filter by prompt template ID (used when     simulation_type is &#39;prompt&#39;)
   * @param search  (optional, default to )
   * @param simulationType  (optional)
   * @param promptTemplateId  (optional)
   * @param page  (optional, default to 1)
   * @param limit  (optional)
   * @return ApiResponse&lt;List&lt;RunTestResponse&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<RunTestResponse>> listRunTestsWithHttpInfo(String search, String simulationType, UUID promptTemplateId, Integer page, Integer limit) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listRunTestsRequestBuilder(search, simulationType, promptTemplateId, page, limit);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listRunTests", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<List<RunTestResponse>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<List<RunTestResponse>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<RunTestResponse>>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listRunTestsRequestBuilder(String search, String simulationType, UUID promptTemplateId, Integer page, Integer limit) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/run-tests/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "search";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("search", search));
    localVarQueryParameterBaseName = "simulation_type";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("simulation_type", simulationType));
    localVarQueryParameterBaseName = "prompt_template_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prompt_template_id", promptTemplateId));
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Update a specific RunTest
   * @param runTestId  (required)
   * @param updateRunTest  (required)
   * @return RunTestResponse
   * @throws ApiException if fails to make API call
   */
  public RunTestResponse updateRunTest(String runTestId, UpdateRunTest updateRunTest) throws ApiException {
    ApiResponse<RunTestResponse> localVarResponse = updateRunTestWithHttpInfo(runTestId, updateRunTest);
    return localVarResponse.getData();
  }

  /**
   * 
   * Update a specific RunTest
   * @param runTestId  (required)
   * @param updateRunTest  (required)
   * @return ApiResponse&lt;RunTestResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<RunTestResponse> updateRunTestWithHttpInfo(String runTestId, UpdateRunTest updateRunTest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateRunTestRequestBuilder(runTestId, updateRunTest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateRunTest", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<RunTestResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<RunTestResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<RunTestResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateRunTestRequestBuilder(String runTestId, UpdateRunTest updateRunTest) throws ApiException {
    // verify the required parameter 'runTestId' is set
    if (runTestId == null) {
      throw new ApiException(400, "Missing the required parameter 'runTestId' when calling updateRunTest");
    }
    // verify the required parameter 'updateRunTest' is set
    if (updateRunTest == null) {
      throw new ApiException(400, "Missing the required parameter 'updateRunTest' when calling updateRunTest");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/run-tests/{run_test_id}/"
        .replace("{run_test_id}", ApiClient.urlEncode(runTestId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(updateRunTest);
      localVarRequestBuilder.method("PATCH", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
