/*
 * Future AGI Public SDK API
 * The endpoints defined below allow users to programmatically carry out various actions on the Future AGI platform.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: help@futureagi.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.futureagi.sdk.api;

import com.futureagi.sdk.ApiClient;
import com.futureagi.sdk.ApiException;
import com.futureagi.sdk.ApiResponse;
import com.futureagi.sdk.Configuration;
import com.futureagi.sdk.Pair;

import com.futureagi.sdk.model.ManagementAPIErrorResponse;
import com.futureagi.sdk.model.SDKErrorResponse;
import com.futureagi.sdk.model.SDKSimulationAnalyticsResponse;
import com.futureagi.sdk.model.SDKSimulationMetricsResponse;
import com.futureagi.sdk.model.SDKSimulationRunsResponse;
import java.util.UUID;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.12.0")
public class SimulationsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public SimulationsApi() {
    this(Configuration.getDefaultApiClient());
  }

  public SimulationsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * GET /simulation/analytics/
   * Aggregated analytics view: eval scores (radar chart data), critical issues, FMA suggestions. Corresponds to the Analytics tab in the UI.
   * @param runTestName  (optional)
   * @param executionId  (optional)
   * @param evalName  (optional)
   * @param summary  (optional, default to true)
   * @return SDKSimulationAnalyticsResponse
   * @throws ApiException if fails to make API call
   */
  public SDKSimulationAnalyticsResponse getSimulationAnalytics(String runTestName, UUID executionId, String evalName, Boolean summary) throws ApiException {
    ApiResponse<SDKSimulationAnalyticsResponse> localVarResponse = getSimulationAnalyticsWithHttpInfo(runTestName, executionId, evalName, summary);
    return localVarResponse.getData();
  }

  /**
   * GET /simulation/analytics/
   * Aggregated analytics view: eval scores (radar chart data), critical issues, FMA suggestions. Corresponds to the Analytics tab in the UI.
   * @param runTestName  (optional)
   * @param executionId  (optional)
   * @param evalName  (optional)
   * @param summary  (optional, default to true)
   * @return ApiResponse&lt;SDKSimulationAnalyticsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SDKSimulationAnalyticsResponse> getSimulationAnalyticsWithHttpInfo(String runTestName, UUID executionId, String evalName, Boolean summary) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getSimulationAnalyticsRequestBuilder(runTestName, executionId, evalName, summary);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getSimulationAnalytics", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<SDKSimulationAnalyticsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<SDKSimulationAnalyticsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<SDKSimulationAnalyticsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getSimulationAnalyticsRequestBuilder(String runTestName, UUID executionId, String evalName, Boolean summary) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/sdk/api/v1/simulation/analytics/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "run_test_name";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("run_test_name", runTestName));
    localVarQueryParameterBaseName = "execution_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("execution_id", executionId));
    localVarQueryParameterBaseName = "eval_name";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("eval_name", evalName));
    localVarQueryParameterBaseName = "summary";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("summary", summary));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * GET /simulation/metrics/
   * Aggregated system metrics: latency (by subsystem), cost, conversation metrics.
   * @param runTestName  (optional)
   * @param executionId  (optional)
   * @param callExecutionId  (optional)
   * @return SDKSimulationMetricsResponse
   * @throws ApiException if fails to make API call
   */
  public SDKSimulationMetricsResponse listSimulationMetrics(String runTestName, UUID executionId, UUID callExecutionId) throws ApiException {
    ApiResponse<SDKSimulationMetricsResponse> localVarResponse = listSimulationMetricsWithHttpInfo(runTestName, executionId, callExecutionId);
    return localVarResponse.getData();
  }

  /**
   * GET /simulation/metrics/
   * Aggregated system metrics: latency (by subsystem), cost, conversation metrics.
   * @param runTestName  (optional)
   * @param executionId  (optional)
   * @param callExecutionId  (optional)
   * @return ApiResponse&lt;SDKSimulationMetricsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SDKSimulationMetricsResponse> listSimulationMetricsWithHttpInfo(String runTestName, UUID executionId, UUID callExecutionId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listSimulationMetricsRequestBuilder(runTestName, executionId, callExecutionId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listSimulationMetrics", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<SDKSimulationMetricsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<SDKSimulationMetricsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<SDKSimulationMetricsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listSimulationMetricsRequestBuilder(String runTestName, UUID executionId, UUID callExecutionId) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/sdk/api/v1/simulation/metrics/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "run_test_name";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("run_test_name", runTestName));
    localVarQueryParameterBaseName = "execution_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("execution_id", executionId));
    localVarQueryParameterBaseName = "call_execution_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("call_execution_id", callExecutionId));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * GET /simulation/runs/
   * Run-level records with eval scores, scenario metadata, call details.
   * @param runTestName  (optional)
   * @param executionId  (optional)
   * @param callExecutionId  (optional)
   * @param evalName  (optional)
   * @param summary  (optional, default to false)
   * @return SDKSimulationRunsResponse
   * @throws ApiException if fails to make API call
   */
  public SDKSimulationRunsResponse listSimulationRuns(String runTestName, UUID executionId, UUID callExecutionId, String evalName, Boolean summary) throws ApiException {
    ApiResponse<SDKSimulationRunsResponse> localVarResponse = listSimulationRunsWithHttpInfo(runTestName, executionId, callExecutionId, evalName, summary);
    return localVarResponse.getData();
  }

  /**
   * GET /simulation/runs/
   * Run-level records with eval scores, scenario metadata, call details.
   * @param runTestName  (optional)
   * @param executionId  (optional)
   * @param callExecutionId  (optional)
   * @param evalName  (optional)
   * @param summary  (optional, default to false)
   * @return ApiResponse&lt;SDKSimulationRunsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SDKSimulationRunsResponse> listSimulationRunsWithHttpInfo(String runTestName, UUID executionId, UUID callExecutionId, String evalName, Boolean summary) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listSimulationRunsRequestBuilder(runTestName, executionId, callExecutionId, evalName, summary);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listSimulationRuns", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<SDKSimulationRunsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<SDKSimulationRunsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<SDKSimulationRunsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listSimulationRunsRequestBuilder(String runTestName, UUID executionId, UUID callExecutionId, String evalName, Boolean summary) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/sdk/api/v1/simulation/runs/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "run_test_name";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("run_test_name", runTestName));
    localVarQueryParameterBaseName = "execution_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("execution_id", executionId));
    localVarQueryParameterBaseName = "call_execution_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("call_execution_id", callExecutionId));
    localVarQueryParameterBaseName = "eval_name";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("eval_name", evalName));
    localVarQueryParameterBaseName = "summary";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("summary", summary));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
