/*
 * Future AGI Public SDK API
 * The endpoints defined below allow users to programmatically carry out various actions on the Future AGI platform.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: help@futureagi.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.futureagi.sdk.api;

import com.futureagi.sdk.ApiClient;
import com.futureagi.sdk.ApiException;
import com.futureagi.sdk.ApiResponse;
import com.futureagi.sdk.Configuration;
import com.futureagi.sdk.Pair;

import com.futureagi.sdk.model.ManagementAPIErrorResponse;
import com.futureagi.sdk.model.ScenarioCreateRequest;
import com.futureagi.sdk.model.ScenarioCreateResponse;
import com.futureagi.sdk.model.ScenarioDeleteResponse;
import com.futureagi.sdk.model.ScenarioDetailResponse;
import com.futureagi.sdk.model.ScenarioEditRequest;
import com.futureagi.sdk.model.ScenarioEditResponse;
import com.futureagi.sdk.model.ScenarioErrorResponse;
import com.futureagi.sdk.model.ScenarioListResponse;
import java.util.UUID;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.12.0")
public class SimulationScenariosApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public SimulationScenariosApi() {
    this(Configuration.getDefaultApiClient());
  }

  public SimulationScenariosApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Create scenario
   * Creates a new scenario (dataset, script, or graph kind). Returns 202 with processing status.
   * @param scenarioCreateRequest  (required)
   * @return ScenarioCreateResponse
   * @throws ApiException if fails to make API call
   */
  public ScenarioCreateResponse createScenario(ScenarioCreateRequest scenarioCreateRequest) throws ApiException {
    ApiResponse<ScenarioCreateResponse> localVarResponse = createScenarioWithHttpInfo(scenarioCreateRequest);
    return localVarResponse.getData();
  }

  /**
   * Create scenario
   * Creates a new scenario (dataset, script, or graph kind). Returns 202 with processing status.
   * @param scenarioCreateRequest  (required)
   * @return ApiResponse&lt;ScenarioCreateResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ScenarioCreateResponse> createScenarioWithHttpInfo(ScenarioCreateRequest scenarioCreateRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createScenarioRequestBuilder(scenarioCreateRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createScenario", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ScenarioCreateResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ScenarioCreateResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ScenarioCreateResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createScenarioRequestBuilder(ScenarioCreateRequest scenarioCreateRequest) throws ApiException {
    // verify the required parameter 'scenarioCreateRequest' is set
    if (scenarioCreateRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioCreateRequest' when calling createScenario");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/scenarios/create/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(scenarioCreateRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Delete scenario
   * Soft-deletes a scenario by setting deleted&#x3D;True.
   * @param scenarioId  (required)
   * @return ScenarioDeleteResponse
   * @throws ApiException if fails to make API call
   */
  public ScenarioDeleteResponse deleteScenario(String scenarioId) throws ApiException {
    ApiResponse<ScenarioDeleteResponse> localVarResponse = deleteScenarioWithHttpInfo(scenarioId);
    return localVarResponse.getData();
  }

  /**
   * Delete scenario
   * Soft-deletes a scenario by setting deleted&#x3D;True.
   * @param scenarioId  (required)
   * @return ApiResponse&lt;ScenarioDeleteResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ScenarioDeleteResponse> deleteScenarioWithHttpInfo(String scenarioId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deleteScenarioRequestBuilder(scenarioId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deleteScenario", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ScenarioDeleteResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ScenarioDeleteResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ScenarioDeleteResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deleteScenarioRequestBuilder(String scenarioId) throws ApiException {
    // verify the required parameter 'scenarioId' is set
    if (scenarioId == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioId' when calling deleteScenario");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/scenarios/{scenario_id}/delete/"
        .replace("{scenario_id}", ApiClient.urlEncode(scenarioId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get scenario detail
   * Returns full detail of a specific scenario including graph data and prompts.
   * @param scenarioId  (required)
   * @return ScenarioDetailResponse
   * @throws ApiException if fails to make API call
   */
  public ScenarioDetailResponse getScenario(String scenarioId) throws ApiException {
    ApiResponse<ScenarioDetailResponse> localVarResponse = getScenarioWithHttpInfo(scenarioId);
    return localVarResponse.getData();
  }

  /**
   * Get scenario detail
   * Returns full detail of a specific scenario including graph data and prompts.
   * @param scenarioId  (required)
   * @return ApiResponse&lt;ScenarioDetailResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ScenarioDetailResponse> getScenarioWithHttpInfo(String scenarioId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getScenarioRequestBuilder(scenarioId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getScenario", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ScenarioDetailResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ScenarioDetailResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ScenarioDetailResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getScenarioRequestBuilder(String scenarioId) throws ApiException {
    // verify the required parameter 'scenarioId' is set
    if (scenarioId == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioId' when calling getScenario");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/scenarios/{scenario_id}/"
        .replace("{scenario_id}", ApiClient.urlEncode(scenarioId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List scenarios
   * Returns a paginated list of scenarios for the user&#39;s organization.
   * @param search  (optional, default to )
   * @param agentDefinitionId  (optional)
   * @param agentType  (optional)
   * @param page  (optional, default to 1)
   * @param limit  (optional)
   * @return ScenarioListResponse
   * @throws ApiException if fails to make API call
   */
  public ScenarioListResponse listScenarios(String search, UUID agentDefinitionId, String agentType, Integer page, Integer limit) throws ApiException {
    ApiResponse<ScenarioListResponse> localVarResponse = listScenariosWithHttpInfo(search, agentDefinitionId, agentType, page, limit);
    return localVarResponse.getData();
  }

  /**
   * List scenarios
   * Returns a paginated list of scenarios for the user&#39;s organization.
   * @param search  (optional, default to )
   * @param agentDefinitionId  (optional)
   * @param agentType  (optional)
   * @param page  (optional, default to 1)
   * @param limit  (optional)
   * @return ApiResponse&lt;ScenarioListResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ScenarioListResponse> listScenariosWithHttpInfo(String search, UUID agentDefinitionId, String agentType, Integer page, Integer limit) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listScenariosRequestBuilder(search, agentDefinitionId, agentType, page, limit);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listScenarios", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ScenarioListResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ScenarioListResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ScenarioListResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listScenariosRequestBuilder(String search, UUID agentDefinitionId, String agentType, Integer page, Integer limit) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/scenarios/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "search";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("search", search));
    localVarQueryParameterBaseName = "agent_definition_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("agent_definition_id", agentDefinitionId));
    localVarQueryParameterBaseName = "agent_type";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("agent_type", agentType));
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Edit scenario
   * Updates scenario name, description, graph, or prompt.
   * @param scenarioId  (required)
   * @param scenarioEditRequest  (required)
   * @return ScenarioEditResponse
   * @throws ApiException if fails to make API call
   */
  public ScenarioEditResponse updateScenario(String scenarioId, ScenarioEditRequest scenarioEditRequest) throws ApiException {
    ApiResponse<ScenarioEditResponse> localVarResponse = updateScenarioWithHttpInfo(scenarioId, scenarioEditRequest);
    return localVarResponse.getData();
  }

  /**
   * Edit scenario
   * Updates scenario name, description, graph, or prompt.
   * @param scenarioId  (required)
   * @param scenarioEditRequest  (required)
   * @return ApiResponse&lt;ScenarioEditResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ScenarioEditResponse> updateScenarioWithHttpInfo(String scenarioId, ScenarioEditRequest scenarioEditRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateScenarioRequestBuilder(scenarioId, scenarioEditRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateScenario", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ScenarioEditResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ScenarioEditResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ScenarioEditResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateScenarioRequestBuilder(String scenarioId, ScenarioEditRequest scenarioEditRequest) throws ApiException {
    // verify the required parameter 'scenarioId' is set
    if (scenarioId == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioId' when calling updateScenario");
    }
    // verify the required parameter 'scenarioEditRequest' is set
    if (scenarioEditRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioEditRequest' when calling updateScenario");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/scenarios/{scenario_id}/edit/"
        .replace("{scenario_id}", ApiClient.urlEncode(scenarioId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(scenarioEditRequest);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
