/*
 * Future AGI Public SDK API
 * The endpoints defined below allow users to programmatically carry out various actions on the Future AGI platform.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: help@futureagi.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.futureagi.sdk.api;

import com.futureagi.sdk.ApiClient;
import com.futureagi.sdk.ApiException;
import com.futureagi.sdk.ApiResponse;
import com.futureagi.sdk.Configuration;
import com.futureagi.sdk.Pair;

import com.futureagi.sdk.model.CancelTestExecutionResponse;
import com.futureagi.sdk.model.ErrorResponse;
import com.futureagi.sdk.model.ManagementAPIErrorResponse;
import com.futureagi.sdk.model.PerformanceSummary;
import com.futureagi.sdk.model.RunTestErrorResponse;
import com.futureagi.sdk.model.RunTestKPIsResponse;
import com.futureagi.sdk.model.TestExecution;
import com.futureagi.sdk.model.TestExecutionAnalytics;
import com.futureagi.sdk.model.TestExecutionDetailResponse;
import com.futureagi.sdk.model.TestExecutionTranscriptsResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.12.0")
public class SimulationTestExecutionsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public SimulationTestExecutionsApi() {
    this(Configuration.getDefaultApiClient());
  }

  public SimulationTestExecutionsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * Cancel a test execution
   * @param testExecutionId  (required)
   * @param body  (required)
   * @return CancelTestExecutionResponse
   * @throws ApiException if fails to make API call
   */
  public CancelTestExecutionResponse cancelTestExecution(String testExecutionId, Object body) throws ApiException {
    ApiResponse<CancelTestExecutionResponse> localVarResponse = cancelTestExecutionWithHttpInfo(testExecutionId, body);
    return localVarResponse.getData();
  }

  /**
   * 
   * Cancel a test execution
   * @param testExecutionId  (required)
   * @param body  (required)
   * @return ApiResponse&lt;CancelTestExecutionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CancelTestExecutionResponse> cancelTestExecutionWithHttpInfo(String testExecutionId, Object body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = cancelTestExecutionRequestBuilder(testExecutionId, body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("cancelTestExecution", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<CancelTestExecutionResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<CancelTestExecutionResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<CancelTestExecutionResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder cancelTestExecutionRequestBuilder(String testExecutionId, Object body) throws ApiException {
    // verify the required parameter 'testExecutionId' is set
    if (testExecutionId == null) {
      throw new ApiException(400, "Missing the required parameter 'testExecutionId' when calling cancelTestExecution");
    }
    // verify the required parameter 'body' is set
    if (body == null) {
      throw new ApiException(400, "Missing the required parameter 'body' when calling cancelTestExecution");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/test-executions/{test_execution_id}/cancel/"
        .replace("{test_execution_id}", ApiClient.urlEncode(testExecutionId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Get a specific test execution with all its details and paginated call executions Query Parameters: - search: search string to filter call executions - page: page number for call executions (default: 1) - filters: JSON array of filter objects - row_groups: JSON array of column IDs to group by - group_keys: JSON array of group keys
   * @param testExecutionId  (required)
   * @param search  (optional, default to )
   * @param filters  (optional, default to [])
   * @param rowGroups  (optional, default to [])
   * @param groupKeys  (optional, default to [])
   * @param page  (optional, default to 1)
   * @param limit  (optional, default to 30)
   * @return TestExecutionDetailResponse
   * @throws ApiException if fails to make API call
   */
  public TestExecutionDetailResponse getTestExecution(String testExecutionId, String search, String filters, String rowGroups, String groupKeys, Integer page, Integer limit) throws ApiException {
    ApiResponse<TestExecutionDetailResponse> localVarResponse = getTestExecutionWithHttpInfo(testExecutionId, search, filters, rowGroups, groupKeys, page, limit);
    return localVarResponse.getData();
  }

  /**
   * 
   * Get a specific test execution with all its details and paginated call executions Query Parameters: - search: search string to filter call executions - page: page number for call executions (default: 1) - filters: JSON array of filter objects - row_groups: JSON array of column IDs to group by - group_keys: JSON array of group keys
   * @param testExecutionId  (required)
   * @param search  (optional, default to )
   * @param filters  (optional, default to [])
   * @param rowGroups  (optional, default to [])
   * @param groupKeys  (optional, default to [])
   * @param page  (optional, default to 1)
   * @param limit  (optional, default to 30)
   * @return ApiResponse&lt;TestExecutionDetailResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TestExecutionDetailResponse> getTestExecutionWithHttpInfo(String testExecutionId, String search, String filters, String rowGroups, String groupKeys, Integer page, Integer limit) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getTestExecutionRequestBuilder(testExecutionId, search, filters, rowGroups, groupKeys, page, limit);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getTestExecution", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TestExecutionDetailResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TestExecutionDetailResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TestExecutionDetailResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getTestExecutionRequestBuilder(String testExecutionId, String search, String filters, String rowGroups, String groupKeys, Integer page, Integer limit) throws ApiException {
    // verify the required parameter 'testExecutionId' is set
    if (testExecutionId == null) {
      throw new ApiException(400, "Missing the required parameter 'testExecutionId' when calling getTestExecution");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/test-executions/{test_execution_id}/"
        .replace("{test_execution_id}", ApiClient.urlEncode(testExecutionId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "search";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("search", search));
    localVarQueryParameterBaseName = "filters";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filters", filters));
    localVarQueryParameterBaseName = "row_groups";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("row_groups", rowGroups));
    localVarQueryParameterBaseName = "group_keys";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("group_keys", groupKeys));
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Get analytics data for a specific test execution
   * @param testExecutionId  (required)
   * @return TestExecutionAnalytics
   * @throws ApiException if fails to make API call
   */
  public TestExecutionAnalytics getTestExecutionAnalytics(String testExecutionId) throws ApiException {
    ApiResponse<TestExecutionAnalytics> localVarResponse = getTestExecutionAnalyticsWithHttpInfo(testExecutionId);
    return localVarResponse.getData();
  }

  /**
   * 
   * Get analytics data for a specific test execution
   * @param testExecutionId  (required)
   * @return ApiResponse&lt;TestExecutionAnalytics&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TestExecutionAnalytics> getTestExecutionAnalyticsWithHttpInfo(String testExecutionId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getTestExecutionAnalyticsRequestBuilder(testExecutionId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getTestExecutionAnalytics", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TestExecutionAnalytics>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TestExecutionAnalytics>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TestExecutionAnalytics>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getTestExecutionAnalyticsRequestBuilder(String testExecutionId) throws ApiException {
    // verify the required parameter 'testExecutionId' is set
    if (testExecutionId == null) {
      throw new ApiException(400, "Missing the required parameter 'testExecutionId' when calling getTestExecutionAnalytics");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/test-executions/{test_execution_id}/analytics/"
        .replace("{test_execution_id}", ApiClient.urlEncode(testExecutionId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Get combined KPI values for a specific run test
   * @param testExecutionId  (required)
   * @return RunTestKPIsResponse
   * @throws ApiException if fails to make API call
   */
  public RunTestKPIsResponse getTestExecutionKpis(String testExecutionId) throws ApiException {
    ApiResponse<RunTestKPIsResponse> localVarResponse = getTestExecutionKpisWithHttpInfo(testExecutionId);
    return localVarResponse.getData();
  }

  /**
   * 
   * Get combined KPI values for a specific run test
   * @param testExecutionId  (required)
   * @return ApiResponse&lt;RunTestKPIsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<RunTestKPIsResponse> getTestExecutionKpisWithHttpInfo(String testExecutionId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getTestExecutionKpisRequestBuilder(testExecutionId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getTestExecutionKpis", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<RunTestKPIsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<RunTestKPIsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<RunTestKPIsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getTestExecutionKpisRequestBuilder(String testExecutionId) throws ApiException {
    // verify the required parameter 'testExecutionId' is set
    if (testExecutionId == null) {
      throw new ApiException(400, "Missing the required parameter 'testExecutionId' when calling getTestExecutionKpis");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/test-executions/{test_execution_id}/kpis/"
        .replace("{test_execution_id}", ApiClient.urlEncode(testExecutionId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Get performance summary data for a specific test execution
   * @param testExecutionId  (required)
   * @return PerformanceSummary
   * @throws ApiException if fails to make API call
   */
  public PerformanceSummary getTestExecutionPerformanceSummary(String testExecutionId) throws ApiException {
    ApiResponse<PerformanceSummary> localVarResponse = getTestExecutionPerformanceSummaryWithHttpInfo(testExecutionId);
    return localVarResponse.getData();
  }

  /**
   * 
   * Get performance summary data for a specific test execution
   * @param testExecutionId  (required)
   * @return ApiResponse&lt;PerformanceSummary&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PerformanceSummary> getTestExecutionPerformanceSummaryWithHttpInfo(String testExecutionId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getTestExecutionPerformanceSummaryRequestBuilder(testExecutionId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getTestExecutionPerformanceSummary", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<PerformanceSummary>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<PerformanceSummary>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<PerformanceSummary>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getTestExecutionPerformanceSummaryRequestBuilder(String testExecutionId) throws ApiException {
    // verify the required parameter 'testExecutionId' is set
    if (testExecutionId == null) {
      throw new ApiException(400, "Missing the required parameter 'testExecutionId' when calling getTestExecutionPerformanceSummary");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/test-executions/{test_execution_id}/performance-summary/"
        .replace("{test_execution_id}", ApiClient.urlEncode(testExecutionId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Get all transcripts for a test execution
   * @param testExecutionId  (required)
   * @return TestExecutionTranscriptsResponse
   * @throws ApiException if fails to make API call
   */
  public TestExecutionTranscriptsResponse getTestExecutionTranscripts(String testExecutionId) throws ApiException {
    ApiResponse<TestExecutionTranscriptsResponse> localVarResponse = getTestExecutionTranscriptsWithHttpInfo(testExecutionId);
    return localVarResponse.getData();
  }

  /**
   * 
   * Get all transcripts for a test execution
   * @param testExecutionId  (required)
   * @return ApiResponse&lt;TestExecutionTranscriptsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TestExecutionTranscriptsResponse> getTestExecutionTranscriptsWithHttpInfo(String testExecutionId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getTestExecutionTranscriptsRequestBuilder(testExecutionId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getTestExecutionTranscripts", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TestExecutionTranscriptsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TestExecutionTranscriptsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TestExecutionTranscriptsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getTestExecutionTranscriptsRequestBuilder(String testExecutionId) throws ApiException {
    // verify the required parameter 'testExecutionId' is set
    if (testExecutionId == null) {
      throw new ApiException(400, "Missing the required parameter 'testExecutionId' when calling getTestExecutionTranscripts");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/test-executions/{test_execution_id}/transcripts/"
        .replace("{test_execution_id}", ApiClient.urlEncode(testExecutionId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Get paginated list of test executions for the user&#39;s organization Query Parameters: - search: search string to filter test executions by run test name - status: filter by execution status - limit: number of items per page (default: 10) - page: page number (default: 1)
   * @return List&lt;TestExecution&gt;
   * @throws ApiException if fails to make API call
   */
  public List<TestExecution> listTestExecutions() throws ApiException {
    ApiResponse<List<TestExecution>> localVarResponse = listTestExecutionsWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * 
   * Get paginated list of test executions for the user&#39;s organization Query Parameters: - search: search string to filter test executions by run test name - status: filter by execution status - limit: number of items per page (default: 10) - page: page number (default: 1)
   * @return ApiResponse&lt;List&lt;TestExecution&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<TestExecution>> listTestExecutionsWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listTestExecutionsRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listTestExecutions", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<List<TestExecution>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<List<TestExecution>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<TestExecution>>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listTestExecutionsRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/simulate/api/test-executions/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
