/*
 * Future AGI Public SDK API
 * The endpoints defined below allow users to programmatically carry out various actions on the Future AGI platform.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: help@futureagi.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.futureagi.sdk.api;

import com.futureagi.sdk.ApiClient;
import com.futureagi.sdk.ApiException;
import com.futureagi.sdk.ApiResponse;
import com.futureagi.sdk.Configuration;
import com.futureagi.sdk.Pair;

import com.futureagi.sdk.model.ApiErrorResponse;
import com.futureagi.sdk.model.CreateLinearIssue;
import com.futureagi.sdk.model.CreateLinearIssueResponse;
import com.futureagi.sdk.model.DeepAnalysisApiResponse;
import com.futureagi.sdk.model.DeepAnalysisBody;
import com.futureagi.sdk.model.DeepAnalysisDispatchApiResponse;
import com.futureagi.sdk.model.FeedDetailApiResponse;
import com.futureagi.sdk.model.FeedSidebarApiResponse;
import com.futureagi.sdk.model.FeedUpdateBody;
import com.futureagi.sdk.model.GetTraceAnnotation;
import com.futureagi.sdk.model.GetTraceAnnotationValuesResponse;
import com.futureagi.sdk.model.ListAlerts200Response;
import com.futureagi.sdk.model.ManagementAPIErrorResponse;
import com.futureagi.sdk.model.OverviewApiResponse;
import com.futureagi.sdk.model.Trace;
import com.futureagi.sdk.model.TraceSession;
import com.futureagi.sdk.model.TracerTraceAnnotationList200Response;
import com.futureagi.sdk.model.TracerTraceList200Response;
import com.futureagi.sdk.model.TracerTraceSessionList200Response;
import com.futureagi.sdk.model.TracesTabApiResponse;
import com.futureagi.sdk.model.TrendsTabApiResponse;
import java.util.UUID;
import com.futureagi.sdk.model.UserAlertMonitor;
import com.futureagi.sdk.model.UserAlertMonitorDuplicate;
import com.futureagi.sdk.model.UserAlertMonitorDuplicateResponse;
import com.futureagi.sdk.model.UserAlertMonitorLog;
import com.futureagi.sdk.model.UserCodeExampleResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.12.0")
public class TracerApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public TracerApi() {
    this(Configuration.getDefaultApiClient());
  }

  public TracerApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * POST /tracer/feed/issues/{cluster_id}/create-linear-issue/
   * @param clusterId  (required)
   * @param createLinearIssue  (required)
   * @return CreateLinearIssueResponse
   * @throws ApiException if fails to make API call
   */
  public CreateLinearIssueResponse tracerFeedIssuesCreateLinearIssueCreate(String clusterId, CreateLinearIssue createLinearIssue) throws ApiException {
    ApiResponse<CreateLinearIssueResponse> localVarResponse = tracerFeedIssuesCreateLinearIssueCreateWithHttpInfo(clusterId, createLinearIssue);
    return localVarResponse.getData();
  }

  /**
   * 
   * POST /tracer/feed/issues/{cluster_id}/create-linear-issue/
   * @param clusterId  (required)
   * @param createLinearIssue  (required)
   * @return ApiResponse&lt;CreateLinearIssueResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CreateLinearIssueResponse> tracerFeedIssuesCreateLinearIssueCreateWithHttpInfo(String clusterId, CreateLinearIssue createLinearIssue) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerFeedIssuesCreateLinearIssueCreateRequestBuilder(clusterId, createLinearIssue);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerFeedIssuesCreateLinearIssueCreate", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<CreateLinearIssueResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<CreateLinearIssueResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<CreateLinearIssueResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerFeedIssuesCreateLinearIssueCreateRequestBuilder(String clusterId, CreateLinearIssue createLinearIssue) throws ApiException {
    // verify the required parameter 'clusterId' is set
    if (clusterId == null) {
      throw new ApiException(400, "Missing the required parameter 'clusterId' when calling tracerFeedIssuesCreateLinearIssueCreate");
    }
    // verify the required parameter 'createLinearIssue' is set
    if (createLinearIssue == null) {
      throw new ApiException(400, "Missing the required parameter 'createLinearIssue' when calling tracerFeedIssuesCreateLinearIssueCreate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/feed/issues/{cluster_id}/create-linear-issue/"
        .replace("{cluster_id}", ApiClient.urlEncode(clusterId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createLinearIssue);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * POST /tracer/feed/issues/{cluster_id}/deep-analysis/
   * @param clusterId  (required)
   * @param deepAnalysisBody  (required)
   * @return DeepAnalysisDispatchApiResponse
   * @throws ApiException if fails to make API call
   */
  public DeepAnalysisDispatchApiResponse tracerFeedIssuesDeepAnalysisCreate(String clusterId, DeepAnalysisBody deepAnalysisBody) throws ApiException {
    ApiResponse<DeepAnalysisDispatchApiResponse> localVarResponse = tracerFeedIssuesDeepAnalysisCreateWithHttpInfo(clusterId, deepAnalysisBody);
    return localVarResponse.getData();
  }

  /**
   * 
   * POST /tracer/feed/issues/{cluster_id}/deep-analysis/
   * @param clusterId  (required)
   * @param deepAnalysisBody  (required)
   * @return ApiResponse&lt;DeepAnalysisDispatchApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DeepAnalysisDispatchApiResponse> tracerFeedIssuesDeepAnalysisCreateWithHttpInfo(String clusterId, DeepAnalysisBody deepAnalysisBody) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerFeedIssuesDeepAnalysisCreateRequestBuilder(clusterId, deepAnalysisBody);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerFeedIssuesDeepAnalysisCreate", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DeepAnalysisDispatchApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DeepAnalysisDispatchApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DeepAnalysisDispatchApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerFeedIssuesDeepAnalysisCreateRequestBuilder(String clusterId, DeepAnalysisBody deepAnalysisBody) throws ApiException {
    // verify the required parameter 'clusterId' is set
    if (clusterId == null) {
      throw new ApiException(400, "Missing the required parameter 'clusterId' when calling tracerFeedIssuesDeepAnalysisCreate");
    }
    // verify the required parameter 'deepAnalysisBody' is set
    if (deepAnalysisBody == null) {
      throw new ApiException(400, "Missing the required parameter 'deepAnalysisBody' when calling tracerFeedIssuesDeepAnalysisCreate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/feed/issues/{cluster_id}/deep-analysis/"
        .replace("{cluster_id}", ApiClient.urlEncode(clusterId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(deepAnalysisBody);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * GET /tracer/feed/issues/{cluster_id}/overview/
   * @param clusterId  (required)
   * @return OverviewApiResponse
   * @throws ApiException if fails to make API call
   */
  public OverviewApiResponse tracerFeedIssuesOverviewList(String clusterId) throws ApiException {
    ApiResponse<OverviewApiResponse> localVarResponse = tracerFeedIssuesOverviewListWithHttpInfo(clusterId);
    return localVarResponse.getData();
  }

  /**
   * 
   * GET /tracer/feed/issues/{cluster_id}/overview/
   * @param clusterId  (required)
   * @return ApiResponse&lt;OverviewApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<OverviewApiResponse> tracerFeedIssuesOverviewListWithHttpInfo(String clusterId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerFeedIssuesOverviewListRequestBuilder(clusterId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerFeedIssuesOverviewList", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<OverviewApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<OverviewApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<OverviewApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerFeedIssuesOverviewListRequestBuilder(String clusterId) throws ApiException {
    // verify the required parameter 'clusterId' is set
    if (clusterId == null) {
      throw new ApiException(400, "Missing the required parameter 'clusterId' when calling tracerFeedIssuesOverviewList");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/feed/issues/{cluster_id}/overview/"
        .replace("{cluster_id}", ApiClient.urlEncode(clusterId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * GET + PATCH /tracer/feed/issues/{cluster_id}/
   * @param clusterId  (required)
   * @param feedUpdateBody  (required)
   * @return FeedDetailApiResponse
   * @throws ApiException if fails to make API call
   */
  public FeedDetailApiResponse tracerFeedIssuesPartialUpdate(String clusterId, FeedUpdateBody feedUpdateBody) throws ApiException {
    ApiResponse<FeedDetailApiResponse> localVarResponse = tracerFeedIssuesPartialUpdateWithHttpInfo(clusterId, feedUpdateBody);
    return localVarResponse.getData();
  }

  /**
   * 
   * GET + PATCH /tracer/feed/issues/{cluster_id}/
   * @param clusterId  (required)
   * @param feedUpdateBody  (required)
   * @return ApiResponse&lt;FeedDetailApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<FeedDetailApiResponse> tracerFeedIssuesPartialUpdateWithHttpInfo(String clusterId, FeedUpdateBody feedUpdateBody) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerFeedIssuesPartialUpdateRequestBuilder(clusterId, feedUpdateBody);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerFeedIssuesPartialUpdate", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<FeedDetailApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<FeedDetailApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<FeedDetailApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerFeedIssuesPartialUpdateRequestBuilder(String clusterId, FeedUpdateBody feedUpdateBody) throws ApiException {
    // verify the required parameter 'clusterId' is set
    if (clusterId == null) {
      throw new ApiException(400, "Missing the required parameter 'clusterId' when calling tracerFeedIssuesPartialUpdate");
    }
    // verify the required parameter 'feedUpdateBody' is set
    if (feedUpdateBody == null) {
      throw new ApiException(400, "Missing the required parameter 'feedUpdateBody' when calling tracerFeedIssuesPartialUpdate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/feed/issues/{cluster_id}/"
        .replace("{cluster_id}", ApiClient.urlEncode(clusterId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(feedUpdateBody);
      localVarRequestBuilder.method("PATCH", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * GET /tracer/feed/issues/{cluster_id}/root-cause/?trace_id&#x3D;X
   * Read cached deep-analysis results for a single trace within the cluster. The frontend hits this on mount (to show existing results) and polls it after a POST to /deep-analysis/ until &#x60;&#x60;status&#x60;&#x60; flips from &#x60;&#x60;running&#x60;&#x60; to &#x60;&#x60;done&#x60;&#x60; or &#x60;&#x60;failed&#x60;&#x60;.
   * @param clusterId  (required)
   * @param traceId  (required)
   * @return DeepAnalysisApiResponse
   * @throws ApiException if fails to make API call
   */
  public DeepAnalysisApiResponse tracerFeedIssuesRootCauseList(String clusterId, String traceId) throws ApiException {
    ApiResponse<DeepAnalysisApiResponse> localVarResponse = tracerFeedIssuesRootCauseListWithHttpInfo(clusterId, traceId);
    return localVarResponse.getData();
  }

  /**
   * GET /tracer/feed/issues/{cluster_id}/root-cause/?trace_id&#x3D;X
   * Read cached deep-analysis results for a single trace within the cluster. The frontend hits this on mount (to show existing results) and polls it after a POST to /deep-analysis/ until &#x60;&#x60;status&#x60;&#x60; flips from &#x60;&#x60;running&#x60;&#x60; to &#x60;&#x60;done&#x60;&#x60; or &#x60;&#x60;failed&#x60;&#x60;.
   * @param clusterId  (required)
   * @param traceId  (required)
   * @return ApiResponse&lt;DeepAnalysisApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DeepAnalysisApiResponse> tracerFeedIssuesRootCauseListWithHttpInfo(String clusterId, String traceId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerFeedIssuesRootCauseListRequestBuilder(clusterId, traceId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerFeedIssuesRootCauseList", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DeepAnalysisApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DeepAnalysisApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DeepAnalysisApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerFeedIssuesRootCauseListRequestBuilder(String clusterId, String traceId) throws ApiException {
    // verify the required parameter 'clusterId' is set
    if (clusterId == null) {
      throw new ApiException(400, "Missing the required parameter 'clusterId' when calling tracerFeedIssuesRootCauseList");
    }
    // verify the required parameter 'traceId' is set
    if (traceId == null) {
      throw new ApiException(400, "Missing the required parameter 'traceId' when calling tracerFeedIssuesRootCauseList");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/feed/issues/{cluster_id}/root-cause/"
        .replace("{cluster_id}", ApiClient.urlEncode(clusterId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "trace_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("trace_id", traceId));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * GET /tracer/feed/issues/{cluster_id}/sidebar/
   * Accepts an optional &#x60;&#x60;?trace_id&#x3D;&#x60;&#x60; query param. When present, the trace-level sections (AI Metadata + Evaluations) are computed for that trace instead of the cluster&#39;s latest, keeping the sidebar in sync with the Overview tab&#39;s trace selection.
   * @param clusterId  (required)
   * @param traceId  (optional)
   * @return FeedSidebarApiResponse
   * @throws ApiException if fails to make API call
   */
  public FeedSidebarApiResponse tracerFeedIssuesSidebarList(String clusterId, String traceId) throws ApiException {
    ApiResponse<FeedSidebarApiResponse> localVarResponse = tracerFeedIssuesSidebarListWithHttpInfo(clusterId, traceId);
    return localVarResponse.getData();
  }

  /**
   * GET /tracer/feed/issues/{cluster_id}/sidebar/
   * Accepts an optional &#x60;&#x60;?trace_id&#x3D;&#x60;&#x60; query param. When present, the trace-level sections (AI Metadata + Evaluations) are computed for that trace instead of the cluster&#39;s latest, keeping the sidebar in sync with the Overview tab&#39;s trace selection.
   * @param clusterId  (required)
   * @param traceId  (optional)
   * @return ApiResponse&lt;FeedSidebarApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<FeedSidebarApiResponse> tracerFeedIssuesSidebarListWithHttpInfo(String clusterId, String traceId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerFeedIssuesSidebarListRequestBuilder(clusterId, traceId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerFeedIssuesSidebarList", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<FeedSidebarApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<FeedSidebarApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<FeedSidebarApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerFeedIssuesSidebarListRequestBuilder(String clusterId, String traceId) throws ApiException {
    // verify the required parameter 'clusterId' is set
    if (clusterId == null) {
      throw new ApiException(400, "Missing the required parameter 'clusterId' when calling tracerFeedIssuesSidebarList");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/feed/issues/{cluster_id}/sidebar/"
        .replace("{cluster_id}", ApiClient.urlEncode(clusterId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "trace_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("trace_id", traceId));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * GET /tracer/feed/issues/{cluster_id}/traces/
   * @param clusterId  (required)
   * @param limit  (optional, default to 50)
   * @param offset  (optional, default to 0)
   * @return TracesTabApiResponse
   * @throws ApiException if fails to make API call
   */
  public TracesTabApiResponse tracerFeedIssuesTracesList(String clusterId, Integer limit, Integer offset) throws ApiException {
    ApiResponse<TracesTabApiResponse> localVarResponse = tracerFeedIssuesTracesListWithHttpInfo(clusterId, limit, offset);
    return localVarResponse.getData();
  }

  /**
   * 
   * GET /tracer/feed/issues/{cluster_id}/traces/
   * @param clusterId  (required)
   * @param limit  (optional, default to 50)
   * @param offset  (optional, default to 0)
   * @return ApiResponse&lt;TracesTabApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TracesTabApiResponse> tracerFeedIssuesTracesListWithHttpInfo(String clusterId, Integer limit, Integer offset) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerFeedIssuesTracesListRequestBuilder(clusterId, limit, offset);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerFeedIssuesTracesList", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TracesTabApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TracesTabApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TracesTabApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerFeedIssuesTracesListRequestBuilder(String clusterId, Integer limit, Integer offset) throws ApiException {
    // verify the required parameter 'clusterId' is set
    if (clusterId == null) {
      throw new ApiException(400, "Missing the required parameter 'clusterId' when calling tracerFeedIssuesTracesList");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/feed/issues/{cluster_id}/traces/"
        .replace("{cluster_id}", ApiClient.urlEncode(clusterId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "offset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * GET /tracer/feed/issues/{cluster_id}/trends/
   * @param clusterId  (required)
   * @param days  (optional, default to 14)
   * @return TrendsTabApiResponse
   * @throws ApiException if fails to make API call
   */
  public TrendsTabApiResponse tracerFeedIssuesTrendsList(String clusterId, Integer days) throws ApiException {
    ApiResponse<TrendsTabApiResponse> localVarResponse = tracerFeedIssuesTrendsListWithHttpInfo(clusterId, days);
    return localVarResponse.getData();
  }

  /**
   * 
   * GET /tracer/feed/issues/{cluster_id}/trends/
   * @param clusterId  (required)
   * @param days  (optional, default to 14)
   * @return ApiResponse&lt;TrendsTabApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TrendsTabApiResponse> tracerFeedIssuesTrendsListWithHttpInfo(String clusterId, Integer days) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerFeedIssuesTrendsListRequestBuilder(clusterId, days);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerFeedIssuesTrendsList", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TrendsTabApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TrendsTabApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TrendsTabApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerFeedIssuesTrendsListRequestBuilder(String clusterId, Integer days) throws ApiException {
    // verify the required parameter 'clusterId' is set
    if (clusterId == null) {
      throw new ApiException(400, "Missing the required parameter 'clusterId' when calling tracerFeedIssuesTrendsList");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/feed/issues/{cluster_id}/trends/"
        .replace("{cluster_id}", ApiClient.urlEncode(clusterId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "days";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("days", days));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Return the aggregate agent graph for a project.
   * Computes nodes (distinct span types/names) and edges (parent→child transitions) across all traces in the given time window.
   * @param projectId  (required)
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @param filters  (optional, default to [])
   * @return TracerTraceList200Response
   * @throws ApiException if fails to make API call
   */
  public TracerTraceList200Response tracerTraceAgentGraph(UUID projectId, Integer page, Integer limit, String filters) throws ApiException {
    ApiResponse<TracerTraceList200Response> localVarResponse = tracerTraceAgentGraphWithHttpInfo(projectId, page, limit, filters);
    return localVarResponse.getData();
  }

  /**
   * Return the aggregate agent graph for a project.
   * Computes nodes (distinct span types/names) and edges (parent→child transitions) across all traces in the given time window.
   * @param projectId  (required)
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @param filters  (optional, default to [])
   * @return ApiResponse&lt;TracerTraceList200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TracerTraceList200Response> tracerTraceAgentGraphWithHttpInfo(UUID projectId, Integer page, Integer limit, String filters) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerTraceAgentGraphRequestBuilder(projectId, page, limit, filters);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerTraceAgentGraph", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TracerTraceList200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TracerTraceList200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TracerTraceList200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerTraceAgentGraphRequestBuilder(UUID projectId, Integer page, Integer limit, String filters) throws ApiException {
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling tracerTraceAgentGraph");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace/agent_graph/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "project_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("project_id", projectId));
    localVarQueryParameterBaseName = "filters";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filters", filters));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param getTraceAnnotation  (required)
   * @return GetTraceAnnotation
   * @throws ApiException if fails to make API call
   */
  public GetTraceAnnotation tracerTraceAnnotationCreate(GetTraceAnnotation getTraceAnnotation) throws ApiException {
    ApiResponse<GetTraceAnnotation> localVarResponse = tracerTraceAnnotationCreateWithHttpInfo(getTraceAnnotation);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param getTraceAnnotation  (required)
   * @return ApiResponse&lt;GetTraceAnnotation&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GetTraceAnnotation> tracerTraceAnnotationCreateWithHttpInfo(GetTraceAnnotation getTraceAnnotation) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerTraceAnnotationCreateRequestBuilder(getTraceAnnotation);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerTraceAnnotationCreate", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GetTraceAnnotation>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GetTraceAnnotation>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GetTraceAnnotation>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerTraceAnnotationCreateRequestBuilder(GetTraceAnnotation getTraceAnnotation) throws ApiException {
    // verify the required parameter 'getTraceAnnotation' is set
    if (getTraceAnnotation == null) {
      throw new ApiException(400, "Missing the required parameter 'getTraceAnnotation' when calling tracerTraceAnnotationCreate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace-annotation/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(getTraceAnnotation);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param id  (required)
   * @throws ApiException if fails to make API call
   */
  public void tracerTraceAnnotationDelete(String id) throws ApiException {
    tracerTraceAnnotationDeleteWithHttpInfo(id);
  }

  /**
   * 
   * 
   * @param id  (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> tracerTraceAnnotationDeleteWithHttpInfo(String id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerTraceAnnotationDeleteRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerTraceAnnotationDelete", localVarResponse);
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
          // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerTraceAnnotationDeleteRequestBuilder(String id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling tracerTraceAnnotationDelete");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace-annotation/{id}/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @param observationSpanId  (optional)
   * @param traceId  (optional)
   * @param annotators  (optional)
   * @param excludeAnnotators  (optional)
   * @return GetTraceAnnotationValuesResponse
   * @throws ApiException if fails to make API call
   */
  public GetTraceAnnotationValuesResponse tracerTraceAnnotationGetAnnotationValues(Integer page, Integer limit, String observationSpanId, UUID traceId, String annotators, String excludeAnnotators) throws ApiException {
    ApiResponse<GetTraceAnnotationValuesResponse> localVarResponse = tracerTraceAnnotationGetAnnotationValuesWithHttpInfo(page, limit, observationSpanId, traceId, annotators, excludeAnnotators);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @param observationSpanId  (optional)
   * @param traceId  (optional)
   * @param annotators  (optional)
   * @param excludeAnnotators  (optional)
   * @return ApiResponse&lt;GetTraceAnnotationValuesResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GetTraceAnnotationValuesResponse> tracerTraceAnnotationGetAnnotationValuesWithHttpInfo(Integer page, Integer limit, String observationSpanId, UUID traceId, String annotators, String excludeAnnotators) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerTraceAnnotationGetAnnotationValuesRequestBuilder(page, limit, observationSpanId, traceId, annotators, excludeAnnotators);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerTraceAnnotationGetAnnotationValues", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GetTraceAnnotationValuesResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GetTraceAnnotationValuesResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GetTraceAnnotationValuesResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerTraceAnnotationGetAnnotationValuesRequestBuilder(Integer page, Integer limit, String observationSpanId, UUID traceId, String annotators, String excludeAnnotators) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace-annotation/get_annotation_values/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "observation_span_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("observation_span_id", observationSpanId));
    localVarQueryParameterBaseName = "trace_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("trace_id", traceId));
    localVarQueryParameterBaseName = "annotators";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("annotators", annotators));
    localVarQueryParameterBaseName = "exclude_annotators";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("exclude_annotators", excludeAnnotators));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @return TracerTraceAnnotationList200Response
   * @throws ApiException if fails to make API call
   */
  public TracerTraceAnnotationList200Response tracerTraceAnnotationList(Integer page, Integer limit) throws ApiException {
    ApiResponse<TracerTraceAnnotationList200Response> localVarResponse = tracerTraceAnnotationListWithHttpInfo(page, limit);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @return ApiResponse&lt;TracerTraceAnnotationList200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TracerTraceAnnotationList200Response> tracerTraceAnnotationListWithHttpInfo(Integer page, Integer limit) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerTraceAnnotationListRequestBuilder(page, limit);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerTraceAnnotationList", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TracerTraceAnnotationList200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TracerTraceAnnotationList200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TracerTraceAnnotationList200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerTraceAnnotationListRequestBuilder(Integer page, Integer limit) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace-annotation/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param id  (required)
   * @param getTraceAnnotation  (required)
   * @return GetTraceAnnotation
   * @throws ApiException if fails to make API call
   */
  public GetTraceAnnotation tracerTraceAnnotationPartialUpdate(String id, GetTraceAnnotation getTraceAnnotation) throws ApiException {
    ApiResponse<GetTraceAnnotation> localVarResponse = tracerTraceAnnotationPartialUpdateWithHttpInfo(id, getTraceAnnotation);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param id  (required)
   * @param getTraceAnnotation  (required)
   * @return ApiResponse&lt;GetTraceAnnotation&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GetTraceAnnotation> tracerTraceAnnotationPartialUpdateWithHttpInfo(String id, GetTraceAnnotation getTraceAnnotation) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerTraceAnnotationPartialUpdateRequestBuilder(id, getTraceAnnotation);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerTraceAnnotationPartialUpdate", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GetTraceAnnotation>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GetTraceAnnotation>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GetTraceAnnotation>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerTraceAnnotationPartialUpdateRequestBuilder(String id, GetTraceAnnotation getTraceAnnotation) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling tracerTraceAnnotationPartialUpdate");
    }
    // verify the required parameter 'getTraceAnnotation' is set
    if (getTraceAnnotation == null) {
      throw new ApiException(400, "Missing the required parameter 'getTraceAnnotation' when calling tracerTraceAnnotationPartialUpdate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace-annotation/{id}/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(getTraceAnnotation);
      localVarRequestBuilder.method("PATCH", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param id  (required)
   * @return GetTraceAnnotation
   * @throws ApiException if fails to make API call
   */
  public GetTraceAnnotation tracerTraceAnnotationRead(String id) throws ApiException {
    ApiResponse<GetTraceAnnotation> localVarResponse = tracerTraceAnnotationReadWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param id  (required)
   * @return ApiResponse&lt;GetTraceAnnotation&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GetTraceAnnotation> tracerTraceAnnotationReadWithHttpInfo(String id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerTraceAnnotationReadRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerTraceAnnotationRead", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GetTraceAnnotation>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GetTraceAnnotation>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GetTraceAnnotation>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerTraceAnnotationReadRequestBuilder(String id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling tracerTraceAnnotationRead");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace-annotation/{id}/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param id  (required)
   * @param getTraceAnnotation  (required)
   * @return GetTraceAnnotation
   * @throws ApiException if fails to make API call
   */
  public GetTraceAnnotation tracerTraceAnnotationUpdate(String id, GetTraceAnnotation getTraceAnnotation) throws ApiException {
    ApiResponse<GetTraceAnnotation> localVarResponse = tracerTraceAnnotationUpdateWithHttpInfo(id, getTraceAnnotation);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param id  (required)
   * @param getTraceAnnotation  (required)
   * @return ApiResponse&lt;GetTraceAnnotation&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GetTraceAnnotation> tracerTraceAnnotationUpdateWithHttpInfo(String id, GetTraceAnnotation getTraceAnnotation) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerTraceAnnotationUpdateRequestBuilder(id, getTraceAnnotation);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerTraceAnnotationUpdate", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GetTraceAnnotation>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GetTraceAnnotation>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GetTraceAnnotation>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerTraceAnnotationUpdateRequestBuilder(String id, GetTraceAnnotation getTraceAnnotation) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling tracerTraceAnnotationUpdate");
    }
    // verify the required parameter 'getTraceAnnotation' is set
    if (getTraceAnnotation == null) {
      throw new ApiException(400, "Missing the required parameter 'getTraceAnnotation' when calling tracerTraceAnnotationUpdate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace-annotation/{id}/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(getTraceAnnotation);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param trace  (required)
   * @return Trace
   * @throws ApiException if fails to make API call
   */
  public Trace tracerTraceBulkCreate(Trace trace) throws ApiException {
    ApiResponse<Trace> localVarResponse = tracerTraceBulkCreateWithHttpInfo(trace);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param trace  (required)
   * @return ApiResponse&lt;Trace&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Trace> tracerTraceBulkCreateWithHttpInfo(Trace trace) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerTraceBulkCreateRequestBuilder(trace);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerTraceBulkCreate", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Trace>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Trace>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Trace>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerTraceBulkCreateRequestBuilder(Trace trace) throws ApiException {
    // verify the required parameter 'trace' is set
    if (trace == null) {
      throw new ApiException(400, "Missing the required parameter 'trace' when calling tracerTraceBulkCreate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace/bulk_create/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(trace);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Compare traces across project versions with optimized queries.
   * @param trace  (required)
   * @return Trace
   * @throws ApiException if fails to make API call
   */
  public Trace tracerTraceCompareTraces(Trace trace) throws ApiException {
    ApiResponse<Trace> localVarResponse = tracerTraceCompareTracesWithHttpInfo(trace);
    return localVarResponse.getData();
  }

  /**
   * 
   * Compare traces across project versions with optimized queries.
   * @param trace  (required)
   * @return ApiResponse&lt;Trace&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Trace> tracerTraceCompareTracesWithHttpInfo(Trace trace) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerTraceCompareTracesRequestBuilder(trace);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerTraceCompareTraces", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Trace>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Trace>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Trace>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerTraceCompareTracesRequestBuilder(Trace trace) throws ApiException {
    // verify the required parameter 'trace' is set
    if (trace == null) {
      throw new ApiException(400, "Missing the required parameter 'trace' when calling tracerTraceCompareTraces");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace/compare_traces/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(trace);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param trace  (required)
   * @return Trace
   * @throws ApiException if fails to make API call
   */
  public Trace tracerTraceCreate(Trace trace) throws ApiException {
    ApiResponse<Trace> localVarResponse = tracerTraceCreateWithHttpInfo(trace);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param trace  (required)
   * @return ApiResponse&lt;Trace&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Trace> tracerTraceCreateWithHttpInfo(Trace trace) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerTraceCreateRequestBuilder(trace);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerTraceCreate", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Trace>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Trace>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Trace>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerTraceCreateRequestBuilder(Trace trace) throws ApiException {
    // verify the required parameter 'trace' is set
    if (trace == null) {
      throw new ApiException(400, "Missing the required parameter 'trace' when calling tracerTraceCreate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(trace);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param id  (required)
   * @throws ApiException if fails to make API call
   */
  public void tracerTraceDelete(String id) throws ApiException {
    tracerTraceDeleteWithHttpInfo(id);
  }

  /**
   * 
   * 
   * @param id  (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> tracerTraceDeleteWithHttpInfo(String id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerTraceDeleteRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerTraceDelete", localVarResponse);
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
          // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerTraceDeleteRequestBuilder(String id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling tracerTraceDelete");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace/{id}/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Fetch all evaluation template names.
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @return TracerTraceList200Response
   * @throws ApiException if fails to make API call
   */
  public TracerTraceList200Response tracerTraceGetEvalNames(Integer page, Integer limit) throws ApiException {
    ApiResponse<TracerTraceList200Response> localVarResponse = tracerTraceGetEvalNamesWithHttpInfo(page, limit);
    return localVarResponse.getData();
  }

  /**
   * 
   * Fetch all evaluation template names.
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @return ApiResponse&lt;TracerTraceList200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TracerTraceList200Response> tracerTraceGetEvalNamesWithHttpInfo(Integer page, Integer limit) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerTraceGetEvalNamesRequestBuilder(page, limit);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerTraceGetEvalNames", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TracerTraceList200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TracerTraceList200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TracerTraceList200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerTraceGetEvalNamesRequestBuilder(Integer page, Integer limit) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace/get_eval_names/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Export traces filtered by project ID with optimized queries. Auto-detects voice/conversation projects and exports voice-specific fields.
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @return TracerTraceList200Response
   * @throws ApiException if fails to make API call
   */
  public TracerTraceList200Response tracerTraceGetTraceExportData(Integer page, Integer limit) throws ApiException {
    ApiResponse<TracerTraceList200Response> localVarResponse = tracerTraceGetTraceExportDataWithHttpInfo(page, limit);
    return localVarResponse.getData();
  }

  /**
   * 
   * Export traces filtered by project ID with optimized queries. Auto-detects voice/conversation projects and exports voice-specific fields.
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @return ApiResponse&lt;TracerTraceList200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TracerTraceList200Response> tracerTraceGetTraceExportDataWithHttpInfo(Integer page, Integer limit) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerTraceGetTraceExportDataRequestBuilder(page, limit);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerTraceGetTraceExportData", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TracerTraceList200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TracerTraceList200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TracerTraceList200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerTraceGetTraceExportDataRequestBuilder(Integer page, Integer limit) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace/get_trace_export_data/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Get the previous and next trace id by index using efficient database queries.
   * @param traceId  (required)
   * @param projectVersionId  (required)
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @param filters  (optional, default to [])
   * @return TracerTraceList200Response
   * @throws ApiException if fails to make API call
   */
  public TracerTraceList200Response tracerTraceGetTraceIdByIndex(UUID traceId, UUID projectVersionId, Integer page, Integer limit, String filters) throws ApiException {
    ApiResponse<TracerTraceList200Response> localVarResponse = tracerTraceGetTraceIdByIndexWithHttpInfo(traceId, projectVersionId, page, limit, filters);
    return localVarResponse.getData();
  }

  /**
   * 
   * Get the previous and next trace id by index using efficient database queries.
   * @param traceId  (required)
   * @param projectVersionId  (required)
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @param filters  (optional, default to [])
   * @return ApiResponse&lt;TracerTraceList200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TracerTraceList200Response> tracerTraceGetTraceIdByIndexWithHttpInfo(UUID traceId, UUID projectVersionId, Integer page, Integer limit, String filters) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerTraceGetTraceIdByIndexRequestBuilder(traceId, projectVersionId, page, limit, filters);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerTraceGetTraceIdByIndex", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TracerTraceList200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TracerTraceList200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TracerTraceList200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerTraceGetTraceIdByIndexRequestBuilder(UUID traceId, UUID projectVersionId, Integer page, Integer limit, String filters) throws ApiException {
    // verify the required parameter 'traceId' is set
    if (traceId == null) {
      throw new ApiException(400, "Missing the required parameter 'traceId' when calling tracerTraceGetTraceIdByIndex");
    }
    // verify the required parameter 'projectVersionId' is set
    if (projectVersionId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectVersionId' when calling tracerTraceGetTraceIdByIndex");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace/get_trace_id_by_index/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "trace_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("trace_id", traceId));
    localVarQueryParameterBaseName = "project_version_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("project_version_id", projectVersionId));
    localVarQueryParameterBaseName = "filters";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filters", filters));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Get the previous and next trace id by index.
   * @param traceId  (required)
   * @param projectId  (required)
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @param filters  (optional, default to [])
   * @return TracerTraceList200Response
   * @throws ApiException if fails to make API call
   */
  public TracerTraceList200Response tracerTraceGetTraceIdByIndexObserve(UUID traceId, UUID projectId, Integer page, Integer limit, String filters) throws ApiException {
    ApiResponse<TracerTraceList200Response> localVarResponse = tracerTraceGetTraceIdByIndexObserveWithHttpInfo(traceId, projectId, page, limit, filters);
    return localVarResponse.getData();
  }

  /**
   * 
   * Get the previous and next trace id by index.
   * @param traceId  (required)
   * @param projectId  (required)
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @param filters  (optional, default to [])
   * @return ApiResponse&lt;TracerTraceList200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TracerTraceList200Response> tracerTraceGetTraceIdByIndexObserveWithHttpInfo(UUID traceId, UUID projectId, Integer page, Integer limit, String filters) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = tracerTraceGetTraceIdByIndexObserveRequestBuilder(traceId, projectId, page, limit, filters);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("tracerTraceGetTraceIdByIndexObserve", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TracerTraceList200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TracerTraceList200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TracerTraceList200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder tracerTraceGetTraceIdByIndexObserveRequestBuilder(UUID traceId, UUID projectId, Integer page, Integer limit, String filters) throws ApiException {
    // verify the required parameter 'traceId' is set
    if (traceId == null) {
      throw new ApiException(400, "Missing the required parameter 'traceId' when calling tracerTraceGetTraceIdByIndexObserve");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling tracerTraceGetTraceIdByIndexObserve");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace/get_trace_id_by_index_observe/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "trace_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("trace_id", traceId));
    localVarQueryParameterBaseName = "project_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("project_id", projectId));
    localVarQueryParameterBaseName = "filters";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filters", filters));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
[...]
