/*
 * Future AGI Public SDK API
 * The endpoints defined below allow users to programmatically carry out various actions on the Future AGI platform.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: help@futureagi.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.futureagi.sdk.api;

import com.futureagi.sdk.ApiClient;
import com.futureagi.sdk.ApiException;
import com.futureagi.sdk.ApiResponse;
import com.futureagi.sdk.Configuration;
import com.futureagi.sdk.Pair;

import com.futureagi.sdk.model.ApiErrorResponse;
import com.futureagi.sdk.model.BulkAnnotationRequest;
import com.futureagi.sdk.model.BulkAnnotationResponse;
import com.futureagi.sdk.model.FeedDetailApiResponse;
import com.futureagi.sdk.model.FeedListApiResponse;
import com.futureagi.sdk.model.FeedStatsApiResponse;
import com.futureagi.sdk.model.GetAnnotationLabelsResponse;
import com.futureagi.sdk.model.ListTraceProjects200Response;
import com.futureagi.sdk.model.ManagementAPIErrorResponse;
import com.futureagi.sdk.model.ObserveGraphDataRequest;
import com.futureagi.sdk.model.ObserveGraphDataResponse;
import com.futureagi.sdk.model.Trace;
import com.futureagi.sdk.model.TraceSession;
import com.futureagi.sdk.model.TraceSessionGraphDataRequest;
import com.futureagi.sdk.model.TraceTagsUpdate;
import com.futureagi.sdk.model.TracerTraceList200Response;
import com.futureagi.sdk.model.TracerTraceSessionList200Response;
import java.util.UUID;
import com.futureagi.sdk.model.UsersResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.12.0")
public class TracingApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public TracingApi() {
    this(Configuration.getDefaultApiClient());
  }

  public TracingApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * 
   * @param bulkAnnotationRequest  (required)
   * @return BulkAnnotationResponse
   * @throws ApiException if fails to make API call
   */
  public BulkAnnotationResponse createBulkTraceAnnotation(BulkAnnotationRequest bulkAnnotationRequest) throws ApiException {
    ApiResponse<BulkAnnotationResponse> localVarResponse = createBulkTraceAnnotationWithHttpInfo(bulkAnnotationRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param bulkAnnotationRequest  (required)
   * @return ApiResponse&lt;BulkAnnotationResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BulkAnnotationResponse> createBulkTraceAnnotationWithHttpInfo(BulkAnnotationRequest bulkAnnotationRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createBulkTraceAnnotationRequestBuilder(bulkAnnotationRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createBulkTraceAnnotation", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<BulkAnnotationResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<BulkAnnotationResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BulkAnnotationResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createBulkTraceAnnotationRequestBuilder(BulkAnnotationRequest bulkAnnotationRequest) throws ApiException {
    // verify the required parameter 'bulkAnnotationRequest' is set
    if (bulkAnnotationRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'bulkAnnotationRequest' when calling createBulkTraceAnnotation");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/bulk-annotation/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(bulkAnnotationRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * GET + PATCH /tracer/feed/issues/{cluster_id}/
   * @param clusterId  (required)
   * @param projectId  (optional)
   * @return FeedDetailApiResponse
   * @throws ApiException if fails to make API call
   */
  public FeedDetailApiResponse getErrorFeedIssue(String clusterId, UUID projectId) throws ApiException {
    ApiResponse<FeedDetailApiResponse> localVarResponse = getErrorFeedIssueWithHttpInfo(clusterId, projectId);
    return localVarResponse.getData();
  }

  /**
   * 
   * GET + PATCH /tracer/feed/issues/{cluster_id}/
   * @param clusterId  (required)
   * @param projectId  (optional)
   * @return ApiResponse&lt;FeedDetailApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<FeedDetailApiResponse> getErrorFeedIssueWithHttpInfo(String clusterId, UUID projectId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getErrorFeedIssueRequestBuilder(clusterId, projectId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getErrorFeedIssue", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<FeedDetailApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<FeedDetailApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<FeedDetailApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getErrorFeedIssueRequestBuilder(String clusterId, UUID projectId) throws ApiException {
    // verify the required parameter 'clusterId' is set
    if (clusterId == null) {
      throw new ApiException(400, "Missing the required parameter 'clusterId' when calling getErrorFeedIssue");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/feed/issues/{cluster_id}/"
        .replace("{cluster_id}", ApiClient.urlEncode(clusterId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "project_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("project_id", projectId));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * GET /tracer/feed/issues/stats/ — top stats bar totals.
   * @param projectId  (optional)
   * @param timeRangeDays  (optional)
   * @return FeedStatsApiResponse
   * @throws ApiException if fails to make API call
   */
  public FeedStatsApiResponse getErrorFeedIssueStats(UUID projectId, Integer timeRangeDays) throws ApiException {
    ApiResponse<FeedStatsApiResponse> localVarResponse = getErrorFeedIssueStatsWithHttpInfo(projectId, timeRangeDays);
    return localVarResponse.getData();
  }

  /**
   * 
   * GET /tracer/feed/issues/stats/ — top stats bar totals.
   * @param projectId  (optional)
   * @param timeRangeDays  (optional)
   * @return ApiResponse&lt;FeedStatsApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<FeedStatsApiResponse> getErrorFeedIssueStatsWithHttpInfo(UUID projectId, Integer timeRangeDays) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getErrorFeedIssueStatsRequestBuilder(projectId, timeRangeDays);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getErrorFeedIssueStats", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<FeedStatsApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<FeedStatsApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<FeedStatsApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getErrorFeedIssueStatsRequestBuilder(UUID projectId, Integer timeRangeDays) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/feed/issues/stats/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "project_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("project_id", projectId));
    localVarQueryParameterBaseName = "time_range_days";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("time_range_days", timeRangeDays));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Retrieve a trace by its ID.
   * @param id  (required)
   * @return Trace
   * @throws ApiException if fails to make API call
   */
  public Trace getTrace(String id) throws ApiException {
    ApiResponse<Trace> localVarResponse = getTraceWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * 
   * Retrieve a trace by its ID.
   * @param id  (required)
   * @return ApiResponse&lt;Trace&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Trace> getTraceWithHttpInfo(String id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getTraceRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getTrace", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Trace>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Trace>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Trace>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getTraceRequestBuilder(String id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getTrace");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace/{id}/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Fetch data for the observe graph with optimized queries
   * @param observeGraphDataRequest  (required)
   * @return ObserveGraphDataResponse
   * @throws ApiException if fails to make API call
   */
  public ObserveGraphDataResponse getTraceGraphMethods(ObserveGraphDataRequest observeGraphDataRequest) throws ApiException {
    ApiResponse<ObserveGraphDataResponse> localVarResponse = getTraceGraphMethodsWithHttpInfo(observeGraphDataRequest);
    return localVarResponse.getData();
  }

  /**
   * 
   * Fetch data for the observe graph with optimized queries
   * @param observeGraphDataRequest  (required)
   * @return ApiResponse&lt;ObserveGraphDataResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ObserveGraphDataResponse> getTraceGraphMethodsWithHttpInfo(ObserveGraphDataRequest observeGraphDataRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getTraceGraphMethodsRequestBuilder(observeGraphDataRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getTraceGraphMethods", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ObserveGraphDataResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ObserveGraphDataResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ObserveGraphDataResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getTraceGraphMethodsRequestBuilder(ObserveGraphDataRequest observeGraphDataRequest) throws ApiException {
    // verify the required parameter 'observeGraphDataRequest' is set
    if (observeGraphDataRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'observeGraphDataRequest' when calling getTraceGraphMethods");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace/get_graph_methods/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(observeGraphDataRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param id  (required)
   * @return TraceSession
   * @throws ApiException if fails to make API call
   */
  public TraceSession getTraceSession(String id) throws ApiException {
    ApiResponse<TraceSession> localVarResponse = getTraceSessionWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param id  (required)
   * @return ApiResponse&lt;TraceSession&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TraceSession> getTraceSessionWithHttpInfo(String id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getTraceSessionRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getTraceSession", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TraceSession>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TraceSession>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TraceSession>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getTraceSessionRequestBuilder(String id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getTraceSession");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace-session/{id}/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Fetch time-series session metrics for the observe graph.
   * Supports the same metric types as the trace graph endpoint: - SYSTEM_METRIC: latency, tokens, cost, error_rate, session_count,   avg_duration, avg_traces_per_session — all aggregated at session level - EVAL: eval scores averaged across sessions - ANNOTATION: annotation scores averaged across sessions  Response shape matches trace graph: {metric_name, data: [{timestamp, value, primary_traffic}]}
   * @param traceSessionGraphDataRequest  (required)
   * @return TraceSessionGraphDataRequest
   * @throws ApiException if fails to make API call
   */
  public TraceSessionGraphDataRequest getTraceSessionGraphData(TraceSessionGraphDataRequest traceSessionGraphDataRequest) throws ApiException {
    ApiResponse<TraceSessionGraphDataRequest> localVarResponse = getTraceSessionGraphDataWithHttpInfo(traceSessionGraphDataRequest);
    return localVarResponse.getData();
  }

  /**
   * Fetch time-series session metrics for the observe graph.
   * Supports the same metric types as the trace graph endpoint: - SYSTEM_METRIC: latency, tokens, cost, error_rate, session_count,   avg_duration, avg_traces_per_session — all aggregated at session level - EVAL: eval scores averaged across sessions - ANNOTATION: annotation scores averaged across sessions  Response shape matches trace graph: {metric_name, data: [{timestamp, value, primary_traffic}]}
   * @param traceSessionGraphDataRequest  (required)
   * @return ApiResponse&lt;TraceSessionGraphDataRequest&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TraceSessionGraphDataRequest> getTraceSessionGraphDataWithHttpInfo(TraceSessionGraphDataRequest traceSessionGraphDataRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getTraceSessionGraphDataRequestBuilder(traceSessionGraphDataRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getTraceSessionGraphData", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TraceSessionGraphDataRequest>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TraceSessionGraphDataRequest>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TraceSessionGraphDataRequest>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getTraceSessionGraphDataRequestBuilder(TraceSessionGraphDataRequest traceSessionGraphDataRequest) throws ApiException {
    // verify the required parameter 'traceSessionGraphDataRequest' is set
    if (traceSessionGraphDataRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'traceSessionGraphDataRequest' when calling getTraceSessionGraphData");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace-session/get_session_graph_data/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(traceSessionGraphDataRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Return the heavy / detail-only fields for a single voice call.
   * Query params: - trace_id (required) — UUID of the voice call trace.
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @return TracerTraceList200Response
   * @throws ApiException if fails to make API call
   */
  public TracerTraceList200Response getVoiceCallDetail(Integer page, Integer limit) throws ApiException {
    ApiResponse<TracerTraceList200Response> localVarResponse = getVoiceCallDetailWithHttpInfo(page, limit);
    return localVarResponse.getData();
  }

  /**
   * Return the heavy / detail-only fields for a single voice call.
   * Query params: - trace_id (required) — UUID of the voice call trace.
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @return ApiResponse&lt;TracerTraceList200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TracerTraceList200Response> getVoiceCallDetailWithHttpInfo(Integer page, Integer limit) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getVoiceCallDetailRequestBuilder(page, limit);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getVoiceCallDetail", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TracerTraceList200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TracerTraceList200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TracerTraceList200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getVoiceCallDetailRequestBuilder(Integer page, Integer limit) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace/voice_call_detail/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * GET /tracer/feed/issues/ — paginated cluster list with filters/sort.
   * @param projectId  (optional)
   * @param search  (optional)
   * @param status  (optional)
   * @param fixLayer  (optional)
   * @param source  (optional)
   * @param issueGroup  (optional)
   * @param timeRangeDays  (optional)
   * @param sortBy  (optional, default to last_seen)
   * @param sortDir  (optional, default to desc)
   * @param limit  (optional, default to 25)
   * @param offset  (optional, default to 0)
   * @return FeedListApiResponse
   * @throws ApiException if fails to make API call
   */
  public FeedListApiResponse listErrorFeedIssues(UUID projectId, String search, String status, String fixLayer, String source, String issueGroup, Integer timeRangeDays, String sortBy, String sortDir, Integer limit, Integer offset) throws ApiException {
    ApiResponse<FeedListApiResponse> localVarResponse = listErrorFeedIssuesWithHttpInfo(projectId, search, status, fixLayer, source, issueGroup, timeRangeDays, sortBy, sortDir, limit, offset);
    return localVarResponse.getData();
  }

  /**
   * 
   * GET /tracer/feed/issues/ — paginated cluster list with filters/sort.
   * @param projectId  (optional)
   * @param search  (optional)
   * @param status  (optional)
   * @param fixLayer  (optional)
   * @param source  (optional)
   * @param issueGroup  (optional)
   * @param timeRangeDays  (optional)
   * @param sortBy  (optional, default to last_seen)
   * @param sortDir  (optional, default to desc)
   * @param limit  (optional, default to 25)
   * @param offset  (optional, default to 0)
   * @return ApiResponse&lt;FeedListApiResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<FeedListApiResponse> listErrorFeedIssuesWithHttpInfo(UUID projectId, String search, String status, String fixLayer, String source, String issueGroup, Integer timeRangeDays, String sortBy, String sortDir, Integer limit, Integer offset) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listErrorFeedIssuesRequestBuilder(projectId, search, status, fixLayer, source, issueGroup, timeRangeDays, sortBy, sortDir, limit, offset);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listErrorFeedIssues", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<FeedListApiResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<FeedListApiResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<FeedListApiResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listErrorFeedIssuesRequestBuilder(UUID projectId, String search, String status, String fixLayer, String source, String issueGroup, Integer timeRangeDays, String sortBy, String sortDir, Integer limit, Integer offset) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/feed/issues/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "project_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("project_id", projectId));
    localVarQueryParameterBaseName = "search";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("search", search));
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParameterBaseName = "fix_layer";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("fix_layer", fixLayer));
    localVarQueryParameterBaseName = "source";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("source", source));
    localVarQueryParameterBaseName = "issue_group";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("issue_group", issueGroup));
    localVarQueryParameterBaseName = "time_range_days";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("time_range_days", timeRangeDays));
    localVarQueryParameterBaseName = "sort_by";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort_by", sortBy));
    localVarQueryParameterBaseName = "sort_dir";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort_dir", sortDir));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "offset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param projectId  (optional)
   * @return GetAnnotationLabelsResponse
   * @throws ApiException if fails to make API call
   */
  public GetAnnotationLabelsResponse listTraceAnnotationLabels(UUID projectId) throws ApiException {
    ApiResponse<GetAnnotationLabelsResponse> localVarResponse = listTraceAnnotationLabelsWithHttpInfo(projectId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param projectId  (optional)
   * @return ApiResponse&lt;GetAnnotationLabelsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GetAnnotationLabelsResponse> listTraceAnnotationLabelsWithHttpInfo(UUID projectId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listTraceAnnotationLabelsRequestBuilder(projectId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listTraceAnnotationLabels", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GetAnnotationLabelsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GetAnnotationLabelsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GetAnnotationLabelsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listTraceAnnotationLabelsRequestBuilder(UUID projectId) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/get-annotation-labels/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "project_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("project_id", projectId));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List projects filtered by organization ID.
   * Volume counts come from ClickHouse (fast) instead of a PG JOIN on observation_spans (was 12+ seconds).
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @return ListTraceProjects200Response
   * @throws ApiException if fails to make API call
   */
  public ListTraceProjects200Response listTraceProjects(Integer page, Integer limit) throws ApiException {
    ApiResponse<ListTraceProjects200Response> localVarResponse = listTraceProjectsWithHttpInfo(page, limit);
    return localVarResponse.getData();
  }

  /**
   * List projects filtered by organization ID.
   * Volume counts come from ClickHouse (fast) instead of a PG JOIN on observation_spans (was 12+ seconds).
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @return ApiResponse&lt;ListTraceProjects200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ListTraceProjects200Response> listTraceProjectsWithHttpInfo(Integer page, Integer limit) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listTraceProjectsRequestBuilder(page, limit);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listTraceProjects", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ListTraceProjects200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ListTraceProjects200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ListTraceProjects200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listTraceProjectsRequestBuilder(Integer page, Integer limit) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/project/list_projects/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Fetch all properties for graphing.
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @return TracerTraceList200Response
   * @throws ApiException if fails to make API call
   */
  public TracerTraceList200Response listTraceProperties(Integer page, Integer limit) throws ApiException {
    ApiResponse<TracerTraceList200Response> localVarResponse = listTracePropertiesWithHttpInfo(page, limit);
    return localVarResponse.getData();
  }

  /**
   * 
   * Fetch all properties for graphing.
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @return ApiResponse&lt;TracerTraceList200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TracerTraceList200Response> listTracePropertiesWithHttpInfo(Integer page, Integer limit) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listTracePropertiesRequestBuilder(page, limit);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listTraceProperties", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TracerTraceList200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TracerTraceList200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TracerTraceList200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listTracePropertiesRequestBuilder(Integer page, Integer limit) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace/get_properties/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * List traces filtered by project ID and project version ID with optimized queries.
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @param projectId  (optional)
   * @param userId  (optional)
   * @param bookmarked  (optional)
   * @param filters  (optional, default to [])
   * @param sortParams  (optional, default to [])
   * @param pageNumber  (optional, default to 0)
   * @param pageSize  (optional, default to 30)
   * @param interval  (optional)
   * @return TracerTraceSessionList200Response
   * @throws ApiException if fails to make API call
   */
  public TracerTraceSessionList200Response listTraceSessions(Integer page, Integer limit, UUID projectId, String userId, Boolean bookmarked, String filters, String sortParams, Integer pageNumber, Integer pageSize, String interval) throws ApiException {
    ApiResponse<TracerTraceSessionList200Response> localVarResponse = listTraceSessionsWithHttpInfo(page, limit, projectId, userId, bookmarked, filters, sortParams, pageNumber, pageSize, interval);
    return localVarResponse.getData();
  }

  /**
   * 
   * List traces filtered by project ID and project version ID with optimized queries.
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @param projectId  (optional)
   * @param userId  (optional)
   * @param bookmarked  (optional)
   * @param filters  (optional, default to [])
   * @param sortParams  (optional, default to [])
   * @param pageNumber  (optional, default to 0)
   * @param pageSize  (optional, default to 30)
   * @param interval  (optional)
   * @return ApiResponse&lt;TracerTraceSessionList200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TracerTraceSessionList200Response> listTraceSessionsWithHttpInfo(Integer page, Integer limit, UUID projectId, String userId, Boolean bookmarked, String filters, String sortParams, Integer pageNumber, Integer pageSize, String interval) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listTraceSessionsRequestBuilder(page, limit, projectId, userId, bookmarked, filters, sortParams, pageNumber, pageSize, interval);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listTraceSessions", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TracerTraceSessionList200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TracerTraceSessionList200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TracerTraceSessionList200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listTraceSessionsRequestBuilder(Integer page, Integer limit, UUID projectId, String userId, Boolean bookmarked, String filters, String sortParams, Integer pageNumber, Integer pageSize, String interval) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace-session/list_sessions/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "project_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("project_id", projectId));
    localVarQueryParameterBaseName = "user_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("user_id", userId));
    localVarQueryParameterBaseName = "bookmarked";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("bookmarked", bookmarked));
    localVarQueryParameterBaseName = "filters";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filters", filters));
    localVarQueryParameterBaseName = "sort_params";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort_params", sortParams));
    localVarQueryParameterBaseName = "page_number";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_number", pageNumber));
    localVarQueryParameterBaseName = "page_size";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_size", pageSize));
    localVarQueryParameterBaseName = "interval";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("interval", interval));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * List traces filtered by project ID with optimized queries.
   * @param projectId  (optional)
   * @param search  (optional)
   * @param pageSize  (optional)
   * @param currentPageIndex  (optional)
   * @param sortParams  (optional, default to [])
   * @param filters  (optional, default to [])
   * @return UsersResponse
   * @throws ApiException if fails to make API call
   */
  public UsersResponse listTraceUsers(UUID projectId, String search, Integer pageSize, Integer currentPageIndex, String sortParams, String filters) throws ApiException {
    ApiResponse<UsersResponse> localVarResponse = listTraceUsersWithHttpInfo(projectId, search, pageSize, currentPageIndex, sortParams, filters);
    return localVarResponse.getData();
  }

  /**
   * 
   * List traces filtered by project ID with optimized queries.
   * @param projectId  (optional)
   * @param search  (optional)
   * @param pageSize  (optional)
   * @param currentPageIndex  (optional)
   * @param sortParams  (optional, default to [])
   * @param filters  (optional, default to [])
   * @return ApiResponse&lt;UsersResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<UsersResponse> listTraceUsersWithHttpInfo(UUID projectId, String search, Integer pageSize, Integer currentPageIndex, String sortParams, String filters) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listTraceUsersRequestBuilder(projectId, search, pageSize, currentPageIndex, sortParams, filters);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listTraceUsers", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<UsersResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<UsersResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<UsersResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listTraceUsersRequestBuilder(UUID projectId, String search, Integer pageSize, Integer currentPageIndex, String sortParams, String filters) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/users/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "project_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("project_id", projectId));
    localVarQueryParameterBaseName = "search";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("search", search));
    localVarQueryParameterBaseName = "page_size";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_size", pageSize));
    localVarQueryParameterBaseName = "current_page_index";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("current_page_index", currentPageIndex));
    localVarQueryParameterBaseName = "sort_params";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort_params", sortParams));
    localVarQueryParameterBaseName = "filters";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filters", filters));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * List traces filtered by project ID and project version ID with optimized queries.
   * @param projectVersionId  (required)
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @param traceIds  (optional)
   * @param filters  (optional, default to [])
   * @param sortParams  (optional, default to [])
   * @param pageNumber  (optional, default to 0)
   * @param pageSize  (optional, default to 30)
   * @return TracerTraceList200Response
   * @throws ApiException if fails to make API call
   */
  public TracerTraceList200Response listTraces(UUID projectVersionId, Integer page, Integer limit, String traceIds, String filters, String sortParams, Integer pageNumber, Integer pageSize) throws ApiException {
    ApiResponse<TracerTraceList200Response> localVarResponse = listTracesWithHttpInfo(projectVersionId, page, limit, traceIds, filters, sortParams, pageNumber, pageSize);
    return localVarResponse.getData();
  }

  /**
   * 
   * List traces filtered by project ID and project version ID with optimized queries.
   * @param projectVersionId  (required)
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @param traceIds  (optional)
   * @param filters  (optional, default to [])
   * @param sortParams  (optional, default to [])
   * @param pageNumber  (optional, default to 0)
   * @param pageSize  (optional, default to 30)
   * @return ApiResponse&lt;TracerTraceList200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TracerTraceList200Response> listTracesWithHttpInfo(UUID projectVersionId, Integer page, Integer limit, String traceIds, String filters, String sortParams, Integer pageNumber, Integer pageSize) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listTracesRequestBuilder(projectVersionId, page, limit, traceIds, filters, sortParams, pageNumber, pageSize);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listTraces", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TracerTraceList200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TracerTraceList200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TracerTraceList200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listTracesRequestBuilder(UUID projectVersionId, Integer page, Integer limit, String traceIds, String filters, String sortParams, Integer pageNumber, Integer pageSize) throws ApiException {
    // verify the required parameter 'projectVersionId' is set
    if (projectVersionId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectVersionId' when calling listTraces");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace/list_traces/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "project_version_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("project_version_id", projectVersionId));
    localVarQueryParameterBaseName = "trace_ids";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("trace_ids", traceIds));
    localVarQueryParameterBaseName = "filters";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filters", filters));
    localVarQueryParameterBaseName = "sort_params";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort_params", sortParams));
    localVarQueryParameterBaseName = "page_number";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_number", pageNumber));
    localVarQueryParameterBaseName = "page_size";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page_size", pageSize));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * List voice/conversation traces for a project in an optimized way and return a response similar to the provided call object schema.  Query params: - project_id (required) - page (1-based, optional, default 1) - page_size (optional, default 30)
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @return TracerTraceList200Response
   * @throws ApiException if fails to make API call
   */
  public TracerTraceList200Response listVoiceCalls(Integer page, Integer limit) throws ApiException {
    ApiResponse<TracerTraceList200Response> localVarResponse = listVoiceCallsWithHttpInfo(page, limit);
    return localVarResponse.getData();
  }

  /**
   * 
   * List voice/conversation traces for a project in an optimized way and return a response similar to the provided call object schema.  Query params: - project_id (required) - page (1-based, optional, default 1) - page_size (optional, default 30)
   * @param page A page number within the paginated result set. (optional)
   * @param limit Number of results to return per page. (optional)
   * @return ApiResponse&lt;TracerTraceList200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TracerTraceList200Response> listVoiceCallsWithHttpInfo(Integer page, Integer limit) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listVoiceCallsRequestBuilder(page, limit);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listVoiceCalls", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TracerTraceList200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TracerTraceList200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TracerTraceList200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listVoiceCallsRequestBuilder(Integer page, Integer limit) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace/list_voice_calls/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Update tags for a trace.
   * @param id  (required)
   * @param traceTagsUpdate  (required)
   * @return TraceTagsUpdate
   * @throws ApiException if fails to make API call
   */
  public TraceTagsUpdate updateTraceTags(String id, TraceTagsUpdate traceTagsUpdate) throws ApiException {
    ApiResponse<TraceTagsUpdate> localVarResponse = updateTraceTagsWithHttpInfo(id, traceTagsUpdate);
    return localVarResponse.getData();
  }

  /**
   * 
   * Update tags for a trace.
   * @param id  (required)
   * @param traceTagsUpdate  (required)
   * @return ApiResponse&lt;TraceTagsUpdate&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TraceTagsUpdate> updateTraceTagsWithHttpInfo(String id, TraceTagsUpdate traceTagsUpdate) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateTraceTagsRequestBuilder(id, traceTagsUpdate);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateTraceTags", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TraceTagsUpdate>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TraceTagsUpdate>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TraceTagsUpdate>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateTraceTagsRequestBuilder(String id, TraceTagsUpdate traceTagsUpdate) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling updateTraceTags");
    }
    // verify the required parameter 'traceTagsUpdate' is set
    if (traceTagsUpdate == null) {
      throw new ApiException(400, "Missing the required parameter 'traceTagsUpdate' when calling updateTraceTags");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tracer/trace/{id}/tags/"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(traceTagsUpdate);
      localVarRequestBuilder.method("PATCH", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
