/*
 * Future AGI Public SDK API
 * The endpoints defined below allow users to programmatically carry out various actions on the Future AGI platform.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: help@futureagi.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.futureagi.sdk.api;

import com.futureagi.sdk.ApiClient;
import com.futureagi.sdk.ApiException;
import com.futureagi.sdk.ApiResponse;
import com.futureagi.sdk.Configuration;
import com.futureagi.sdk.Pair;

import com.futureagi.sdk.model.AccountsErrorResponse;
import com.futureagi.sdk.model.ManagementAPIErrorResponse;
import com.futureagi.sdk.model.MemberListResponse;
import com.futureagi.sdk.model.SwitchWorkspace;
import com.futureagi.sdk.model.SwitchWorkspaceResponse;
import com.futureagi.sdk.model.UserInfoResponse;
import com.futureagi.sdk.model.WorkspaceListPaginatedResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.12.0")
public class UsersApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public UsersApi() {
    this(Configuration.getDefaultApiClient());
  }

  public UsersApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * 
   * @return UserInfoResponse
   * @throws ApiException if fails to make API call
   */
  public UserInfoResponse getCurrentUser() throws ApiException {
    ApiResponse<UserInfoResponse> localVarResponse = getCurrentUserWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @return ApiResponse&lt;UserInfoResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<UserInfoResponse> getCurrentUserWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getCurrentUserRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getCurrentUser", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<UserInfoResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<UserInfoResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<UserInfoResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getCurrentUserRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/accounts/user-info/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * GET /accounts/organization/members/
   * Returns UNION of active members + pending/expired invites. Status is derived at query time (Active / Pending / Expired).
   * @param page  (optional, default to 1)
   * @param limit  (optional, default to 20)
   * @param search  (optional, default to )
   * @param filterStatus  (optional)
   * @param filterRole  (optional)
   * @param sort  (optional, default to -created_at)
   * @return MemberListResponse
   * @throws ApiException if fails to make API call
   */
  public MemberListResponse listOrganizationMembers(Integer page, Integer limit, String search, List<String> filterStatus, List<String> filterRole, String sort) throws ApiException {
    ApiResponse<MemberListResponse> localVarResponse = listOrganizationMembersWithHttpInfo(page, limit, search, filterStatus, filterRole, sort);
    return localVarResponse.getData();
  }

  /**
   * GET /accounts/organization/members/
   * Returns UNION of active members + pending/expired invites. Status is derived at query time (Active / Pending / Expired).
   * @param page  (optional, default to 1)
   * @param limit  (optional, default to 20)
   * @param search  (optional, default to )
   * @param filterStatus  (optional)
   * @param filterRole  (optional)
   * @param sort  (optional, default to -created_at)
   * @return ApiResponse&lt;MemberListResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<MemberListResponse> listOrganizationMembersWithHttpInfo(Integer page, Integer limit, String search, List<String> filterStatus, List<String> filterRole, String sort) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listOrganizationMembersRequestBuilder(page, limit, search, filterStatus, filterRole, sort);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listOrganizationMembers", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<MemberListResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<MemberListResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<MemberListResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listOrganizationMembersRequestBuilder(Integer page, Integer limit, String search, List<String> filterStatus, List<String> filterRole, String sort) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/accounts/organization/members/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "search";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("search", search));
    localVarQueryParameterBaseName = "filter_status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("csv", "filter_status", filterStatus));
    localVarQueryParameterBaseName = "filter_role";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("csv", "filter_role", filterRole));
    localVarQueryParameterBaseName = "sort";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort", sort));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * GET /accounts/workspace/&lt;workspace_id&gt;/members/
   * Returns members of a specific workspace. Org Admin+ users who auto-access are included with derived WS Admin role.
   * @param workspaceId  (required)
   * @param page  (optional, default to 1)
   * @param limit  (optional, default to 20)
   * @param search  (optional, default to )
   * @param filterStatus  (optional)
   * @param filterRole  (optional)
   * @param sort  (optional, default to -created_at)
   * @return MemberListResponse
   * @throws ApiException if fails to make API call
   */
  public MemberListResponse listWorkspaceMembers(String workspaceId, Integer page, Integer limit, String search, List<String> filterStatus, List<String> filterRole, String sort) throws ApiException {
    ApiResponse<MemberListResponse> localVarResponse = listWorkspaceMembersWithHttpInfo(workspaceId, page, limit, search, filterStatus, filterRole, sort);
    return localVarResponse.getData();
  }

  /**
   * GET /accounts/workspace/&lt;workspace_id&gt;/members/
   * Returns members of a specific workspace. Org Admin+ users who auto-access are included with derived WS Admin role.
   * @param workspaceId  (required)
   * @param page  (optional, default to 1)
   * @param limit  (optional, default to 20)
   * @param search  (optional, default to )
   * @param filterStatus  (optional)
   * @param filterRole  (optional)
   * @param sort  (optional, default to -created_at)
   * @return ApiResponse&lt;MemberListResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<MemberListResponse> listWorkspaceMembersWithHttpInfo(String workspaceId, Integer page, Integer limit, String search, List<String> filterStatus, List<String> filterRole, String sort) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listWorkspaceMembersRequestBuilder(workspaceId, page, limit, search, filterStatus, filterRole, sort);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listWorkspaceMembers", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<MemberListResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<MemberListResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<MemberListResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listWorkspaceMembersRequestBuilder(String workspaceId, Integer page, Integer limit, String search, List<String> filterStatus, List<String> filterRole, String sort) throws ApiException {
    // verify the required parameter 'workspaceId' is set
    if (workspaceId == null) {
      throw new ApiException(400, "Missing the required parameter 'workspaceId' when calling listWorkspaceMembers");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/accounts/workspace/{workspace_id}/members/"
        .replace("{workspace_id}", ApiClient.urlEncode(workspaceId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "search";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("search", search));
    localVarQueryParameterBaseName = "filter_status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("csv", "filter_status", filterStatus));
    localVarQueryParameterBaseName = "filter_role";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("csv", "filter_role", filterRole));
    localVarQueryParameterBaseName = "sort";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort", sort));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Get paginated list of workspaces
   * @param page  (optional, default to 1)
   * @param limit  (optional, default to 10)
   * @param search  (optional, default to )
   * @param sort  (optional, default to )
   * @return WorkspaceListPaginatedResponse
   * @throws ApiException if fails to make API call
   */
  public WorkspaceListPaginatedResponse listWorkspaces(Integer page, Integer limit, String search, String sort) throws ApiException {
    ApiResponse<WorkspaceListPaginatedResponse> localVarResponse = listWorkspacesWithHttpInfo(page, limit, search, sort);
    return localVarResponse.getData();
  }

  /**
   * 
   * Get paginated list of workspaces
   * @param page  (optional, default to 1)
   * @param limit  (optional, default to 10)
   * @param search  (optional, default to )
   * @param sort  (optional, default to )
   * @return ApiResponse&lt;WorkspaceListPaginatedResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<WorkspaceListPaginatedResponse> listWorkspacesWithHttpInfo(Integer page, Integer limit, String search, String sort) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listWorkspacesRequestBuilder(page, limit, search, sort);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listWorkspaces", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<WorkspaceListPaginatedResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<WorkspaceListPaginatedResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<WorkspaceListPaginatedResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listWorkspacesRequestBuilder(Integer page, Integer limit, String search, String sort) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/accounts/workspace/list/";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "search";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("search", search));
    localVarQueryParameterBaseName = "sort";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort", sort));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * Switch to a different workspace with proper validation
   * @param switchWorkspace  (required)
   * @return SwitchWorkspaceResponse
   * @throws ApiException if fails to make API call
   */
  public SwitchWorkspaceResponse switchWorkspace(SwitchWorkspace switchWorkspace) throws ApiException {
    ApiResponse<SwitchWorkspaceResponse> localVarResponse = switchWorkspaceWithHttpInfo(switchWorkspace);
    return localVarResponse.getData();
  }

  /**
   * 
   * Switch to a different workspace with proper validation
   * @param switchWorkspace  (required)
   * @return ApiResponse&lt;SwitchWorkspaceResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SwitchWorkspaceResponse> switchWorkspaceWithHttpInfo(SwitchWorkspace switchWorkspace) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = switchWorkspaceRequestBuilder(switchWorkspace);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("switchWorkspace", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<SwitchWorkspaceResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<SwitchWorkspaceResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<SwitchWorkspaceResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder switchWorkspaceRequestBuilder(SwitchWorkspace switchWorkspace) throws ApiException {
    // verify the required parameter 'switchWorkspace' is set
    if (switchWorkspace == null) {
      throw new ApiException(400, "Missing the required parameter 'switchWorkspace' when calling switchWorkspace");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/accounts/workspace/switch/";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(switchWorkspace);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
